{{- $page := . -}}
<div class="section--comments">
  {{- partials.IncludeCached "content/components/comment-form.html" $page $page -}}
</div>
<div class="section--meta">
  {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "article-meta-start" "context" . ) -}}
  {{- partials.IncludeCached "content/meta/meta-publisher.html" $page $page -}}
  {{- partials.IncludeCached "content/meta/meta-links.html" $page $page -}}
  {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "article-meta-end" "context" . ) -}}
</div>

{{- partials.IncludeCached "content/sections/related.html" $page $page.Params.tags -}}
