{{- define "main" -}}
<section class="section--content">
  <div class="container">
    <div class="row">
				{{- $articleclasses := partialCached "func/getArticleClasses.html" . . -}}
        <article class="{{- $articleclasses -}}">
          <h1 class="h2"><a href="{{ .Permalink }}">Archive</a></h1>
        <div class="prose component--archive-card">
          {{/* {{ $archive := where $.Site.RegularPages "Section" "blog" }}
          {{ range $index, $item := sort $archive "Date" "desc" }} */}}
					{{- $paginator := .Scratch.Get "paginator" -}}
		      {{- range $index, $item := $paginator.Pages -}}
            <div class="flex-row d-flex">
                <div class="me-3 text-end is--date">
                  {{- $item.PublishDate.Format "January 2, 2006" -}}
                </div>
                <div class="is--content">
                  <h2>
                    <a href="{{ $item.Permalink }}">
                      {{- $item.Title -}}
                    </a>
                  </h2>
                  <p>{{- $item.Summary -}}</p>
                  {{- partialCached "components/tags/tags.html" . . -}}
                </div>
            </div>
          {{- end -}}
        </div>
      </article>
    </div>
    {{ partial "components/pagination/pagination-simple.html" . . }}
  </div>
</section>
{{- end -}}
