html {
  scroll-behavior: smooth;
}

html:has(.kind-404) {
  background: url("/assets/images/404.jpg") no-repeat center center fixed;
  background-size: cover;

  body {
    background-color: color-mix(in srgb, var(--bs-body-bg) 90%, transparent);
  }
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/*******************************************************************************
 * content area
 ******************************************************************************/
main {
  padding-top: $heading-height + 30px;

  @extend .min-vh-100;
  @extend .mb-0;
}

a.text-hover-decoration-none:hover {
  @extend .text-decoration-none;
}

.alert {
  a {
    /// adds colors to all links inside alerts
    @extend .alert-link;
  }

  /// remove unnessary margin from last paragraph in alerts
  p:last-of-type {
    @extend .mb-0;
  }
}

.scroll-container {
  scroll-snap-type: y mandatory; // proximity
}

.scroll-child {
  scroll-snap-align: start;
}

.is--clickable {
  cursor: pointer;
}

input:autofill {
  @extend .border-1;
  @extend .border-primary;
}

textarea {
  field-sizing: content; // default is `fixed`
  height: 10rem;
  min-height: 10rem;
}

.site-title {
  font-size: 17vw;

  // @link https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
  @include media-breakpoint-up(sm) {
    font-size: 12vw;
  }

  @include media-breakpoint-up(xl) {
    font-size: 180px;
  }

  @extend .fw-semibold;
  @extend .lh-1;
  @extend .text-center;
  @extend .text-primary;

  a {
    @extend .text-decoration-none;

    :hover {
      @extend .text-decoration-none;
    }
  }
}
