

{{- $type := "list" -}}
{{- with .type -}}
  {{- $type = . -}}
{{- end -}}

{{- $icon := "tag-fill" -}}
{{- with .icon -}}
  {{- $icon = . -}}
{{- end -}}

{{- $page := .context -}}

{{- if compare.Eq (.type | compare.Default "page") "page" -}}
  {{- range .tags -}}
    {{- partials.IncludeCached "tags/single-tag.html" . . -}}
  {{- end -}}
{{- else -}}
  {{- partials.Include "tags/taglist.html" (dict "context" $page) -}}
{{- end -}}

{{- define "partials/tags/taglist.html" -}}

  {{- $config := site.Params.dnb.theme -}}
  {{- $page := .context -}}
  {{- $current := dict -}}
  {{ with $page.Name }}
    {{- $current = . -}}
  {{ end }}

  <div class="container">
    <div class="row py-6">
      <div class="col text-center">
        <ul class="list-inline">
          {{- range (collections.Index site.Taxonomies $page.Type) -}}
            {{- if compare.Gt .Count ($config.tags.threshold_for_overview) -}}
              <li class="list-inline-item mx-2">
                <a href="{{- .Page.RelPermalink -}}" class="text-decoration-none">
                  {{- if compare.Eq $current .Page.Name -}}<strong>{{- end -}}
                  {{- partials.Include "icon.html" "tag-fill" -}}
                  {{- .Page.Name }} ({{ .Count -}})
                  {{- if compare.Eq $current .Page.Name -}}</strong>{{- end -}}
                </a>
              </li>
            {{- end -}}
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
{{- end -}}

{{- define "partials/tags/single-tag.html" -}}
  <span
    class="badge {{ with .Params.class -}}
      text-bg-{{ . }}
    {{ else }}
      text-bg-light
    {{ end }} ms-2">
    {{ with .Params.icon -}}
      {{ partials.Include "icon.html" . }}
    {{ end }}
    <a rel="tag" href="{{- .Permalink -}}">#{{- .Title | strings.ToLower -}}</a>
  </span>
{{- end -}}
