$fontpath: '/assets/webfonts/tomkin/Tomkin' !default;

@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinThin/Tomkin-Thin.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinThin/Tomkin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinThin/Tomkin-Thin.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinThin/Tomkin-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinThin/Tomkin-Thin.svg#Tomkin-Thin') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinThin/Tomkin-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinThin/Tomkin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinThin/Tomkin-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinThin/Tomkin-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinThin/Tomkin-ThinItalic.svg#Tomkin-ThinItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLight.svg#Tomkin-ExtraLight') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinExtraLight/Tomkin-ExtraLightItalic.svg#Tomkin-ExtraLightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinLight/Tomkin-Light.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinLight/Tomkin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinLight/Tomkin-Light.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinLight/Tomkin-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinLight/Tomkin-Light.svg#Tomkin-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinLight/Tomkin-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinLight/Tomkin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinLight/Tomkin-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinLight/Tomkin-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinLight/Tomkin-LightItalic.svg#Tomkin-LightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLight.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLight.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLight.svg#Tomkin-SemiLight') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinSemiLight/Tomkin-SemiLightItalic.svg#Tomkin-SemiLightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 400l;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinRegular/Tomkin-Italic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinRegular/Tomkin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinRegular/Tomkin-Italic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinRegular/Tomkin-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinRegular/Tomkin-Italic.svg#Tomkin-Italic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinRegular/Tomkin-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinRegular/Tomkin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinRegular/Tomkin-Regular.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinRegular/Tomkin-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinRegular/Tomkin-Regular.svg#Tomkin-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinMedium/Tomkin-Medium.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinMedium/Tomkin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinMedium/Tomkin-Medium.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinMedium/Tomkin-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinMedium/Tomkin-Medium.svg#Tomkin-Medium') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinMedium/Tomkin-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinMedium/Tomkin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinMedium/Tomkin-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinMedium/Tomkin-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinMedium/Tomkin-MediumItalic.svg#Tomkin-MediumItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinBold/Tomkin-Bold.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinBold/Tomkin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinBold/Tomkin-Bold.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinBold/Tomkin-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinBold/Tomkin-Bold.svg#Tomkin-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinBold/Tomkin-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinBold/Tomkin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinBold/Tomkin-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinBold/Tomkin-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinBold/Tomkin-BoldItalic.svg#Tomkin-BoldItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBold.svg#Tomkin-ExtraBold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinExtraBold/Tomkin-ExtraBoldItalic.svg#Tomkin-ExtraBoldItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinBlack/Tomkin-Black.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinBlack/Tomkin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinBlack/Tomkin-Black.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinBlack/Tomkin-Black.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinBlack/Tomkin-Black.svg#Tomkin-Black') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Tomkin;
  src: url('#{$fontpath}/TomkinBlack/Tomkin-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath}/TomkinBlack/Tomkin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath}/TomkinBlack/Tomkin-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath}/TomkinBlack/Tomkin-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath}/TomkinBlack/Tomkin-BlackItalic.svg#Tomkin-BlackItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

$fontpath2: '/assets/webfonts/tomkin/TomkinCondense' !default;
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-Thin.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-Thin.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-Thin.svg#TomkinCondense-Thin') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseThin/TomkinCondense-ThinItalic.svg#TomkinCondense-ThinItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtLtIta.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtLtIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtLtIta.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtLtIta.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtLtIta.svg#TomkinCondense-ExtLtIta') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseExtraLight/TomkinCondense-ExtraLight.svg#TomkinCondense-ExtraLight') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-Light.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-Light.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-Light.svg#TomkinCondense-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseLight/TomkinCondense-LightItalic.svg#TomkinCondense-LightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Italic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Italic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Italic.svg#TomkinCondense-Italic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Regular.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseRegular/TomkinCondense-Regular.svg#TomkinCondense-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemiLight.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemiLight.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemiLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemiLight.svg#TomkinCondense-SemiLight') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemLtIta.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemLtIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemLtIta.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemLtIta.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseSemiLight/TomkinCondense-SemLtIta.svg#TomkinCondense-SemLtIta') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-Medium.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-Medium.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-Medium.svg#TomkinCondense-Medium') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseMedium/TomkinCondense-MediumItalic.svg#TomkinCondense-MediumItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-Bold.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-Bold.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-Bold.svg#TomkinCondense-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseBold/TomkinCondense-BoldItalic.svg#TomkinCondense-BoldItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtBdIta.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtBdIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtBdIta.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtBdIta.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtBdIta.svg#TomkinCondense-ExtBdIta') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseExtraBold/TomkinCondense-ExtraBold.svg#TomkinCondense-ExtraBold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-Black.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-Black.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-Black.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-Black.svg#TomkinCondense-Black') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: TomkinCondense;
  src: url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath2}/TomkinCondenseBlack/TomkinCondense-BlackItalic.svg#TomkinCondense-BlackItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

$fontpath3: '/assets/webfonts/tomkin/TomkinNarrow' !default;
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-Thin.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-Thin.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-Thin.svg#TomkinNarrow-Thin') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowThin/TomkinNarrow-ThinItalic.svg#TomkinNarrow-ThinItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLight.svg#TomkinNarrow-ExtraLight') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowExtraLight/TomkinNarrow-ExtraLightItalic.svg#TomkinNarrow-ExtraLightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-Light.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-Light.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-Light.svg#TomkinNarrow-Light') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowLight/TomkinNarrow-LightItalic.svg#TomkinNarrow-LightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLight.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLight.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLight.svg#TomkinNarrow-SemiLight') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLightItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLightItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowSemiLight/TomkinNarrow-SemiLightItalic.svg#TomkinNarrow-SemiLightItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Italic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Italic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Italic.svg#TomkinNarrow-Italic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Regular.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowRegular/TomkinNarrow-Regular.svg#TomkinNarrow-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-Medium.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-Medium.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-Medium.svg#TomkinNarrow-Medium') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowMedium/TomkinNarrow-MediumItalic.svg#TomkinNarrow-MediumItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-Bold.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-Bold.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-Bold.svg#TomkinNarrow-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowBold/TomkinNarrow-BoldItalic.svg#TomkinNarrow-BoldItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBold.svg#TomkinNarrow-ExtraBold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowExtraBold/TomkinNarrow-ExtraBoldItalic.svg#TomkinNarrow-ExtraBoldItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-Black.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-Black.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-Black.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-Black.svg#TomkinNarrow-Black') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TomkinNarrow';
  src: url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$fontpath3}/TomkinNarrowBlack/TomkinNarrow-BlackItalic.svg#TomkinNarrow-BlackItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
