@mixin rebase($rebase03, $rebase02, $rebase01, $rebase00, $rebase0, $rebase1, $rebase2, $rebase3) {
  color: $rebase0;

  background-color: $rebase03;

  * {
    color: $rebase0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-color: $rebase0;

    color: $rebase1;
  }

  a,
  a:active,
  a:visited {
    color: $rebase1;
  }
}

@mixin accentize($accent) {
  a,
  a:active,
  a:visited,
  code.url {
    color: $accent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $accent;
  }
}

/* light is default mode, so pair with general html definition */
html,
.light {
  @include rebase($base3, $base2, $base1, $base0, $base00, $base01, $base02, $base03); }

.dark {
  @include rebase($base03, $base02, $base01, $base00, $base0, $base1, $base2, $base3); }

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
