// layout
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

// typography
$font-family-sans-serif: Tomkin, system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-weight-lighter: lighter;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-bolder: 900;
$font-size-base: 1.1rem;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;

// headings
$headings-line-height: 1.3;
$headings-font-weight: 600;
// no need for h1-font-size because we use display-1
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$display-font-weight: 900;

// links
$link-color: var(--primary);
$link-decoration: none;
$link-hover-color: var(--primary);
$link-hover-decoration: underline;

// cards
$card-border-radius: 20px;
$card-height: 100%;
$card-cap-bg: transparent;
$card-border-color: transparent;
