// layout
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

// typography
// $font-family-sans-serif: Tomkin, system-ui, -apple-system, 'Segoe UI', Roboto,
//   'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
//   'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-weight-lighter: lighter;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-bolder: 900;
$font-size-base: 1.2rem;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;

// settings
$border-radius: 20px;
$border-width: 5px;

// headings
$headings-line-height: 1.3;
$headings-font-weight: 600;
// no need for h1-font-size because we use display-1
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$display-font-weight: 900;

// links
$link-color: var(--primary);
$link-decoration: none;
$link-hover-color: var(--primary);
$link-hover-decoration: underline;

// cards
$card-border-radius: 20px;
$card-height: 100%;
$card-cap-bg: transparent;
$card-border-color: transparent;

// navigation
$nav-link-color: var(--color);
$nav-link-hover-color: var(--primary);

// code
$code-color: var(--primary);

// lines
$hr-margin-y: $spacer;
$hr-color: var(--primary);
$hr-bg-color: currentColor;
$hr-border-width: 0;
$hr-height: $border-width;
$hr-opacity: 1;

// pagination
$pagination-transition: none;

// Alerts
$alert-margin-bottom: 0;
$alert-border-radius: $border-radius;
$alert-border-width: $border-width;

// Typography
$kbd-padding-y: 0.1rem;
$kbd-padding-x: 0.2rem;
$kbd-font-size: $code-font-size * 0.9;
$kbd-color: var(--color);
$kbd-bg: var(--primary);
