{{/* Open Graph meta data generation. see https://ogp.me/ for details */}}
{{- $config := site.Params.dnb -}}
{{- $default_format := $config.pictures.default_format | compare.Default "webp" -}}
{{- /*$#

@var $page [boolean] - is this a page or a content-list?

#$*/ -}}
{{- $page := false -}}
{{- if .IsPage -}}
  {{- $page = true -}}
{{- end -}}

{{- $metaProperties := collections.Slice -}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}

<!-- og:site_name = the name which should be displayed for the overall site -->
{{- $metaProperties = $metaProperties | collections.Append (dict
  "property" "og:site_name"
  "content" site.Title ) -}}

<!-- og:title = the strings.Title of your object as it should appear within the graph -->
{{- $metaProperties = $metaProperties | collections.Append (dict
  "property" "og:title"
  "content" (partials.IncludeCached "func/getTitle.html" page page)) -}}

<!-- og:url = canonical URL, will be used as its permanent ID collections.In the graph -->
{{- $metaProperties = $metaProperties | collections.Append (dict
  "property" "og:url"
  "content" .Permalink) -}}

<!-- og:type = the type of your object. Depending on the type, other properties may also be required -->
{{- $content := "" -}}
{{- if .IsHome -}}
  {{- $content = "website" -}}
{{- else -}}
  {{- $content = .Params.opengraph.type | compare.Default "article" -}}
{{- end -}}
{{- $metaProperties = $metaProperties | collections.Append (dict
      "property" "og:type"
      "content" $content) -}}

<!-- og:description = A one to two sentence description of your object -->
{{- $content := "" -}}
{{- with .Description -}}
  {{- $content = . -}}
{{- else -}}
  {{- if .IsPage -}}
    {{- $content = .Summary -}}
  {{- else -}}
    {{- with .Site.Params.description -}}
      {{- $content = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $metaProperties = $metaProperties | collections.Append (dict
      "property" "og:description"
      "content" $content) -}}

<!-- og:locale = the locale these tags are marked up in, format language_TERRITORY -->
{{- $metaProperties = $metaProperties | collections.Append (dict
      "property" "og:locale"
      "content" (site.LanguageCode | compare.Default "en_US")) -}}

{{- if $page -}}
  {{- $metaProperties = $metaProperties | collections.Append (dict
        "property" "article:modified_time"
        "content" (.Date | time.Format $iso8601)) -}}
  {{- $metaProperties = $metaProperties | collections.Append (dict
        "property" "article:section"
        "content" .Section) -}}
  {{- $metaProperties = $metaProperties | collections.Append (dict
        "property" "article:published_time"
        "content" (.Date | time.Format $iso8601)) -}}
{{- end -}}

<!-- og:image = an image URL which should represent the object within the graph -->
{{- $metaProperty := dict -}}
{{- $metaProperty2 := dict -}}
{{- $metaProperty3 := dict -}}
{{- $image := (partials.IncludeCached "func/getArticleImage.html" page page) -}}
{{- with $image -}}
  {{- $image := .Resize "1200x webp" -}}
  {{- with $image }}
    {{- $image = .Crop "1200x630 webp" -}}
  {{- end -}}
  {{- $metaProperty = (dict
        "property" "og:image"
        "content" $image.Permalink) -}}
  {{- $metaProperty2 = (dict
        "property" "og:image:width"
        "content" $image.Width) -}}
  {{- $metaProperty3 = (dict
        "property" "og:image:height"
        "content" $image.Height) -}}
{{- end -}}
{{- $metaProperties = $metaProperties | collections.Append $metaProperty -}}
{{- $metaProperties = $metaProperties | collections.Append $metaProperty2 -}}
{{- $metaProperties = $metaProperties | collections.Append $metaProperty3 -}}

<!-- article:tag - cast.ToString array - Tag words associated with this article. -->
{{- with .Params.tags -}}
  {{- range . -}}
    {{- $metaProperties = $metaProperties | collections.Append (dict "property" "article:tag" "content" .) -}}
  {{- end -}}
{{- end -}}

<!-- facebook specific meta data -->
{{- with site.Params.dnb.facebook.fb_appid -}}
  {{- $metaProperties = $metaProperties | collections.Append (dict "property" "fb:app_id" "content" .) -}}
{{- end -}}
{{- with site.Params.dnb.facebook.admins -}}
  {{- $metaProperties = $metaProperties | collections.Append (dict "property" "fb:admins" "content" .) -}}
{{- end -}}

{{- partials.Include "func/printMeta.html" (dict "type" "property" "content" $metaProperties) -}}
