@layer base {
  :root {
    color-scheme: dark light;
  }

  /**
   * Everyone should have their own custom CSS reset.
   * This is mine. Plus changes by the Guru's of the web.
   *
   * First comes Preflight from Tailwind CSS
   * @see https://tailwindcss.com/docs/preflight
   */

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#three-enable-keyword-animations-4 */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    @apply font-exo2 text-base font-light;
    @apply bg-gray-50 text-gray-600;
    @apply dark:bg-gray-950 dark:text-gray-200;

    /* @see https://www.joshwcomeau.com/css/custom-css-reset/#four-add-accessible-line-height-5 */
    line-height: 1.6;
    line-height: calc(1em + 0.6rem);

    /* @see https://www.joshwcomeau.com/css/custom-css-reset/#five-improve-text-rendering-6 */
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-changa;
    @apply font-normal; /* Changa One is only available via weight 400 */
    @apply mt-4;
  }

  /* h1 is the post title or the page title, so it should be more prominent */
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-base;
  }

  /** The idea is not to use h5 and h6 too often and if, then add custom styles via classes */

  h1 code,
  h2 code,
  h3 code {
    @apply font-changa text-[90%] italic;
    @apply bg-red-500/10;
  }

  p code {
    @apply font-mono text-[90%] not-italic;
    @apply bg-red-500/10;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#eight-avoid-text-overflows-9 */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#nine-improve-line-wrapping-10 */
  p {
    text-wrap: pretty;
  }

  /* default link styles */
  a {
    @apply text-red-700;
    @apply hover:text-orange-700;
    @apply transition-colors duration-300 ease-in-out;
  }

  /**
   * Tailwind CSS preflight does that, but not for the `picture` element.
   * Reason: the `picture` element is not a functional element but a container. It's ok for us to
   * want it to be a block element, but what Tailwind is fixing is functional elements that are
   * inline by default but should be block for layout reasons.
   */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object,
  picture {
    display: block;
    vertical-align: middle;
  }

  /* Tailwind CSS preflight does that, but only for `img` and `video` */
  img,
  picture,
  video,
  canvas,
  svg {
    max-width: 100%;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#seven-inherit-fonts-for-form-controls-8 */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

}
