@font-face {
  font-family: 'exo2';
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizelegibility;
  src: url('@fontsource-variable/exo-2/files/exo-2-latin-wght-normal.woff2')
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
  font-variant-ligatures: common-ligatures;
}

@font-face {
  font-family: 'exo2';
  src: url('@fontsource-variable/exo-2/files/exo-2-latin-wght-italic.woff2')
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: jetbrainsmono;
  src: url('@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2')
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
  font-weight: 100 800;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: jetbrainsmono;
  src: url('@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-italic.woff2')
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: changa;
  src:
    url('@fontsource/changa-one/files/changa-one-latin-400-normal.woff2')
      format('woff2'),
    url('@fontsource/changa-one/files/changa-one-latin-400-normal.woff')
      format('woff');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: changa;
  src:
    url('@fontsource/changa-one/files/changa-one-latin-400-italic.woff2')
      format('woff2'),
    url('@fontsource/changa-one/files/changa-one-latin-400-italic.woff')
      format('woff');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizelegibility;
}
