/* stylelint-disable selector-max-compound-selectors --- sometimes it's required */
.component--archive-card {
  /* @todo make tags a component */
  .is--tags {
    @extend .text-end;

    .badge {
      @extend .ms-3;
    }

    a {
      @extend .text-dark;
    }
  }

  .is--item {
    .is--date {
      line-height: 0.85;

      &:hover {
        background-color: $primary;
        color: $dark;
      }

      span {
        width: 75px;

        display: inline-block;

        @include media-breakpoint-up(sm) {
          display: block;

          &:nth-child(1) {
            font-size: 25px;
            text-transform: uppercase;
          }

          &:nth-child(2) {
            font-size: 50px;
            margin-bottom: 0.3rem;
          }

          &:nth-child(3) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
