{{- /*

## returns the article image for the given context as a resource object or an empty dictionary

- this tag might end up very resource intense when the most common (low number) settings aren't used, so use with caution and cached. cacheid should be article id.

### path of checking (immediate return on any succesful hit, not checked lines are not implemented yet)

1. Check for an image with `name = header`.
2. Check for an image `header.(png/jpg/gif/svg)` in a leaf bundle. First one is returned.
3. Check for resources that are images. First one is returned.
4. Check for default image. Has to be set in the configuration under dnb.pictures.default_image (string).

### TODO:
- notes about configuration of responsive sizes
- notes about configuration of compare.Default sizes
- check if this is actual an image and usable

*/ -}}

{{- $context := . -}}

{{- $articleimage := dict -}}
{{- $resourcesFirstImage := dict -}}

{{- /* 1. check for an image with `name = header` */ -}}
{{- with $context.Resources.GetMatch "header" -}}
  {{- $articleimage = . -}}
{{- end -}}

{{- /* 2. check for an image `header.(png/jpg/gif/svg)` in a leaf bundle */ -}}
{{- with $articleimage -}}{{- else -}}
  {{- with $context.Resources.GetMatch "header.*" -}}
    {{- $articleimage = . -}}
  {{- end -}}
{{- end -}}
{{- with $articleimage -}}{{- else -}}
  {{- with $context.Resources.GetMatch "**/header*" -}}
    {{- $articleimage = . -}}
  {{- end -}}
{{- end -}}

{{- /* 3. check for resources that are images */ -}}
{{- with $articleimage -}}{{- else -}}
  {{- $articleimages := $context.Resources.ByType "image" -}}
  {{- range collections.First 1 $articleimages -}}
    {{- $articleimage = . -}}
  {{- end -}}
{{- end -}}

{{- /* 4. check for default image */ -}}
{{- with $articleimage -}}{{- else -}}
  {{- $config := partials.IncludeCached "func/pictures/getConfiguration.html" . -}}
  {{- $default_image := $config.default_image | compare.Default "images/default.png" -}}
  {{- $articleimage = resources.Get $default_image -}}
{{- end -}}

{{- return $articleimage -}}
