{{/* BUG #225 - svg and gif processing issues, see https://dnbhub.xyz/issue-225 */}}
{{- $isProcessable := "true" -}}
{{- $isPageBundle := .isPageBundle -}}
{{- $image := .image -}}
{{- if and $isPageBundle (compare.Eq $image.MediaType.SubType "gif") -}}
  {{- fmt.Warnf "GIFs are not supported, yet. Using static file strategy instead: %s" $image.Permalink -}}
  {{- fmt.Warnf "see https://dnbhub.xyz/issue-225 for details" -}}
  {{- $isProcessable := "false" -}}
{{- end -}}
{{- if and $isPageBundle (compare.Eq $image.MediaType.SubType "svg") -}}
  {{- fmt.Warnf "SVGs are not supported, yet. Using static file strategy instead: %s" $image.Permalink -}}
  {{- fmt.Warnf "see https://dnbhub.xyz/issue-225 for details" -}}
  {{- $isProcessable := "false" -}}
{{- end -}}
{{- if and $isPageBundle (compare.Eq $image.MediaType.SubType "webp") -}}
  {{- fmt.Warnf "webps are not supported, yet. Using static file strategy instead: %s" $image.Permalink -}}
  {{- fmt.Warnf "see https://dnbhub.xyz/issue-225 for details" -}}
  {{- $isProcessable := "false" -}}
{{- end -}}
{{- return $isProcessable -}}
