figure {
  @extend .mx-auto;

  // font-variant: small-caps;
  transition: border 8000ms ease-out;

  .inline-icons {
    div {
      @extend .p-2;
    }

    @extend .text-primary;
    @extend .top-0;
    @extend .end-0;
    @extend .m-3;
    @extend .position-absolute;
    @extend .lh-1;
  }

  picture,
  img,
  .iframe-border,
  video {
    object-fit: cover;
    overflow: hidden;
    max-width: max-content;
    margin: 0 auto;

    @extend .rounded;
    @extend .w-100;
  }

  .post-slider & {

    picture,
    img,
    .iframe-border,
    video {
      aspect-ratio: 2/1;
    }
  }

  &:hover {
    @extend .border-secondary;
  }

  @extend .rounded;
  @extend .position-relative;
}
