table {
  $table-color: $body-color;

  .dark & {
    @extend .table-dark;
  }

  .light & {
    @extend .table-light;
  }

  code,
  pre {
    padding: 0.25rem;
  }

  @extend .table;
  @extend .table-bordered;
  @extend .table-sm;

  td {
    @extend .px-2;
    @extend .py-1;

    &:nth-of-type(1) {
      white-space: nowrap;
    }
  }

  th {
    @extend .px-2;
    @extend .py-1;
  }
}
