.site-title {

  /* stylelint-disable plugin/no-unsupported-browser-features */
  font-size: 6vw;
  text-transform: uppercase;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    @include text-shadow();
  }

  svg {
    padding: 0 1rem;

    fill: var(--primary);
  }

  @extend .display-1;
}

menu {
  margin: 0;
}
