{{/* ©️ 2025 dnb - kollitsch.dev - theme */}}
{{- /* @todo refactor */ -}}
{{- $context := .context -}}
{{- $config := site.Params.dnb.netlification -}}
{{- if compare.Eq true $config.netlify.cms | compare.Default false -}}
{{- if compare.Eq "home" $context.Kind -}}
<script>
if (window.netlifyIdentity) {
  window.netlifyIdentity.on("init", (user) => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
    }
  });
}
</script>
{{- end -}}
{{- end -}}

<script type="speculationrules">
  {{ site.Params.dnb.netlification.speculationrules | encoding.Jsonify }}
</script>
