################################################################################
# see https://github.com/yuin/goldmark/#built-in-extensions
# see https://gohugo.io/getting-started/configuration-markup#goldmark
################################################################################
[goldmark]

[goldmark.extensions]
definitionList = true
footnote = true
linkify = false
linkifyProtocol = "https"
strikethrough = true
table = true
taskList = true
typographer = true

[goldmark.parser]
autoHeadingID = true
autoHeadingIDType = "github"

[goldmark.parser.attribute]
block = false
title = true

[goldmark.renderer]
hardWraps = false
unsafe = false
xhtml = false

[highlight]
lineNos = true
lineNoStart = 1
anchorLineNos = true
codeFences = true
guessSyntax = true
hl_Lines = ""
# no need for this, we do this in layouts/_default/_markup/render-codeblock.html
# lineAnchors = "code"
lineNumbersInTable = false
noClasses = false
noHl = false
style = "xcode"
tabWidth = 2

[tableOfContents]
endLevel = 4
ordered = false
startLevel = 2
