# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
# * <@insert_github_username>
#
# Order is important. The last matching pattern has the most precedence.

# This file is also being managed automatically by the gitown tool.
* davidsneighbour
assets/plugins/slick/slick.min.js davidsneighbour
config/_default/outputformats.toml davidsneighbour
postcss.config.js davidsneighbour
static/assets/webfonts/tomkin/Tomkin/TomkinThin/Tomkin-Thin.html davidsneighbour
static/assets/webfonts/tomkin/Tomkin/TomkinMedium/Tomkin-Medium.html davidsneighbour
static/assets/webfonts/tomkin/TomkinNarrow/TomkinNarrowMedium/TomkinNarrow-MediumItalic.html davidsneighbour
static/assets/webfonts/tomkin/TomkinNarrow/TomkinNarrowRegular/TomkinNarrow-Regular.woff davidsneighbour
.github/workflows/testing.yml davidsneighbour
.github/CODEOWNERS davidsneighbour
