{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          {{ $layout := .Params.post_layout }}
          {{ range $index, $items := (where site.RegularPages "Type" "in" site.Params.mainSection ) }}
            {{ if (eq $index 0) }}
            <div class="col-lg-12">
              {{ .Render "post-fluid" }}
            </div>
            {{ else }}
              {{ if eq $layout "grid" }}
              <div class="col-md-6">
                {{ .Render "post" }}
              </div>
              {{ else if eq $layout "list" }}
              <div class="col-lg-12">
              {{ .Render "post-list" }}
              </div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>

      </div>
    </div>
  </div>
</section>

{{ with site.Params.instafeed }}
{{ if .enable }}
<section class="mb-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <p class="font-primary">{{ i18n `our_instagram`}}</p>
          <h2 class="text-dark font-weight-700"><a href="https://www.instagram.com/{{.instagram_user}}/">@{{.instagram_user}}</a></h2>
        </div>
      </div>
      {{ with .access_token }}
      <div class="mt-5">
        <div id="instafeed" class="instagram_feed rounded row no-gutters justify-content-center" data-accessToken="{{.}}"></div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{end}}