# see https://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.md]
intent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.(yml|yaml)]
intent_style = space

[*.json(c?)]
indent_style = space
indent_size = 2
