IP=192.168.1.201
PORT=1313

ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
ALGOLIA_INDEX_NAME=weblog
ALGOLIA_PUBLIC_API_KEY=

CYPRESS_PROJECT_KEY=

TEMPLATEPATH="../hugo-templates/"

HUGO_EDITOR="/usr/bin/code"

SENTRY_DSN=""

# https://app.mailjet.com/account/apikeys/
MAILJET_API_KEY=""
MAILJET_API_SECRET=""

# notificators
FEED_LINK=""
DISCORD_WEBHOOK=""

# Netlify setup
# https://cli.netlify.com/
NETLIFY_SITE_ID=""

# Cloudflare setup
CLOUDFLARE_TOKEN=""
CLOUDFLARE_ZONEID=""
