# DNB bin config
DNB_SERVER_DRAFTS=true
DNB_SERVER_FUTURE=true
DNB_SERVER_EXPIRED=true
DNB_SERVER_DEBUG=true
IP=192.168.1.201
PORT=1313
FEED_LINK="https://kollitsch.de/rss.xml"
TEMPLATEPATH="../hugo-templates/"
HUGO_EDITOR="/usr/bin/code"
GITHUB_REPO="https://github.com/davidsneighbour/kollitsch.dev/"

# Netlify API setup
# https://cli.netlify.com/
NETLIFY_SITE_ID=""
NETLIFY_SITE_SLUG="kollitsch-dev"

# Cloudflare API setup
CLOUDFLARE_TOKEN=""
CLOUDFLARE_ZONEID=""

# Twitter API setup
# Consumer Keys
TWITTER_API_KEY=""
TWITTER_API_SECRET=""
# Authentication tokens
TWITTER_BEARER_TOKEN=""
# Access token and secret for @davidsneighbour
TWITTER_ACCESS_TOKEN=""
TWITTER_ACCESS_TOKEN_SECRET=""
# Oauth 2.0 client id and secret
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""

# Algolia API setup
ALGOLIA_APP_ID=""
ALGOLIA_API_KEY=""
ALGOLIA_INDEX_NAME="weblog"
ALGOLIA_PUBLIC_API_KEY=""

# Mailjet API setup
# https://app.mailjet.com/account/apikeys/
MAILJET_API_KEY=""
MAILJET_API_SECRET=""

# Sentry setup
SENTRY_DSN=""

# Cypress setup
CYPRESS_PROJECT_KEY=""

# Discord setup
DISCORD_WEBHOOK=""

# Unsplash
UNSPLASH_ACCESS_KEY=""
UNSPLASH_SECRET_KEY=""
