PUBLIC_AVAILABLE="everything starting PUBLIC_ is available to the public"

# an env variable that enables debug output for frontmatter parsing
# NOTE: this is currently not used internally, but is piped through in all
#       `:verbose` commands (like `npm run dev:verbose`)
DEBUG_FRONTMATTER=true

# https://resend.com/api-keys
RESEND_API_KEY=""

# crosspost
# @see https://github.com/humanwhocodes/crosspost
# Twitter `--twitter`
TWITTER_ACCESS_TOKEN_KEY=""
TWITTER_ACCESS_TOKEN_SECRET=""
TWITTER_API_CONSUMER_KEY=""
TWITTER_API_CONSUMER_SECRET=""
# Mastodon `--mastodon`
MASTODON_ACCESS_TOKEN=""
MASTODON_HOST=""
# Bluesky `--bluesky`
BLUESKY_HOST=""
BLUESKY_IDENTIFIER=""
BLUESKY_PASSWORD=""
# LinkedIn `--linkedin`
LINKEDIN_ACCESS_TOKEN=""
# Discord `--discord`
DISCORD_BOT_TOKEN=""
DISCORD_CHANNEL_ID=""
# Discord Webhook `--discord-webhook`
DISCORD_WEBHOOK_URL=""
# dev.to `--devto`
DEVTO_API_KEY=""
# Telegram `--telegram`
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
