[build]
publish = "./public"

[context.production]
command = "./bin/netlify/build"

[context.production.environment]
HUGO_VERSION = "0.125.4"
HUGO_ENV = "production"
GO_VERSION = "1.17"
NODE_ENV = "development"

[functions]
directory = "assets/functions"
node_bundler = "esbuild"
included_files = ["./assets/functions/data/*.json"]

# [functions.status]
# schedule = "*/10 * * * *"

[[plugins]]
package = "@davidsneighbour/netlify-plugin-hugo-helper"

[plugins.inputs]
debug = false

# [[plugins]]
# package = "netlify-plugin-image-optim"

[[plugins]]
package = "@netlify/plugin-emails"

[[headers]]
for = "/_schemata/*"
[headers.values]
Content-Type = "text/plain"
