[build]
publish = "./public"

[context.production]
command = "./bin/netlify/build"

[context.production.environment]
HUGO_VERSION = "0.93.1"
HUGO_ENV = "production"

[[plugins]]
package = "/bin/netlify/plugins/hugo-helper"

[plugins.inputs]
debug = true
