[build]
publish = "./public"

[context.production]
command = "./bin/netlify/build"

[context.production.environment]
HUGO_VERSION = "0.104.3"
HUGO_ENV = "production"
GO_VERSION = "1.17"
NODE_ENV = "development"

[[plugins]]
package = "/bin/netlify/plugins/hugo-helper"

[plugins.inputs]
debug = false

# [[plugins]]
# package = "netlify-plugin-image-optim"
