# see https://docs.astro.build/en/guides/integrations-guide/netlify/
[build]
command = "npx astro build"
publish = "dist"

# 301 redirects to add trailing slashes
[[redirects]]
from = "/:path*"
to = "/:path*/"
status = 301
force = false
