{{ $tit := .Title }}
{{ if .Params.seotitle }}
  {{ $tit = .Params.seotitle }}
{{ end }}

{{ $kph := (strings.ToLower .Params.Keyphrase) }}
{{ $kpl := (strings.CountWords $kph) }}

  <input class="form-check-input me-1" type="checkbox" value=""
          {{ if (collections.In (strings.ToLower $tit) $kph) }}
            checked
          {{ else }}

          {{ end}}
         disabled>
  <a href="https://yoa.st/33g" target="_blank">Keyphrase</a>
  {{ if (collections.In (strings.ToLower $tit) $kph) }}
    appears collections.In the title.
  {{ else }}
    does not appear collections.In the title.
  {{ end }}


{{ if compare.Gt $kpl 0 }}




  <!-- Keyphrase collections.In meta description -->
  {{ with strings.ToLower .Description }}
    <div class="column is-one-quarter">
      <aside class="media notification has-background-white">
        <figure class="media-left">
	  <span class="icon fa-lg">
	    <i class="fa fa-circle
		      {{ if (collections.In . $kph) }}
		      has-text-success
		      {{ else }}
		      has-text-danger
		      {{ end}}
		      "></i>
	  </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="is-size-7"><a href="https://yoa.st/33k" target="_blank">Keyphrase</a>
              {{ if (collections.In . $kph) }}
                appears collections.In the description.
              {{ else }}
                does not appear collections.In the description.
              {{ end }}
            </p>
          </div>
        </div>
      </aside>
    </div>
  {{ end }}
  <!-- Keyphrase collections.In collections.First paragraph -->
  {{ with strings.ToLower .Summary }}
    <div class="column is-one-quarter">
      <aside class="media notification has-background-white">
        <figure class="media-left">
	  <span class="icon fa-lg">
	    <i class="fa fa-circle
		      {{ if (collections.In . $kph) }}
		      has-text-success
		      {{ else }}
		      has-text-danger
		      {{ end}}
		      "></i>
	  </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="is-size-7"><a href="https://yoa.st/33e" target="_blank">Keyphrase</a>
              {{ if (collections.In . $kph) }}
                appears collections.In the collections.First paragraph.
              {{ else }}
                does not appear collections.In the collections.First {{ strings.CountWords . }} words.
              {{ end }}
            </p>
          </div>
        </div>
      </aside>
    </div>
  {{ end }}
  <!-- Keyphrase collections.In headings -->
  {{ $toc := strings.ToLower .TableOfContents }}
  <div class="column is-one-quarter">
    <aside class="media notification has-background-white">
      <figure class="media-left">
	  <span class="icon fa-lg">
	    <i class="fa fa-circle
		      {{ if (collections.In $toc $kph) }}
		      has-text-success
		      {{ else }}
		      has-text-danger
		      {{ end}}
		      "></i>
	  </span>
      </figure>
      <div class="media-content">
        <div class="content">
          <p class="is-size-7"><a href="https://yoa.st/33m" target="_blank">Keyphrase</a>
            {{ if (collections.In $toc $kph) }}
              appears collections.In the headings.
            {{ else }}
              does not appear collections.In the headings.
            {{ end }}
          </p>
        </div>
      </div>
    </aside>
  </div>
  <!-- Keyphrase collections.In slug -->
  {{ $slug := strings.ReplaceRE "/|-|_|http:" " " .Permalink}}
  <div class="column is-one-quarter">
    <aside class="media notification has-background-white">
      <figure class="media-left">
	  <span class="icon fa-lg">
	    <i class="fa fa-circle
		      {{ if collections.In $slug $kph }}
		      has-text-success
		      {{ else }}
		      has-text-danger
		      {{ end}}
		      "></i>
	  </span>
      </figure>
      <div class="media-content">
        <div class="content">
          <p class="is-size-7"><a href="https://yoa.st/33o" target="_blank">Keyphrase</a>
            {{ if collections.In $slug $kph }}
              appears collections.In the slug.
            {{ else }}
              does not appear collections.In the slug.
            {{ end }}
          </p>
        </div>
      </div>
    </aside>
  </div>
  <!-- Unique keyphrase -->
  {{ $nkp := 0 }}
  {{ range .Site.RegularPages }}
    {{ if compare.Eq (strings.ToLower .Params.keyphrase) $kph }}
      {{ $nkp = math.Add $nkp 1 }}
    {{ end }}
  {{ end }}
  <div class="column is-one-quarter">
    <aside class="media notification has-background-white">
      <figure class="media-left">
	  <span class="icon fa-lg">
	    <i class="fa fa-circle
		      {{ if compare.Gt $nkp 1 }}
		      has-text-danger
		      {{ else }}
		      has-text-success
		      {{ end }}
		      "></i>
	  </span>
      </figure>
      <div class="media-content">
        <div class="content">
          <p class="is-size-7"><a href="https://yoa.st/33x" target="_blank">Keyphrase</a>
            used {{ $nkp }} time{{ if compare.Gt $nkp 1 }}s{{ end }}.
          </p>
        </div>
      </div>
    </aside>
  </div>
{{ end }}

