/* Webfont: TomkinNarrow-Black */@font-face {
    font-family: 'TomkinNarrowBlack';
    src: url('TomkinNarrow-Black.eot'); /* IE9 Compat Modes */
    src: url('TomkinNarrow-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TomkinNarrow-Black.woff') format('woff'), /* Modern Browsers */
         url('TomkinNarrow-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TomkinNarrow-Black.svg#TomkinNarrow-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

