{{/* ©️ 2025 dnb - kollitsch.dev - theme */}}
{{- /* @todo refactor */ -}}
{{- $post := .context -}}
{{- $lines := .lines | compare.Default 3 -}}
{{- $postClasses := partials.Include "func/getArticleClasses.html" $post -}}
{{- $posttype := $post.Type -}}
{{- $config := partials.IncludeCached "func/getPostSetup.html" $posttype $posttype -}}
<article class="{{- $postClasses }} mb-3 px-3 py-2 component--archive-card">

  {{- partials.IncludeCached "schema/things/breadcrumbList.html" . . -}}

  <div class="is--item row">
    <div class="col-12 col-sm-6 col-md-4">
      {{- /* MARK: Banner
      */ -}}
      {{- if compare.Ne $config.banner false -}}
        {{- partials.Include "content/components/banner.html" $post -}}
      {{- end -}}

      {{- /* MARK: Video banner
      */ -}}
      {{- if compare.Ne $config.videobanner false -}}
        {{- partials.Include "content/components/banner-video.html" $post -}}
      {{- end -}}

      {{- /* MARK: Headline-Banner
      */ -}}
      {{- if compare.Ne $config.bannerheadline false -}}
        {{- partials.Include "content/components/headline-banner.html" $post -}}
      {{- end -}}
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <h2 class="post-title h3">
        <a href="{{ $post.Permalink }}" rel="bookmark">
          {{- $post.Title | transform.Markdownify -}}
        </a>
      </h2>
      {{- $truncateLevel := fmt.Printf "text-truncate-%d" $lines -}}
      <p class="text-truncate {{ $truncateLevel }}">
        {{- partials.IncludeCached "func/getSummary.html" $post $post -}}
      </p>
      {{- partials.IncludeCached "content/components/tags/tags.html" $post $post -}}
    </div>
  </div>
</article>


{{ define "partials/func/getSummary.html" }}
{{/* ©️ 2025 dnb - kollitsch.dev - theme */}}
{{- /* @todo refactor */ -}}
{{- $context := . -}}
{{- $summary := $context.Summary -}}

{{- $type := $context.Type | compare.Default "blog" -}}
{{- $artist := dict -}}

{{- /* TODO move this into a filter hook */ -}}
{{- if and (compare.Eq "" $summary) (compare.Eq $type "music") -}}
  {{- $artist = collections.First 1 (where
        site.Data.dnb.kollitsch.music.data
        "slug"
        $context.Params.video.artist
  ) -}}
  {{- $artist = (collections.Index $artist 0) -}}
  {{ $summary = fmt.Printf "%s \"%s\" %s"
                  (lang.Translate "theme.this_is")
                  $context.Params.video.title
                  (lang.Translate "theme.by") }}
  {{ $summary = fmt.Printf "%s <a href=\"%s\">%s</a>." $summary  $artist.link $artist.name -}}
  {{ $summary = fmt.Printf "%s %s" $summary ($artist.description | transform.Markdownify) }}
  {{ $summary = $summary | safe.HTML }}
{{- end -}}

{{- return $summary -}}
{{ end }}
