<table
  {{- range $k, $v := .Attributes }}
    {{- if $v }}
      {{- fmt.Printf " %s=%q" $k $v | safe.HTMLAttr }}
    {{- end }}
  {{- end }}>
  <thead>
    {{- range .THead }}
      <tr>
        {{- range . }}
          <th {{ fmt.Printf "style=%q" (fmt.Printf "text-align: %s" .Alignment) | safe.HTMLAttr }}>
            {{- .Text -}}
          </th>
        {{- end }}
      </tr>
    {{- end }}
  </thead>
  <tbody>
    {{- range .TBody }}
      <tr>
        {{- range . }}
          <td {{ fmt.Printf "style=%q" (fmt.Printf "text-align: %s" .Alignment) | safe.HTMLAttr }}>
            {{- .Text -}}
          </td>
        {{- end }}
      </tr>
    {{- end }}
  </tbody>
</table>
