<!-- Open Graph meta data generation. see https://ogp.me/ for details    -->
{{- warnf "calculating open graph data" -}}
{{- $config := site.Params.dnb -}}
{{- /*$#

@var $page [boolean] - is this a page or a content-list?

#$*/ -}}
{{- $page := false -}}
{{- if .IsPage -}}
{{- $page = true -}}
{{- end -}}

{{- $metaProperties := slice -}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}

<!-- og:site_name = the name which should be displayed for the overall site -->
{{- $metaProperties = $metaProperties | append (dict
  "property" "og:site_name"
  "content" site.Title ) -}}

<!-- og:title = the title of your object as it should appear within the graph -->
{{- $content := "" -}}
{{- if ne .IsHome true -}}{{- $content = printf "%s - " .Title -}}{{- end -}}
{{- $content = printf "%s%s" $content site.Title -}}
{{- $metaProperties = $metaProperties | append (dict
  "property" "og:title"
  "content" $content) -}}

<!-- og:url = canonical URL, will be used as its permanent ID in the graph -->
{{- $metaProperties = $metaProperties | append (dict
  "property" "og:url"
  "content" .Permalink) -}}

<!-- og:type = the type of your object. Depending on the type, other properties may also be required -->
{{- $content := "" -}}
{{- if .IsHome -}}{{- $content = "website" -}}{{- else -}}{{- $content = .Params.opengraph.type | default "article" -}}{{- end -}}
{{- $metaProperties = $metaProperties | append (dict
  "property" "og:type"
  "content" $content) -}}

<!-- og:description = A one to two sentence description of your object -->
{{- $content := "" -}}
{{- with .Description -}}
{{- $content = . -}}
{{- else -}}
{{- if .IsPage -}}
{{- $content = .Summary -}}
{{- else -}}
{{- with .Site.Params.description -}}
{{- $content = . -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- $metaProperties = $metaProperties | append (dict
  "property" "og:description"
  "content" $content) -}}

<!-- og:locale = the locale these tags are marked up in, format language_TERRITORY -->
{{- $metaProperties = $metaProperties | append (dict
  "property" "og:locale"
  "content" (site.LanguageCode | default "en_US")) -}}

{{- if $page -}}
{{- $metaProperties = $metaProperties | append (dict
    "property" "article:modified_time"
    "content" (.Date | time.Format $iso8601)) -}}
{{- $metaProperties = $metaProperties | append (dict
    "property" "article:section"
    "content" .Section) -}}
{{- $metaProperties = $metaProperties | append (dict
    "property" "article:published_time"
    "content" (.Date | time.Format $iso8601)) -}}
{{- end -}}

{{ $image := "" }}
{{- range first 1 (.Resources.ByType "image") -}}
  {{- $image = .Resize "1200x630" -}}
  {{- $metaProperties = $metaProperties | append (dict
      "property" "og:image"
      "content" $image.Permalink) -}}

{{- else -}}
{{- if and (isset $config "pictures") (isset $config.pictures "default_image") -}}
{{- with $config.pictures.default_image -}}
  {{- $image = resources.Get . -}}
  {{- with $image -}}

    {{- $image = .Resize "1200x630" -}} }}
    {{- $metaProperties = $metaProperties | append (dict
        "property" "og:image"
        "content" $image.Permalink) -}}

  {{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- /*

TODO:
- og:image = an image URL which should represent tje object within the graph
- og:audio = a URL to an audio file to accompany this object
- og:determiner = The word that appears before this object's title in a sentence. An enum of (a, an, the, "", auto). If auto is chosen, the consumer of your data should chose between "a" or "an". Default is "" (blank).
- og:locale:alternate = An array of other locales this page is available in.
- og:video = A URL to a video file that complements this object

*/ -}}

{{- /*
{{ with .Params.images }}
{{ range first 1 . }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
{{ end }}

*/ -}}

{{- /* {{ if $.Params.images }}
{{ range first 6 $.Params.images -}}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}
{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
{{ end -}}
{{- with $featured -}}
<meta property="og:image" content="{{ $featured.Permalink }}">
{{ else -}}
{{- with $.Site.Params.images -}}
<meta property="og:image" content="{{ index . 0 | absURL }}">
{{ end }}
{{ end }}
{{ end }} */ -}}

{{- /*}}

{{ $permalink := .Permalink }}
{{ $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}
{{ range $name := . }}
{{ $series := index $siteSeries $name }}
{{ range $page := first 6 $series.Pages }}
{{ if ne $page.Permalink $permalink }}
<meta property="og:see_also" content="{{ $page.Permalink }}">
{{ end }}
{{ end }}
{{ end }}
{{ end }} */ -}}

<!-- article:tag - string array - Tag words associated with this article. -->
{{- with .Params.tags -}}
{{- range . -}}
{{- $metaProperties = $metaProperties | append (dict "property" "article:tag" "content" .) -}}
{{- end -}}
{{- end -}}

<!-- facebook specific meta data -->
{{- with site.Params.dnb.facebook.fb_appid -}}
{{- $metaProperties = $metaProperties | append (dict "property" "fb:app_id" "content" .) -}}
{{- end -}}
{{- with site.Params.dnb.facebook.admins -}}
{{- $metaProperties = $metaProperties | append (dict "property" "fb:admins" "content" .) -}}
{{- end -}}

{{- partial "func/printMeta.html" (dict "type" "property" "content" $metaProperties) -}}

<!--
image/video/audio (audio does not have width or height, obviously)
og:image:url - Identical to og:image.
og:image:secure_url - An alternate url to use if the webpage requires HTTPS.
og:image:type - A MIME type for this image.
og:image:width - The number of pixels wide.
og:image:height - The number of pixels high.
og:image:alt - A description of what is in the image (not a caption). If the page specifies an og:image it should specify og:image:alt.

article:published_time - datetime - When the article was first published.
article:modified_time - datetime - When the article was last changed.
article:expiration_time - datetime - When the article is out of date after.
article:author - profile array - Writers of the article.
article:section - string - A high-level section name. E.g. Technology

//-->



{{/* {{- if $page }}
{{- if not .PublishDate.IsZero }}
<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
{{ else if not .Date.IsZero }}
<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
{{ end }}
{{- if not .Lastmod.IsZero }}
<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
{{ end }}
{{- else }}
{{- if not .Date.IsZero }}
<meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
{{- end }}
{{- end }} */}}

{{/* {{- with .Params.audio }} */}}
{{/* <meta property="og:audio" content="{{ . }}">
{{ end }}
{{- with .Params.locale }}
<meta property="og:locale" content="{{ . }}">
{{ end }}
{{- with .Params.videos }}
{{- range . }}
<meta property="og:video" content="{{ . | absURL }}">
{{ end }}
{{ end }} */}}

{{- /* If it is part of a series, link to related articles */}}
{{/*{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}
{{- range $name := . }}
{{- $series := index $siteSeries ($name | urlize) }}
{{- range $page := first 6 $series.Pages }}
{{- if ne $page.Permalink $permalink }}
<meta property="og:see_also" content="{{ $page.Permalink }}">
{{ end }}
{{- end }}
{{ end }}
{{ end }} */}}

{{/* {{- if $page }}
{{- range .Site.Authors }}
{{ with .Social.facebook }}
<meta property="article:author" content="https://www.facebook.com/{{ . }}">
{{ end }}
{{ with .Site.Social.facebook }}
<meta property="article:publisher" content="https://www.facebook.com/{{ . }}">
{{ end }}
<meta property="article:section" content="{{ .Section }}">
{{- with .Params.tags }}
{{ range first 6 . }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
{{ end }}
{{- end }}
{{ end }} */}}
