{{- define "main" -}}
<section class="section--content">
  <div class="container">
    <div class="row">
      {{- $paginator := .Scratch.Get "paginator" -}}
      <h1 class="visually-hidden h2">
        Recent Synapses (Page {{ $paginator.PageNumber -}})
      </h1>
      {{- range $index, $item := $paginator.Pages -}}
				{{- $post := $item -}}
				<div class="col-12 col-md-6 mb-4">
					{{- $articleclasses := partialCached "func/getArticleClasses.html" $post $post -}}
					<article class="{{- $articleclasses -}}">
						<h2 class="post-title">
							<a href="{{- $post.Permalink -}}">{{- $post.Title }}</a>
						</h2>
						<div class="prose">
							<p>{{- $post.Content -}}</p>
						</div>
					</article>
				</div>
      {{- end -}}
    </div>
    {{ partial "components/pagination/pagination-simple.html" . . }}
  </div>
</section>
{{- end -}}
