.section--content {
	min-height: 100%;
}

a {
	box-decoration-break: clone;
	@extend .link-underline-secondary;
	@extend .link-offset-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		text-decoration: none;
	}

	@extend .border-bottom;
	@extend .border-light-subtle;
}

p {
	text-align: justify;
	@extend .hyphenate;
}

>p code {
	background-color: var(--bs-tertiary-bg);
	padding: 0.2rem 0.35rem;
}

blockquote {
	padding-left: 0.95rem;
	border-left: $primary 5px solid;
	background-color: var(--bs-tertiary-bg);

	cite {
		font-style: italic;
	}
}

table {
	$table-color: $body-color;

	.dark & {
		@extend .table-dark;
	}

	.light & {
		@extend .table-light;
	}

	code,
	pre {
		padding: 0.25rem;
	}

	@extend .table;
	@extend .table-bordered;
	@extend .table-sm;
}

.highlight {
	margin-bottom: $spacer;

	.chroma {
		padding: 0.3rem;
	}

}

.section-meta {
	border-top: 1px solid $primary;

	@extend .pt-3;
}

pre {
	margin-bottom: 0;
}

kbd {
	display: inline-block;
	padding: 0.1rem 0.2rem 0;
	line-height: 1;
}
