/* Webfont: TomkinNarrow-Thin */@font-face {
    font-family: 'TomkinNarrowThin';
    src: url('TomkinNarrow-Thin.eot'); /* IE9 Compat Modes */
    src: url('TomkinNarrow-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TomkinNarrow-Thin.woff') format('woff'), /* Modern Browsers */
         url('TomkinNarrow-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TomkinNarrow-Thin.svg#TomkinNarrow-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
