{{- if not .IsHome -}}
  {{- $items := collections.Slice -}}
  {{- $counter := 1 -}}
  {{- range .Ancestors.Reverse -}}
    {{- $item := dict
          "@type" "ListItem"
          "name" (.LinkTitle | compare.Default site.Title | safe.JS)
          "url" .Permalink
          "item" .Permalink
          "counter" $counter
    -}}
    {{- $items = $items | collections.Append $item -}}
    {{- $counter = math.Add $counter 1 -}}
  {{- end -}}
  {{- $item := dict
        "@type" "ListItem"
        "name" (.LinkTitle | compare.Default site.Title | safe.JS)
        "url" .Permalink
        "item" .Permalink
        "counter" $counter
  -}}
  {{- $items = $items | collections.Append $item -}}
  {{- $schema := collections.Dictionary
        "@context" "https://schema.org"
        "@type" "BreadcrumbList"
        "itemListElement" $items
  -}}
  <script type="application/ld+json">
  {{- $schema | encoding.Jsonify | safe.JS -}}
  </script>
{{- end -}}
