{{- $context := . -}}
{{- $images := collections.Slice -}}
{{ range $context.Resources.ByType "image" }}
  {{ $images = $images | collections.Append .Permalink }}
{{ end }}
{{- $authors := site.Data.wle.en.authors -}}{{/* hardcoded for now, translation currently not required */}}
{{- $defaultAuthor := "jonathan-hale" -}}{{/* hardcoded for now, author system is collections.In rework */}}
{{- $author := collections.Slice -}}
{{- with $context.Params.authors -}}
  {{- range . -}}
    {{- $curAuthor := collections.Index $authors . -}}
    {{- $author = $author | collections.Append (dict "@type" "Person" "name" $curAuthor.name "url" $curAuthor.url) -}}
  {{- end -}}
{{- end -}}
{{- with $context.Params.author -}}
  {{ $curAuthor := collections.Index $authors . }}
  {{- $author = $author | collections.Append (dict "@type" "Person" "name" $curAuthor.name "url" $curAuthor.url) -}}
{{- end -}}
{{- if compare.Eq (len $author) 0 -}}
  {{ $curAuthor := collections.Index $authors $defaultAuthor }}
  {{- $author = $author | collections.Append (dict "@type" "Person" "name" $curAuthor.name "url" $curAuthor.url) -}}
{{- end -}}
{{- $schema := collections.Dictionary
      "@context" "https://schema.org"
      "@type" "NewsArticle"
      "headline" $context.Title
      "datePublished" $context.Date
      "dateModified" $context.Lastmod
      "image" $images
      "author" $author
-}}
<script type="application/ld+json">
{{- $schema | encoding.Jsonify | safe.JS -}}
</script>
