{{ $OrderedTaxonomyEntryVarNames   := (collections.Slice "Name" "Count" "Term" "WeightedPages") }}
{{ $OrderedTaxonomyEntryVarSymbols := (collections.Slice .value.Name  .value.Count  .value.Term  .value.WeightedPages ) }}

      <div class="table-responsive">
      <table class="debugprint">
  <tr>
      <th scope="col" class="align-top key">OrderedTaxonomyEntry Variable</th>
      <th scope="col" class="align-top value">Value</th>
  </tr>
  {{ range $idx, $elem := $OrderedTaxonomyEntryVarNames }}
    {{ fmt.Printf `<tr> <td class="align-top key">%s</td> <td class="align-top value">` $elem | safe.HTML }}
    {{ partials.Include "debug-print.html" (collections.Index $OrderedTaxonomyEntryVarSymbols $idx) }}
    {{ fmt.Printf "</td></tr>" | safe.HTML }}
  {{ end }}
</table>
</div>
