---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post }: Props = Astro.props;
const { Content } = await render(post);
---

<div class="content">
  <Content />
</div>
