---
// @todo refactor and comment
import type { CollectionEntry } from "astro:content";
export interface Props {
  post: CollectionEntry<"blog">;
}

const { post }: Props = Astro.props;
const { Content } = await post.render();
---

<div class="content">
  <Content />
</div>
