////
/// Theme colors setup
///
/// @group settings
/// @author Patrick Kollitsch
////

$arctic-powder: #f1f6f4;
$mystic-mint: #d9e8e3;
$forsythia: #ffc801;
$deep-saffron: #ff9932;
$nocturnal-expedition: #114c5a;
$organic-noir: #172b36;
