{{- /* @todo refactor */ -}}
{{- /*

- @todo background image locally instead of URL
- @todo config param for JS inline or via external file
- @todo documentation about $pc.Disable
- @todo fix `title` attribute - does not seem to be working
- @todo implement https://github.com/paulirish/lite-youtube-embed?tab=readme-ov-file#custom-player-parameters

  */
-}}

{{- $pc := site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
  {{- $id     := .id -}}
  {{- $jsapi  := .jsapi | compare.Default false -}}
  {{- $class  := .class | compare.Default "" -}}
  {{- $title  := .title | compare.Default "" -}}
  {{- $playlabel := .playlabel | compare.Default "Play video" -}}
  {{- $params := .params | compare.Default (partials.IncludeCached "func/prepareApiParams.html" .) -}}
  {{- $config := site.Params.dnb.youtube -}}
  {{- $remoteThumbnail := "" -}}
  {{- $thumbnailUrl := partials.IncludeCached "func/getYTPreviewUrl.html" $id $id -}}

  {{ with try (resources.GetRemote $thumbnailUrl.maxres) }}
    {{ with .Err }}
      {{ fmt.Warnf "%s" . }}
    {{ else with .Value }}
      {{- $remoteThumbnail = . -}}
      {{- with resources.Copy (fmt.Printf "assets/img/%s.jpg" $id) . -}}
        {{- $remoteThumbnail = . -}}
      {{ end -}}
    {{ else }}
      {{ with try (resources.GetRemote $thumbnailUrl.lowres) }}
        {{ with .Err }}
          {{ fmt.Warnf "%s" . }}
        {{ else with .Value }}
          {{- $remoteThumbnail = . -}}
          {{- with resources.Copy (fmt.Printf "assets/img/%s.jpg" $id) . -}}
            {{- $remoteThumbnail = . -}}
          {{ end -}}
        {{ else }}
          {{- $remoteThumbnail = resources.Get "images/broken.webp" -}}
        {{- end -}}
      {{- end -}}
    {{ end -}}
  {{- end -}}

  {{- if compare.Eq "" $remoteThumbnail -}}
    {{- $remoteThumbnail = resources.Get "images/broken.webp" -}}
  {{- end -}}

  <div class="shortcode--youtube {{ with $class -}}{{- . -}}{{- end -}}">
    <lite-youtube
      videoid="{{- $id -}}"
      {{ with $jsapi -}}jsapi{{- end }}
      {{ with $title -}}
        title="{{- . -}}" {{ end -}}{{- with $playlabel -}}
        playlabel="{{- . -}}" {{ end -}}
      params="{{- $params -}}"
      style="background-image: url('{{- $remoteThumbnail.Permalink -}}');"
    >
      <button type="button" class="lty-playbtn" aria-label="{{- $playlabel -}}">
        {{- with $playlabel -}}
          <span class="lyt-visually-hidden">{{- . -}}</span>
        {{- end -}}
      </button>
    </lite-youtube>
  </div>
{{- end -}}
