/* SVG does not provide a default visual style for links, so let's add some */

@namespace svg url("http://www.w3.org/2000/svg");

/* select only SVG <a> elements */
svg|a:link,
svg|a:visited {
  cursor: pointer;
}

svg|a text,
text svg|a {
  fill: blue; /* SVG uses fill over color */
  text-decoration: underline;
}

svg|a:hover,
svg|a:active {
  outline: dotted 1px blue;
}
