{{- $post := .context -}}
{{- $fullcontent := .fullcontent | default true -}}
				{{- $articleclasses := partialCached "func/getArticleClasses.html" $post $post -}}
        <article class="{{- $articleclasses -}}">
  {{- partialCached "components/content/status.html" $post $post -}}
  {{- partial "components/images/banner.html" . -}}
    {{/* {{- partialCached "components/content/publishing-date.html" $post $post -}} */}}
    {{- partial "components/content/headline.html" . -}}
  <div class="prose">
    {{- with $fullcontent -}}
      {{- $post.Content -}}
    {{- else -}}
      <p>{{- $post.Summary -}}</p>
  </div>
	<div class="text-end">
		<a href="{{- $post.Permalink -}}" class="btn btn-link" aria-label="{{- i18n "read_article" -}}: {{ $post.Title -}}">
			{{- i18n "read_article" -}}
			<span class="ps-2">
				{{- partialCached "bsicon.html" "body-text" "body-text" -}}
			</span>
		</a>
    {{- end -}}
    {{- with $fullcontent -}}
      {{- partial "func/hook.html" ( dict
        "hook" "post-after"
        "context" $post
      ) -}}
      {{- partialCached "components/footer/footer.html" $post $post -}}
    {{- end -}}
  </div>
</article>
