////
/// Theme colors setup
///
/// @group settings
/// @author Patrick Kollitsch
////

$arctic-powder: #f1f6f4;
$mystic-mint: #d9e8e3;
$forsythia: #ffc801;
$deep-saffron: #ff9932;
$nocturnal-expedition: #114c5a;
$organic-noir: #172b36;


:root {
  --theme-color-arctic-powder: $arctic-powder;
  --theme-color-mystic-mint: $mystic-mint;
  --theme-color-forsythia: $forsythia;
  --theme-color-deep-saffron: $deep-saffron;
  --theme-color-nocturnal-expedition: $nocturnal-expedition;
  --theme-color-organic-noir: $organic-noir;
}
