////
/// @group settings
////

@use "sass:color";

[data-bs-theme="light"] {
  color-scheme: light;

  --bs-body-bg: var(--theme-color-arctic-powder);
  --bs-primary: var(--theme-color-nocturnal-expedition);
}
