////
/// @group theme setup
////

/// we use two color modes currently, `dark` (default) and `light`
///
/// @example scss - enables the color-mode feature
///   @include color-mode(dark) {
///     .element {
///       color: var(--bs-primary-text-emphasis);
///       background-color: var(--bs-primary-bg-subtle);
///     }
///   }
///
///   // outputs to:
///
///   // [data-bs-theme=dark] .element {
///   //   color: var(--bs-primary-text-emphasis);
///   //   background-color: var(--bs-primary-bg-subtle);
///   // }
$color-mode-type: data;

/// @deprecated
$primary: #dc322f;

/// color settings
$danger-text-emphasis: $primary;

/// global elements
$border-width: 2px;

/// body
$body-bg-dark: $organic-noir;
$body-bg: $arctic-powder;

/// typography
/// $font-size-root: 16px;
$font-size-base: 1.2rem;
$font-family-sans-serif: Exo2, sans-serif;
$font-family-monospace: JetBrainsMono, monospace;

/// font sizes
$font-weight-lighter: 100;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

/// headings
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.4;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.15;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

/// component color
$component-active-color: var(--bs-dark);

/// links
$link-color: $primary;
$link-color-dark: $primary;
$link-hover-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

/// badges
$badge-font-weight: 500;
$badge-font-size: 0.65em;

/// navigation
/// @link https://getbootstrap.com/docs/5.3/components/navbar/
/// @link https://getbootstrap.com/docs/5.3/components/navs-tabs/
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-brand-padding-y: 0;
$nav-link-font-size: 1.2rem;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;

/// settings
$enable-shadows: true;
$enable-negative-margins: true;
$enable-rounded: true;
$enable-important-utilities: false;

/// theme settings
$heading-height: 70px;
$aspect-ratio: 2 / 1;

/// mark tag
// $mark-color: var(--bs-gray-dark);
// $mark-bg: var(--bs-primary);
// $mark-padding: .1875em;

/// root setup
:root {
  // @link https://drafts.csswg.org/css-ui-4/#widget-accent
  // @link https://caniuse.com/?search=accent-color
  accent-color: var(--bs-primary);
  color-scheme: dark light;

  // transition setup and default values
  --duration: 0.5s;
  --timing: ease;

  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

/// breadcrums setup
/* stylelint-disable-next-line scss/no-global-function-names -- quote alone is ok */
$breadcrumb-divider: quote(⟩);
$breadcrumb-font-size: 1rem;
$breadcrumb-margin-bottom: 0.5rem;
$breadcrumb-divider-color: var(--bs-tertiary-color);

// $breadcrumb-padding-y: 0;
// $breadcrumb-padding-x: 0;
// $breadcrumb-item-padding-x: .5rem;
// $breadcrumb-bg: null;
// $breadcrumb-active-color: var(--#{$prefix}secondary-color);
// $breadcrumb-divider-flipped: $breadcrumb-divider;
// $breadcrumb-border-radius: null;

$border-radius: 5px;
