@namespace svg url("http://www.w3.org/2000/svg");

/* MARK: imports */
@import "@fontsource-variable/exo-2";
@import "@fontsource-variable/exo-2/wght-italic.css";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/jetbrains-mono/wght-italic.css";
@import "@fontsource/changa-one";
@import 'tailwindcss';
@import 'lenis/dist/lenis.css';
@import "tw-animate-css";

/* add forms plugin, @see https://github.com/tailwindlabs/tailwindcss-forms */
@plugin "@tailwindcss/forms" {
  strategy: "base"; /* only generate global styles */
}

/* adds typography plugin https://github.com/tailwindlabs/tailwindcss-typography */
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* MARK: theme tokens */

/*******************************************************************************
 * Color utilities
 * @see https://uicolors.app/generate/e5bf27
 * @see https://tailwindshades.app/
 * @see https://www.infyways.com/tools/tailwind-color-generator/
 *******************************************************************************
 * for default theme variable values
 * @see https://tailwindcss.com/docs/theme#default-theme-variable-reference
 *
 * for default theme variable namespaces
 * @see https://tailwindcss.com/docs/theme#theme-variable-namespaces
 *
 * to override/replace a namespace set it to initial
 * --color-*: initial;
 *
 * to get a CSS variable in JS do this
 * let styles=getComputedStyle(document.documentElement);
 * let shadow=styles.getPropertyValue("--shadow-xl");
 ******************************************************************************/
@theme {
  --font-exo2: "Exo 2 Variable", sans-serif;
  --font-jetbrainsmono: "JetBrains Mono Variable", monospace;
  --font-changa: "Changa One", sans-serif;

  /* stylelint-disable-next-line -- variable name required for astro code plugin */
  --ec-codeFontFml: "JetBrains Mono Variable", monospace;
  --spacing: 0.25rem;
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  --aspect-dnb: 16 / 9;

  /* Resettings Tailwind color variables */
  /* stylelint-disable custom-property-pattern -- this is a TailwindCSS thing */
  --color-*: initial;
  /* stylelint-enable custom-property-pattern */


  /* stylelint-disable plugin/no-unsupported-browser-features -- oklch is ok */
  --color-gray-50: oklch(98.6% 0.002 67.8);
  --color-gray-100: oklch(96% 0.002 17.2);
  --color-gray-200: oklch(92.2% 0.005 34.3);
  --color-gray-300: oklch(86.8% 0.007 39.5);
  --color-gray-400: oklch(71.4% 0.014 41.2);
  --color-gray-500: oklch(54.7% 0.021 43.1);
  --color-gray-600: oklch(43.8% 0.017 39.3);
  --color-gray-700: oklch(36.7% 0.016 35.7);
  --color-gray-800: oklch(26.8% 0.011 36.5);
  --color-gray-900: oklch(21.4% 0.009 43.1);
  --color-gray-950: oklch(14.7% 0.004 49.3);

  --color-orange-50: oklch(98% 0.016 73.684);
  --color-orange-100: oklch(95.4% 0.038 75.164);
  --color-orange-200: oklch(90.1% 0.076 70.697);
  --color-orange-300: oklch(83.7% 0.128 66.29);
  --color-orange-400: oklch(75% 0.183 55.934);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-orange-700: oklch(55.3% 0.195 38.402);
  --color-orange-800: oklch(47% 0.157 37.304);
  --color-orange-900: oklch(40.8% 0.123 38.172);
  --color-orange-950: oklch(26.6% 0.079 36.259);

  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-200: oklch(88.5% 0.062 18.334);
  --color-red-300: oklch(80.8% 0.114 19.571);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-700: oklch(50.5% 0.213 27.518);
  --color-red-800: oklch(44.4% 0.177 26.899);
  --color-red-900: oklch(39.6% 0.141 25.723);
  --color-red-950: oklch(25.8% 0.092 26.042);
  /* stylelint-enable plugin/no-unsupported-browser-features */

  /* Easing functions via Emil Kowalski */
  /* ease-out for enter/exit transitions */
  /* ease-in-out for objects already on the screen */
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

  @keyframes fade-in-scale {
    0% {
      opacity: 0%;
      transform: scale(0.95);
    }

    100% {
      opacity: 100%;
      transform: scale(1);
    }
  }

  --font-title: var(--font-changa);
  --font-title--font-feature-settings: "cv02", "cv03", "cv04", "cv11"; 
  /* --font-title--font-variation-settings: "opsz" 32;  */
}

/*******************************************************************************
 * When using CSS variables in the @theme section, use the `inline` section
 ******************************************************************************/
@theme inline {

  --color-brand-main-accent: var( --color-orange-600);
  --color-brand-main-accent-hover: var(--color-red-700);

  /* @todo use color values directly */
  --color-black: var(--color-gray-950);
  --color-white: var(--color-gray-50);

  /* @todo cleanup variables */
  --font-sans: var(--font-exo2);
  --font-mono: var(--font-jetbrainsmono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

}

/*******************************************************************************
 * The `static` leads to the variables being referenced without the requirement
 * of being used. Other @theme sections will only compile into used variables.
 * This will also generate all utility classes for variable namespaces.
 ******************************************************************************/
@theme static {

}

/*******************************************************************************
 * MARK: ShadCN theme variables
 ******************************************************************************/

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
} */

/* MARK: base styles */

/*******************************************************************************
 * Base styles
 ******************************************************************************/
@layer base {
  :root {
    color-scheme: dark light;
  }

  html {
    text-rendering: optimizelegibility;
  }

  /**
   * Everyone should have their own custom CSS reset.
   * This is mine. Plus changes by the Guru's of the web.
   *
   * First comes Preflight from Tailwind CSS
   * @see https://tailwindcss.com/docs/preflight
   */

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#three-enable-keyword-animations-4 */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    @apply font-exo2 font-light;
    @apply bg-gray-50 text-gray-600;
    @apply dark:bg-gray-950 dark:text-gray-200;

    /* font sizes */
    @apply text-sm md:text-base lg:text-xl xl:text-2xl;

    /* @see https://www.joshwcomeau.com/css/custom-css-reset/#four-add-accessible-line-height-5 */
    line-height: 1.6;
    line-height: calc(1em + 0.6rem);

    /* @see https://www.joshwcomeau.com/css/custom-css-reset/#five-improve-text-rendering-6 */
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-changa;
    @apply font-normal; /* Changa One is only available via weight 400 */
    @apply mt-4;
  }

  h1, h2 {
    @apply text-4xl;
  }

  /** The idea is not to use h5 and h6 too often and if, then add custom styles via classes */

  h1 code,
  h2 code,
  h3 code {
    @apply rounded px-1 font-changa text-[90%] not-italic;
    @apply bg-red-500/10;
  }

  p code {
    @apply font-mono text-[90%] not-italic;
    @apply bg-red-500/10;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#eight-avoid-text-overflows-9 */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#nine-improve-line-wrapping-10 */
  p {
    text-wrap: pretty;
  }

  /* default link styles */
  a {
    @apply text-red-700;
    @apply hover:text-orange-700;
    @apply transition-colors duration-300 ease-in-out;
  }

  /**
   * Tailwind CSS preflight does that, but not for the `picture` element.
   * Reason: the `picture` element is not a functional element but a container. It's ok for us to
   * want it to be a block element, but what Tailwind is fixing is functional elements that are
   * inline by default but should be block for layout reasons.
   */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object,
  picture {
    display: block;
    vertical-align: middle;
  }

  /* Tailwind CSS preflight does that, but only for `img` and `video` */
  img,
  picture,
  video,
  canvas,
  svg {
    max-width: 100%;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#seven-inherit-fonts-for-form-controls-8 */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

/* MARK: Typography */
/* @see documentation/typography.md for the rationale these classes */
/*******************************************************************************
 * Prose styles
 ******************************************************************************/
@utility prose-dnb {
  --tw-prose-body: var(--color-gray-800);
  --tw-prose-headings: var(--color-gray-900);
  --tw-prose-lead: var(--color-gray-700);
  --tw-prose-links: var(--color-gray-900);
  --tw-prose-bold: var(--color-gray-900);
  --tw-prose-counters: var(--color-gray-600);
  --tw-prose-bullets: var(--color-gray-400);
  --tw-prose-hr: var(--color-gray-300);
  --tw-prose-quotes: var(--color-gray-900);
  --tw-prose-quote-borders: var(--color-gray-300);
  --tw-prose-captions: var(--color-gray-700);
  --tw-prose-code: var(--color-gray-900);
  --tw-prose-pre-code: var(--color-gray-100);
  --tw-prose-pre-bg: var(--color-gray-900);
  --tw-prose-th-borders: var(--color-gray-300);
  --tw-prose-td-borders: var(--color-gray-200);
  --tw-prose-invert-body: var(--color-gray-200);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-gray-300);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-gray-400);
  --tw-prose-invert-bullets: var(--color-gray-600);
  --tw-prose-invert-hr: var(--color-gray-700);
  --tw-prose-invert-quotes: var(--color-gray-100);
  --tw-prose-invert-quote-borders: var(--color-gray-700);
  --tw-prose-invert-captions: var(--color-gray-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-gray-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 0.5);
  --tw-prose-invert-th-borders: var(--color-gray-600);
  --tw-prose-invert-td-borders: var(--color-gray-700);
}
@layer components {
  .typography-ui {
    @apply text-sm md:text-base lg:text-xl xl:text-2xl;
  }

  .typography-reading {
    @apply prose;
    @apply prose-dnb;
    @apply prose-sm md:prose lg:prose-xl xl:prose-2xl;
    @apply dark:prose-invert prose-slate;
    @apply max-w-none;

    /* Changa is only available via weight 400 */
    @apply prose-headings:font-normal;

    p {
      font-variant-ligatures: common-ligatures;
    }

    hr {
      @apply my-8 border-0 border-t border-gray-300 dark:border-gray-700;
    }

  }
}
@layer utilities {
  /* these MUST be em based so the typography-reading class can scale here */
  .reading-xs {
    font-size: 0.5em;
  }
  .reading-sm {
    font-size: 0.875em;
  }
  .reading-lg {
    font-size: 1.2em;
  }
  .reading-xl {
    font-size: 1.5em;
  }
}

/* MARK: utilities */
/*******************************************************************************
 * Utilities
 ******************************************************************************/
@layer utilities {
  .font-changa {
    font-family: var(--font-changa), sans-serif;

    /* Changa One is only available via weight 400 */
    font-weight: 400 !important;

    /* @see https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis */
    font-synthesis: none;
  }

  /* Override any other weight utility when used with font-changa */
  .font-changa.font-thin,
  .font-changa.font-extralight,
  .font-changa.font-light,
  .font-changa.font-normal,
  .font-changa.font-medium,
  .font-changa.font-semibold,
  .font-changa.font-bold,
  .font-changa.font-extrabold,
  .font-changa.font-black {
    /* Changa One is only available via weight 400 */
    font-weight: 400;
  }

  .text-answer-1238jf {
    @apply hidden;
  }

  ::-webkit-scrollbar {
    width: var(--sb-size, 0.5rem);
  }

  ::-webkit-scrollbar-track {
    background: var(--sb-track-color, var(--color-gray-900));
    border-radius: 4px;
    &:hover {
      background: var(--sb-track-color2, var(--color-gray-800));
    }
    &:active {
      background: var(--sb-track-color2, var(--color-gray-800));
    }
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color, var(--color-red-500));
    border-radius: 4px;
    &:active {
      background: var(--sb-thumb-color2, var(--color-red-400));
    }
    &:hover {
      background: var(--sb-thumb-color2, var(--color-red-400));
    }
  }

  /* Firefox and other browsers that don't support modern standards for scrollbars */
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color, var(--color-red-500)) var(--sb-track-color, var(--color-gray-900));
      scrollbar-width: thin;
    }
  }

  /***************************************************************************  */

  /* lite youtube element                                                    **/

  /***************************************************************************  */
  lite-youtube {
    /* @todo transform into container https://tailwindcss.com/docs/responsive-design#container-queries */
    @apply relative block w-full cursor-pointer bg-gray-50 dark:bg-gray-950;
    @apply bg-cover bg-position-[center_center] contain-content;

    /* responsive iframe with a 2:1 (NOT 16:9) aspect ratio
       thanks https://css-tricks.com/responsive-iframes/ */
    &::after {
      @apply block pb-[calc(100%/(2/1))] content-[''];
    }

    & > iframe {
      @apply absolute top-0 left-0 h-full w-full border-0;
    }

    /* play button */
    & > .lty-playbtn {
      @apply absolute z-10 block h-full w-full cursor-pointer border-0;
      @apply bg-size-[48px_36px] bg-center bg-no-repeat contain-content;

      /* YT's actual play button svg */
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="%23c54109"/><path d="M45 24 27 14v20" fill="%23ffffff"/></svg>');
    }

    /* Post-click styles */
    &.lyt-activated {
      @apply cursor-['unset'];

      &::before,
      & > .lty-playbtn {
        @apply pointer-events-none opacity-0;
      }
    }
  }

  /***************************************************************************  */
}

/* MARK: contain utilities */

/* @see https://developer.mozilla.org/en-US/docs/Web/CSS/contain */
@theme {
  --contain-content: content;
  --contain-layout: layout;
  --contain-paint: paint;
  --contain-strict: strict;
  --contain-none: none;
}

@utility contain-* {
  contain: --value(--contain-*);
}

/* MARK: text utilities */

/**
 * show a label sideways
 *
 * @example
 * `class="text-boxlabel-sideways md:text-boxlabel-inherit"`
 */
@utility text-boxlabel-sideways {
  writing-mode: sideways-lr;
  text-orientation: sideways;
}

/**
 * used to reset a sideways label to normal in responsive designs
 *
 * @example
 * `class="text-boxlabel-sideways md:text-boxlabel-inherit"`
 */
@utility text-boxlabel-inherit {
  writing-mode: inherit;
  text-orientation: inherit;
}

@layer utilities {
  /**
   * The ::target-text CSS pseudo-element represents the text that has been
   * scrolled to if the browser supports text fragments. It allows authors to
   * choose how to highlight that section of text.
   */
  ::target-text {
    background-color: var(--color-red-500);
    color: var(--color-gray-950);
  }

  ::search-text {
    background: var(--color-red-600);
    color: var(--color-red-50);
  }

  ::search-text:current {
    background: var(--color-red-900);
    color: var(--color-red-50);
    text-decoration: currentcolor solid underline;
  }
}

/* MARK: svg utilities */

/*******************************************************************************
 * SVG utilities
 * SVG does not provide a default visual style for links, so let's add some *
 ******************************************************************************/

/* select only SVG <a> elements */
svg|a:link,
svg|a:visited {
  cursor: pointer;
  outline: dotted 1px var(--color-cyan-700);
}

svg|a text {
  fill: var(--color-cyan-700);
}

svg|a:hover,
svg|a:active {
  outline: dotted 1px var(--color-cyan-700);
}
