/* MARK: imports */
@import 'tailwindcss';
@import 'lenis/dist/lenis.css';
@import "tw-animate-css";
@import "@fontsource-variable/exo-2";
@import "@fontsource-variable/exo-2/wght-italic.css";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/jetbrains-mono/wght-italic.css";
@import "@fontsource/changa-one";

@namespace svg url("http://www.w3.org/2000/svg");

/* add forms plugin, @see https://github.com/tailwindlabs/tailwindcss-forms */
@plugin "@tailwindcss/forms" {
  strategy: "base"; /* only generate global styles */
}

/* adds typography plugin https://github.com/tailwindlabs/tailwindcss-typography */
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* MARK: root variables */
:root {
  /* 13vw is fine for "KOLLITSCH.dev*" in Changa One, needs configuration on title change */
  --dnb-sitetitle-size: clamp(50px, 13vw, 160px);
  --sb-track-color: var(--color-gray-900);
  --sb-track-color2: var(--color-gray-800);
  --sb-thumb-color: var(--color-red-500);
  --sb-thumb-color2: var(--color-red-400);
  --sb-size: 10px;

}

/* MARK: theme tokens */

/*******************************************************************************
 * Color utilities
 * @see https://uicolors.app/generate/e5bf27
 * @see https://tailwindshades.app/
 * @see https://www.infyways.com/tools/tailwind-color-generator/
 *******************************************************************************
 * for default theme variable values
 * @see https://tailwindcss.com/docs/theme#default-theme-variable-reference
 *
 * for default theme variable namespaces
 * @see https://tailwindcss.com/docs/theme#theme-variable-namespaces
 *
 * to override/replace a namespace set it to initial
 * --color-*: initial;
 *
 * to get a CSS variable in JS do this
 * let styles=getComputedStyle(document.documentElement);
 * let shadow=styles.getPropertyValue("--shadow-xl");
 ******************************************************************************/
@theme {
  --font-exo2: "Exo 2 Variable", sans-serif;
  --font-jetbrainsmono: "JetBrains Mono Variable", monospace;
  --font-changa: "Changa One", sans-serif;

  /* stylelint-disable-next-line -- variable name required for astro code plugin */
  --ec-codeFontFml: "JetBrains Mono Variable", monospace;
  --spacing: 0.25rem;
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  --aspect-dnb: 16 / 9;

  /* Easing functions via Emil Kowalski */

  /* ease-out for enter/exit transitions */

  /* ease-in-out for objects already on the screen */
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

  @keyframes fade-in-scale {
    0% {
      opacity: 0%;
      transform: scale(0.95);
    }

    100% {
      opacity: 100%;
      transform: scale(1);
    }
  }
}

/*******************************************************************************
 * When using CSS variables in the @theme section, use the `inline` section
 ******************************************************************************/
@theme inline {
  --font-sans: var(--font-exo2);
  --font-mono: var(--font-jetbrainsmono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/*******************************************************************************
 * The `static` leads to the variables being referenced without the requirement
 * of being used. Other @theme sections will only compile into used variables.
 * This will also generate all utility classes for variable namespaces.
 ******************************************************************************/
@theme static {
  --color-black: hsl(0deg, 0%, 0%);
  --color-white: hsl(0deg, 0%, 100%);
  /* stylelint-disable custom-property-pattern -- this is a TailwindCSS thing */
  --color-amber-*: initial;
  --color-lime-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-sky-*: initial;
  --color-blue-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-fuchsia-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-zinc-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;
  /* stylelint-enable custom-property-pattern */
  /* stylelint-disable plugin/no-unsupported-browser-features -- oklch is ok */
  --color-gray-50: oklch(0.985 0 0deg);
  --color-gray-100: oklch(0.967 0.001 286.375deg);
  --color-gray-200: oklch(0.92 0.004 286.32deg);
  --color-gray-300: oklch(0.871 0.006 286.286deg);
  --color-gray-400: oklch(0.705 0.015 286.067deg);
  --color-gray-500: oklch(0.552 0.016 285.938deg);
  --color-gray-600: oklch(0.442 0.017 285.786deg);
  --color-gray-700: oklch(0.37 0.013 285.805deg);
  --color-gray-800: oklch(0.274 0.006 286.033deg);
  --color-gray-900: oklch(0.21 0.006 285.885deg);
  --color-gray-950: oklch(0.141 0.005 285.823deg);
  /* stylelint-enable plugin/no-unsupported-browser-features */

  --color-gray2-50: #f6f6f9;
  --color-gray2-100: #ededf1;
  --color-gray2-200: #d7d8e0;
  --color-gray2-300: #b3b6c6;
  --color-gray2-400: #8a8fa6;
  --color-gray2-500: #6c718b;
  --color-gray2-600: #565a73;
  --color-gray2-700: #44475a;
  --color-gray2-800: #3d404f;
  --color-gray2-900: #363844;
  --color-gray2-950: #24242d;
  --color-gray3-50: #f6f7f9;
  --color-gray3-100: #ecedf2;
  --color-gray3-200: #d5d7e2;
  --color-gray3-300: #b1b6c8;
  --color-gray3-400: #868faa;
  --color-gray3-500: #677090;
  --color-gray3-600: #525977;
  --color-gray3-700: #434861;
  --color-gray3-800: #3a3f52;
  --color-gray3-900: #343746;
  --color-gray3-950: #282a36;
  --color-gray4-50: #f3f6fa;
  --color-gray4-100: #e8f1f7;
  --color-gray4-200: #d6e3ef;
  --color-gray4-300: #bdcfe4;
  --color-gray4-400: #a1b7d8;
  --color-gray4-500: #89a0cb;
  --color-gray4-600: #7184ba;
  --color-gray4-700: #6272a4;
  --color-gray4-800: #4f5d84;
  --color-gray4-900: #444e6b;
  --color-gray4-950: #282e3e;
  --color-cyan-50: #ecfdff;
  --color-cyan-100: #cef7ff;
  --color-cyan-200: #8be9fd;
  --color-cyan-300: #65dffb;
  --color-cyan-400: #1fc6f1;
  --color-cyan-500: #03a9d7;
  --color-cyan-600: #0586b5;
  --color-cyan-700: #0c6b92;
  --color-cyan-800: #135877;
  --color-cyan-900: #154964;
  --color-cyan-950: #072f45;
  --color-green-50: #eefff1;
  --color-green-100: #d6ffe0;
  --color-green-200: #b0ffc4;
  --color-green-300: #73ff97;
  --color-green-400: #50fa7b;
  --color-green-500: #04e33d;
  --color-green-600: #00bd2e;
  --color-green-700: #019428;
  --color-green-800: #087325;
  --color-green-900: #085f21;
  --color-green-950: #00350f;
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd4;
  --color-orange-200: #ffd8a9;
  --color-orange-300: #ffb86c;
  --color-orange-400: #fe9339;
  --color-orange-500: #fc7313;
  --color-orange-600: #ed5809;
  --color-orange-700: #c54109;
  --color-orange-800: #9c3410;
  --color-orange-900: #7e2d10;
  --color-orange-950: #441406;
  --color-pink-50: #fef1f9;
  --color-pink-100: #fee5f4;
  --color-pink-200: #ffcbec;
  --color-pink-300: #ffa1da;
  --color-pink-400: #ff79c6;
  --color-pink-500: #fa3aa3;
  --color-pink-600: #ea1880;
  --color-pink-700: #cc0a65;
  --color-pink-800: #a80c53;
  --color-pink-900: #8c0f47;
  --color-pink-950: #560127;
  --color-purple-50: #f9f5ff;
  --color-purple-100: #f1e9fe;
  --color-purple-200: #e5d6fe;
  --color-purple-300: #d2b6fc;
  --color-purple-400: #bd93f9;
  --color-purple-500: #9b5af2;
  --color-purple-600: #8439e4;
  --color-purple-700: #7027c9;
  --color-purple-800: #6025a4;
  --color-purple-900: #4f1f84;
  --color-purple-950: #330a61;
  --color-red-50: #fff1f1;
  --color-red-100: #ffe1e1;
  --color-red-200: #ffc7c7;
  --color-red-300: #ffa0a0;
  --color-red-400: #ff5555;
  --color-red-500: #f83b3b;
  --color-red-600: #e51d1d;
  --color-red-700: #c11414;
  --color-red-800: #a01414;
  --color-red-900: #841818;
  --color-red-950: #480707;
  --color-yellow-50: #fbfde9;
  --color-yellow-100: #f6fcc5;
  --color-yellow-200: #f1fa8c;
  --color-yellow-300: #f0f74d;
  --color-yellow-400: #f2f21d;
  --color-yellow-500: #e2da10;
  --color-yellow-600: #c3ad0b;
  --color-yellow-700: #9c7e0c;
  --color-yellow-800: #816312;
  --color-yellow-900: #6e5115;
  --color-yellow-950: #402b08;
  --color-brown-50: #f8f8f2;
  --color-brown-100: #f0f0e4;
  --color-brown-200: #e1e1c7;
  --color-brown-300: #cdcba4;
  --color-brown-400: #b8b27f;
  --color-brown-500: #aaa065;
  --color-brown-600: #9c8d5a;
  --color-brown-700: #82744c;
  --color-brown-800: #6a5e42;
  --color-brown-900: #574d37;
  --color-brown-950: #2e281c;
}

/*******************************************************************************
 * MARK: ShadCN theme variables
 ******************************************************************************/

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
} */

/* MARK: base styles */

/*******************************************************************************
 * Base styles
 ******************************************************************************/
@layer base {
  :root {
    color-scheme: dark light;
  }

  html {
    text-rendering: optimizelegibility;
  }

  /**
   * Everyone should have their own custom CSS reset.
   * This is mine. Plus changes by the Guru's of the web.
   *
   * First comes Preflight from Tailwind CSS
   * @see https://tailwindcss.com/docs/preflight
   */

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#three-enable-keyword-animations-4 */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    @apply font-exo2 font-light;
    @apply bg-gray-50 text-gray-600;
    @apply dark:bg-gray-950 dark:text-gray-200;

    /* font sizes */
    @apply text-sm md:text-base lg:text-xl xl:text-2xl;

    /* @see https://www.joshwcomeau.com/css/custom-css-reset/#four-add-accessible-line-height-5 */
    line-height: 1.6;
    line-height: calc(1em + 0.6rem);

    /* @see https://www.joshwcomeau.com/css/custom-css-reset/#five-improve-text-rendering-6 */
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-changa;
    @apply font-normal; /* Changa One is only available via weight 400 */
    @apply mt-4;
  }

  h1, h2 {
    @apply text-4xl;
  }

  /** The idea is not to use h5 and h6 too often and if, then add custom styles via classes */

  h1 code,
  h2 code,
  h3 code {
    @apply rounded px-1 font-changa text-[90%] not-italic text-cyan-700;
    @apply bg-red-500/10;
  }

  p code {
    @apply font-mono text-[90%] not-italic;
    @apply bg-red-500/10;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#eight-avoid-text-overflows-9 */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#nine-improve-line-wrapping-10 */
  p {
    text-wrap: pretty;
  }

  /* default link styles */
  a {
    @apply text-red-700;
    @apply hover:text-orange-700;
    @apply transition-colors duration-300 ease-in-out;
  }

  /**
   * Tailwind CSS preflight does that, but not for the `picture` element.
   * Reason: the `picture` element is not a functional element but a container. It's ok for us to
   * want it to be a block element, but what Tailwind is fixing is functional elements that are
   * inline by default but should be block for layout reasons.
   */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object,
  picture {
    display: block;
    vertical-align: middle;
  }

  /* Tailwind CSS preflight does that, but only for `img` and `video` */
  img,
  picture,
  video,
  canvas,
  svg {
    max-width: 100%;
  }

  /* @see https://www.joshwcomeau.com/css/custom-css-reset/#seven-inherit-fonts-for-form-controls-8 */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

/* MARK: prose styles */

/*******************************************************************************
 * Prose styles
 ******************************************************************************/
@utility prose-dnb {
  --tw-prose-body: var(--color-gray-800);
  --tw-prose-headings: var(--color-gray-900);
  --tw-prose-lead: var(--color-gray-700);
  --tw-prose-links: var(--color-gray-900);
  --tw-prose-bold: var(--color-gray-900);
  --tw-prose-counters: var(--color-gray-600);
  --tw-prose-bullets: var(--color-gray-400);
  --tw-prose-hr: var(--color-gray-300);
  --tw-prose-quotes: var(--color-gray-900);
  --tw-prose-quote-borders: var(--color-gray-300);
  --tw-prose-captions: var(--color-gray-700);
  --tw-prose-code: var(--color-gray-900);
  --tw-prose-pre-code: var(--color-gray-100);
  --tw-prose-pre-bg: var(--color-gray-900);
  --tw-prose-th-borders: var(--color-gray-300);
  --tw-prose-td-borders: var(--color-gray-200);
  --tw-prose-invert-body: var(--color-gray-200);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-gray-300);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-gray-400);
  --tw-prose-invert-bullets: var(--color-gray-600);
  --tw-prose-invert-hr: var(--color-gray-700);
  --tw-prose-invert-quotes: var(--color-gray-100);
  --tw-prose-invert-quote-borders: var(--color-gray-700);
  --tw-prose-invert-captions: var(--color-gray-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-gray-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 0.5);
  --tw-prose-invert-th-borders: var(--color-gray-600);
  --tw-prose-invert-td-borders: var(--color-gray-700);
}

@layer components {
  /*****************************************************************************
   * Prose styles for content sections
   * see https://github.com/tailwindlabs/tailwindcss-typography#element-modifiers
   ****************************************************************************/
  .content {
    /* used for spacing in content sections */

    /* --typography-space: calc(4 * var(--spacing)); */

    @apply prose-dnb;
    @apply prose-sm md:prose lg:prose-xl xl:prose-2xl;
    @apply dark:prose-invert prose-slate;
    @apply max-w-none;

    /* Changa is only available via weight 400 */
    @apply prose-headings:font-normal;

    p {
      font-variant-ligatures: common-ligatures;
    }

    hr {
      @apply my-8 border-0 border-t border-gray-300 dark:border-gray-700;
    }
  }
}

/*******************************************************************************
 * MARK: Pagefind Component
 ******************************************************************************/
/* stylelint-disable selector-class-pattern -- pagefind classes have underscores */

@layer components {
  /*******************************************************************************
   * Container & core UI
   ******************************************************************************/
  .pagefind-ui {
    width: 100%;
  }

  .pagefind-ui__hidden {
    @apply hidden;
  }

  /*******************************************************************************
   * Search Form
   ******************************************************************************/
  .pagefind-ui__form {
    @apply relative;
  }

  .pagefind-ui__search-input {
    @apply col-start-1 row-start-1 mb-4 block h-8 w-full rounded-l-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600 sm:pl-9 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-gray-700 dark:placeholder:text-gray-500 dark:focus:outline-orange-500;
  }

  .pagefind-ui__search-clear {
    @apply absolute top-0 right-0 mb-4 h-8 w-40 bg-gray-300 dark:bg-gray-700;
  }

  /*****************************************************************************
   * Search Results
   *****************************************************************************/
  .pagefind-ui__drawer {
    @apply flex flex-row flex-wrap;
  }

  .pagefind-ui__results-area {
    flex: 1000;
  }

  .pagefind-ui__results {
    @apply ml-0 grid list-none grid-cols-3 gap-4 pl-0;
  }

  .pagefind-ui__result {
    @apply flex border-2 border-gray-500 p-4;

    align-items: flex-start;
  }

  .pagefind-ui__message {
    display: flex;
    align-items: center;
  }

  .pagefind-ui__button {
    @apply w-full rounded-md bg-orange-50 px-3.5 py-2.5 text-sm font-semibold text-orange-600 shadow-xs hover:bg-orange-100 dark:bg-orange-500/20 dark:text-orange-400 dark:shadow-none dark:hover:bg-orange-500/30;
  }

  .pagefind-ui__result-thumb {
    position: relative;
  }

  .pagefind-ui__result-image {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .pagefind-ui__result-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .pagefind-ui__result-title {
    display: inline-block;
  }

  .pagefind-ui__result-excerpt {
    display: inline-block;
  }

  .pagefind-ui__result-tags {
    display: flex;
    flex-wrap: wrap;
  }
}

/* MARK: utilities */

/*******************************************************************************
 * Utilities
 ******************************************************************************/
@layer utilities {
  .font-changa {
    font-family: var(--font-changa), sans-serif;

    /* Changa One is only available via weight 400 */
    font-weight: 400 !important;

    /* @see https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis */
    font-synthesis: none;
  }

  /* Override any other weight utility when used with font-changa */
  .font-changa.font-thin,
  .font-changa.font-extralight,
  .font-changa.font-light,
  .font-changa.font-normal,
  .font-changa.font-medium,
  .font-changa.font-semibold,
  .font-changa.font-bold,
  .font-changa.font-extrabold,
  .font-changa.font-black {
    /* Changa One is only available via weight 400 */
    font-weight: 400;
  }

  .text-answer-1238jf {
    @apply hidden;
  }

  ::-webkit-scrollbar {
    width: var(--sb-size);
  }

  ::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track:hover {
    background: var(--sb-track-color2);
  }

  ::-webkit-scrollbar-track:active {
    background: var(--sb-track-color2);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:active {
    background: var(--sb-thumb-color2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--sb-thumb-color2);
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      /* Firefox */
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      scrollbar-width: thin;
    }
  }

  /***************************************************************************  */

  /* lite youtube element                                                    **/

  /***************************************************************************  */
  lite-youtube {
    /* @todo transform into container https://tailwindcss.com/docs/responsive-design#container-queries */
    @apply relative block w-full cursor-pointer bg-gray-50 dark:bg-gray-950;
    @apply bg-cover bg-position-[center_center] contain-content;

    /* responsive iframe with a 2:1 (NOT 16:9) aspect ratio
       thanks https://css-tricks.com/responsive-iframes/ */
    &::after {
      @apply block pb-[calc(100%/(2/1))] content-[''];
    }

    & > iframe {
      @apply absolute top-0 left-0 h-full w-full border-0;
    }

    /* play button */
    & > .lty-playbtn {
      @apply absolute z-10 block h-full w-full cursor-pointer border-0;
      @apply bg-size-[48px_36px] bg-center bg-no-repeat contain-content;

      /* YT's actual play button svg */
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="%23c54109"/><path d="M45 24 27 14v20" fill="%23ffffff"/></svg>');
    }

    /* Post-click styles */
    &.lyt-activated {
      @apply cursor-['unset'];

      &::before,
      & > .lty-playbtn {
        @apply pointer-events-none opacity-0;
      }
    }
  }

  /***************************************************************************  */
}

/* MARK: contain utilities */

/* @see https://developer.mozilla.org/en-US/docs/Web/CSS/contain */
@theme {
  --contain-content: content;
  --contain-layout: layout;
  --contain-paint: paint;
  --contain-strict: strict;
  --contain-none: none;
}

@utility contain-* {
  contain: --value(--contain-*);
}

/* MARK: text utilities */

/**
 * show a label sideways
 *
 * @example
 * `class="text-boxlabel-sideways md:text-boxlabel-inherit"`
 */
@utility text-boxlabel-sideways {
  writing-mode: sideways-lr;
  text-orientation: sideways;
}

/**
 * used to reset a sideways label to normal in responsive designs
 *
 * @example
 * `class="text-boxlabel-sideways md:text-boxlabel-inherit"`
 */
@utility text-boxlabel-inherit {
  writing-mode: inherit;
  text-orientation: inherit;
}

@layer utilities {
  /**
   * The ::target-text CSS pseudo-element represents the text that has been
   * scrolled to if the browser supports text fragments. It allows authors to
   * choose how to highlight that section of text.
   */
  ::target-text {
    background-color: var(--color-red-500);
    color: var(--color-gray-950);
  }

  ::search-text {
    background: var(--color-red-600);
    color: var(--color-red-50);
  }

  ::search-text:current {
    background: var(--color-red-900);
    color: var(--color-red-50);
    text-decoration: currentcolor solid underline;
  }
}

/* MARK: svg utilities */

/*******************************************************************************
 * SVG utilities
 * SVG does not provide a default visual style for links, so let's add some *
 ******************************************************************************/

/* select only SVG <a> elements */
svg|a:link,
svg|a:visited {
  cursor: pointer;
  outline: dotted 1px var(--color-cyan-700);
}

svg|a text {
  fill: var(--color-cyan-700);
}

svg|a:hover,
svg|a:active {
  outline: dotted 1px var(--color-cyan-700);
}
