body {
  background-color: var(--bg-card);
}

section {
  background-color: var(--bg-page);
  margin-bottom: 0;
  padding-bottom: 1rem;

}

.section--sitetitle, .section--content {
  padding-top: 100px;


}

.section--content {
  border-bottom-right-radius: 10px;
}
