body {
  background-color: var(--bg-page);
}

section {
  margin-bottom: 0;
  padding-bottom: 1rem;

  background-color: var(--bg-page);

}

main {
  padding-top: 100px;
}

.section--content {
  border-bottom-right-radius: 10px;
}
