@charset 'utf-8';

// Font setup
@import 'settings/fonts';

// Bootstrap - Setup Configuration
@import 'bootstrap/scss/functions';

/* stylelint-disable-next-line scss/at-import-partial-extension-blacklist */
@import 'reasonable-colors/reasonable-colors-hsl.scss';

// layouting
$spacer: 1rem;

// typography
$font-family-sans-serif: 'Exo', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-weight-lighter: lighter;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 900;
$font-size-base: 1.1rem;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;
$small-font-size: 0.875em;
$code-font-size: $small-font-size;

// settings
$border-radius: 10px;
$border-width: 5px;

// headings
$headings-line-height: 1.3;
$headings-font-weight: $font-weight-bold;
// no need for h1-font-size because we use display-1
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$display-font-weight: $font-weight-bolder;

// links
$link-color: var(--primary);
$link-decoration: none;
$link-hover-color: var(--primary);
$link-hover-decoration: underline;

// cards
$card-border-radius: $border-radius;
$card-border-width: 0;
$card-border-color: transparent;
$card-height: 100%;
$card-cap-bg: transparent;

// navigation
$nav-link-color: var(--color);
$nav-link-hover-color: var(--primary);

// code
$code-color: var(--primary);

// lines
$hr-margin-y: $spacer;
$hr-color: var(--primary);
$hr-bg-color: currentColor;
$hr-border-width: 0;
$hr-height: $border-width;
$hr-opacity: 1;

// pagination
$pagination-transition: none;

// Alerts
$alert-margin-bottom: 0;
$alert-border-radius: $border-radius;
$alert-border-width: $border-width;

// Typography
$kbd-padding-y: 0.1rem;
$kbd-padding-x: 0.2rem;
$kbd-font-size: $code-font-size * 0.9;
$kbd-color: var(--color);
$kbd-bg: var(--primary);

// buttons
$btn-border-width: 2px;

// colors
$primary: $color-orange-4;

// settings
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: false;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

// Prefix for :root CSS variables

$variable-prefix: bs-;
$prefix: $variable-prefix;

@import 'bootstrap/scss/variables';

// layout
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Local Bootstrap Setup/Overrides

:root {
  --primary: #{$primary};
  --highlight: #{$color-orange-1};
  --highlight2: #{$color-orange-2};

  --bg-page: #{$color-gray-5};
  --bg-card: #{$color-gray-6};

  --color-title: #{$color-gray-1};
  --color: #{$color-gray-2};
  --color2: #{$color-orange-1};

  --card-header-link-color: #{$color-gray-1};
  --card-header-link-color-hover: #{$color-gray-2};

  --footer-color-fg: #{$color-gray-2};
  --footer-color-bg: #{$color-gray-6};

  --card-border-color: #{$color-gray-6};

  --#{$prefix}pagination-bg: #{$color-gray-6};
  --#{$prefix}pagination-color: #{$color-orange-1};

  // https://drafts.csswg.org/css-ui-4/#widget-accent
  // https://caniuse.com/?search=accent-color
  accent-color: var(--primary);
}

.light {
  --bg-page: #{$color-gray-2};
  --bg-card: #{$color-gray-1};

  --color-title: #{$color-gray-6};
  --color: #{$color-gray-5};
  --color2: #{$color-orange-6};

  --footer-color-fg: #{$color-gray-6};
  --footer-color-bg: #{$color-gray-1};

  --card-border-color: #{$color-gray-2};

  --#{$prefix}pagination-bg: #{$color-gray-6};
}

.dark {
  // most (or all) of the dark setup is defined as default in :root
}

// color
$dark: var(--bg-page);

$card-bg: #{var(--bg-card)};
$card-color: #{var(--color)};

// navbar-brand
$navbar-brand-font-size: 2rem;

// Bootstrap - Layout and components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
// @import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

// Bootstrap - Helpers
@import 'bootstrap/scss/helpers';

// Bootstrap - Utilities
@import 'bootstrap/scss/utilities/api';

// create utility classes
@import 'settings/utilities';
@import 'settings/mixins';

// theme
@import 'utilities';
@import 'layout';
@import 'footer';

// components
@import 'components/alerts';
@import 'components/header';
@import 'components/navigation';
@import 'components/cards';
@import 'components/figure';
@import 'components/pagination';
@import 'components/widgets';
@import 'components/features';
@import 'components/scrollbars';

// Prose formatting
.prose {
  @import 'prose/prose';
  @import 'prose/footnotes';
}

// plugins
@import 'plugins/debugprint';
@import 'plugins/youtube';

// syntax highlighting

/* stylelint-disable-next-line no-duplicate-selectors */
.dark {
  @import 'plugins/syntax/dark';
}

/* stylelint-disable-next-line no-duplicate-selectors */
.light {
  @import 'plugins/syntax/light';
}

// local overrides for child themes
@import 'local';
