@charset 'utf-8';

// adding selenized colorset
$base03: #282822;
$base02: #36362f;
$base01: #4d4d45;
$base00: #657b83;
$base0: #839496;
$base1: #8a8a83;
$base2: #ccccc6;
$base3: #f1f2eb;

$yellow: #e6bc38;
$orange: #f38a4d;
$red: #fc5851;
$magenta: #f87ac3;
$violet: #b28bee;
$blue: #4897f9;
$cyan: #4cd0c1;
$green: #7bbf3e;

$br_yellow: #facf4b;
$br_orange : #ff9c5e;
$br_red: #ff6b61;
$br_magenta: #ff8cd6;
$br_violet: #c49dff;
$br_blue: #5fa8ff;
$br_cyan: #61e2d3;
$br_green: #8ed251;
//@import 'settings/solarized';

// font setup
@import 'settings/fonts';

// bootstrap - setup configuration
@import 'bootstrap/scss/functions';

// internal settings
$heading-height: 70px;

// colors
$body-color: $base0;
$primary: $red;
$secondary: $base2;
$success: $green ;
$info: $cyan;
$warning: $yellow;
$danger: $orange;
$light: $base2;
$dark: $base03;
$white: $base0;

// typography
$font-family-sans-serif: 'Exo', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-weight-lighter: lighter;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 900;
$font-size-base: 1.3rem;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;
$small-font-size: 0.875em;

// headings
$headings-font-weight: 300;
$headings-line-height: 1.3;
$headings-font-weight: $font-weight-bold;
// no need for h1-font-size because we use display-1
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// links
$link-color: var(--primary);
$link-decoration: none;
$link-hover-color: var(--primary);
$link-hover-decoration: underline;

// navigation
$nav-link-color: var(--sol-base2);
$nav-link-hover-color: var(--primary);

// code
$code-font-size: $small-font-size;
$code-color: $base01;

// lines
$hr-color: var(--primary);
$hr-bg-color: currentColor;
$hr-border-width: 0;
$hr-opacity: 1;

// alerts
$alert-margin-bottom: 0;

// typography
$kbd-padding-y: 0.1rem;
$kbd-padding-x: 0.2rem;
$kbd-font-size: $code-font-size * 0.9;
$kbd-color: var(--sol-base2);
$kbd-bg: var(--primary);

// tables
$table-th-font-weight: 300;
$table-border-width: 1px;
$table-border-color: var(--primary);
$table-color: var(--sol-base03);
$table-bg: var(--sol-base03);
$table-accent-bg: var(--sol-base03);

// buttons
$btn-border-width: 2px;

// settings
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: false;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

// prefix for CSS variables
$variable-prefix: bs-;
$prefix: $variable-prefix;

@import 'bootstrap/scss/variables';

// layout
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
);

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// local bootstrap setup/overrides
:root {
	--sol-base03: #{$base03};
	--sol-base02: #{$base02};
	--sol-base01: #{$base01};
	--sol-base00: #{$base00};
	--sol-base0: #{$base0};
	--sol-base1: #{$base1};
	--sol-base2: #{$base2};
	--sol-base3: #{$base3};
	--sol-yellow: #{$yellow};
	--sol-orange: #{$orange};
	--sol-red: #{$red};
	--sol-magenta: #{$magenta};
	--sol-violet: #{$violet};
	--sol-blue: #{$blue};
	--sol-cyan: #{$cyan};
	--sol-green: #{$green};

	--primary: var(--sol-red);
	--highlight: var(--sol-red);
	--highlight2: var(--sol-orange);

	--sol-base02: var(--sol-base03);

	--color-title: $base0;
	--color: #{$base3};
	--color2: #{$red};

	--footer-color-fg: #{$base2};
	--footer-color-bg: #{$base03}; // note: see components/layout

	--#{$prefix}pagination-bg: #{$base03};
	--#{$prefix}pagination-border-color: $base0;

	// https://drafts.csswg.org/css-ui-4/#widget-accent
	// https://caniuse.com/?search=accent-color
	accent-color: var(--primary);
}

.light {
	// settings for a light theme
	// most (or all) of the light setup is defined as default in :root if dark is default
}

.dark {
	// settings for a dark theme
	// most (or all) of the dark setup is defined as default in :root if dark is default
}

// bootstrap - layout and components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/card';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

// bootstrap - helpers
@import 'bootstrap/scss/helpers';

// bootstrap - utilities
@import 'bootstrap/scss/utilities/api';

// create utility classes
@import 'settings/utilities';
@import 'settings/mixins';

// components
@import 'components/utilities';
@import 'components/layout';
@import 'components/footer';
@import 'components/alerts';
@import 'components/header';
@import 'components/navigation';
@import 'components/articles';
@import 'components/figure';
@import 'components/widgets';
@import 'components/features';
@import 'components/scrollbars';
@import 'components/pagination';

// article content formatting
.prose {
	@import 'prose/prose';
	@import 'prose/footnotes';
	@import 'prose/components';
	@import 'prose/tables';
}

// plugins
@import 'plugins/debugprint';
@import 'plugins/youtube';
@import 'plugins/devaudit';
@import 'plugins/transitions';
@import 'plugins/brands';

// external plugins
@import 'animate.css/animate';

// syntax highlighting
/* stylelint-disable-next-line no-duplicate-selectors */
.dark {
	@import 'plugins/syntax/dark';
}

/* stylelint-disable-next-line no-duplicate-selectors */
.light {
	@import 'plugins/syntax/light';
}
