////
/// @author Patrick Kollitsch
/// @access public
/// @since 1.2024.0
////

@charset 'utf-8';

// internals
@use "sass:map";
@use "sass:color";
@use "sass:math";
@use "sass:string";
@use "sass:list";

// modules
@use "modules/colors" as dnbcolors;
@use "modules/typography" as dnbtypography;

// MARK: Settings Fonts

/// default directory to locate webfonts
/// @type string
$fontdir: "/assets/webfonts" !default;

/// @param {string} $family - Font family name
/// @param {string} $subdir - Subdirectory inside $fontdir
/// @param {string} $file - Filename (without extension)
/// @param {string | number} $weight - Font weight or range
/// @param {string} $style - normal | italic
/// @param {string} $display - fallback | swap
/// @param {list} $formats - List of formats and optional tech
@mixin fontface($family, $subdir, $file, $weight, $style, $display, $formats) {
  $sources: (
  );

@each $format in $formats {
  $formatType: list.nth($format, 1);
  $tech: if(list.length($format) > 1, ' tech("#{list.nth($format, 2)}")', '');
  $sources: list.append($sources,
      string.unquote('url("#{$fontdir}/#{$subdir}/#{$file}") format("#{$formatType}")#{$tech}'),
      comma);
}

@font-face {
  font-family: $family;
  src: #{$sources};
  font-weight: $weight;
  font-style: $style;
  font-display: $display;
  text-rendering: optimizelegibility;
}
}

@include fontface("Exo2", "exo", "normal.woff2", 100 900, normal, fallback, (("woff2", "variations"), ("woff2-variations")));
@include fontface("Exo2", "exo", "italic.woff2", 100 900, italic, swap, (("woff2", "variations"), ("woff2-variations")));
@include fontface("JetBrainsMono", "jetbrainsmono", "JetBrainsMono[wght].woff2", 100 800, normal, fallback, (("woff2", "variations"), ("woff2-variations")));
@include fontface("JetBrainsMono", "jetbrainsmono", "JetBrainsMono-Italic[wght].woff2", 100 800, italic, swap, (("woff2", "variations"), ("woff2-variations")));
@include fontface("Changa", "changa", "changaone-regular-webfont.woff2", normal, normal, fallback, (("woff2"), ("woff")));
@include fontface("Changa", "changa", "changaone-italic-webfont.woff2", normal, italic, swap, (("woff2"), ("woff")));

/// font family setup
$ff-headline: Changa, sans-serif !default;
$ff-body: Exo2, sans-serif !default;
$ff-mono: JetBrainsMono, monospace !default;

// MARK: Settings Colors

// :root {
//   @each $name, $value in dnbcolors.$colors {
//     --color-#{$name}: #{$value};
//   }
// }

/// default dark background color
/// @type color
$dark-1: map.get(dnbcolors.$colors, "black") !default;

/// default dark accented background color
/// @type color
$dark-2: map.get(dnbcolors.$colors, "midnightblue") !default;

/// default light background color
/// @type color
$light-1: map.get(dnbcolors.$colors, "whitesmoke") !default;

/// default light accented background color
/// @type color
$light-2: map.get(dnbcolors.$colors, "gainsboro") !default;

/// theme primary (accent) color
/// @type color
$primary: map.get(dnbcolors.$colors, "red") !default;

/// contrast between sections in dark theme
/// @type percentage
$dark-contrast: 12% !default;

/// contrast between sections in light theme
/// @type percentage
$light-contrast: 7% !default;

// MARK: Settings Theme
:root {
  /// @link https://developer.chrome.com/docs/css-ui/animate-to-height-auto/
  interpolate-size: allow-keywords;
}

[data-bs-theme="dark"] {
  color-scheme: dark;

  --bs-body-bg: $dark-2;
  --bs-primary: $primary;
}

[data-bs-theme="light"] {
  color-scheme: light;

  --bs-body-bg: $light-1;
  --bs-primary: $dark-2;
}

/// [data-bs-theme=dark] instead of media-queries
/// @link https://getbootstrap.com/docs/5.3/customize/color-modes/#custom-color-modes
$color-mode-type: data;

/// color settings
$danger-text-emphasis: $primary;

/// global elements
$border-width: 2px;

/// body
$body-bg-dark: $dark-1;
$body-bg: $light-1;

/// typography
/// based on golden ratio
///
/// Size (px)	Height (px)
/// 47	74 52
/// 37	59 32
/// 29	48 20
/// 23	39 12
/// 18	32  7
/// 14	26  4
$font-size-root: 18px;
$font-size-base: 1rem;
$font-family-sans-serif: $ff-body;
$font-family-monospace: $ff-mono;

/// font sizes
$font-weight-lighter: 100;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

/// headings
$headings-font-family: $ff-headline;
$headings-font-weight: 400;
$h1-font-size: $font-size-base * 2.05;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base * 0.8;
$h6-font-size: $font-size-base * 0.8;

/// component color
$component-active-color: var(--bs-dark);

/// links
$link-color: $primary;
$link-color-dark: $primary;
$link-hover-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

/// badges
$badge-font-weight: 400;
$badge-font-size: 0.75em;

/// buttons
$btn-font-family: $ff-headline;

/// navigation
/// @link https://getbootstrap.com/docs/5.3/components/navbar/
/// @link https://getbootstrap.com/docs/5.3/components/navs-tabs/
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$nav-link-font-size: 1rem;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;

/// navbar toggler
$navbar-toggler-padding-y: .25rem;
$navbar-toggler-padding-x: .5rem;
$navbar-toggler-transition: box-shadow .15s ease-in-out;

/// settings
$enable-shadows: true;
$enable-negative-margins: true;
$enable-rounded: true;
$enable-important-utilities: false;

/// theme settings
$heading-height: 70px;

// 2:1. 2 would be enough, but then we would forget how to set other aspect ratios until next time ;]
$aspect-ratio: math.div(2, 1);

/// mark tag
$mark-color: var(--bs-gray-dark);
$mark-bg: var(--bs-primary);
$mark-padding: 0 0.1875em;

/// root setup
:root {
  // @link https://drafts.csswg.org/css-ui-4/#widget-accent
  // @link https://caniuse.com/?search=accent-color
  accent-color: var(--bs-primary);
  color-scheme: dark light;

  // transition setup and default values
  --duration: 0.5s;
  --timing: ease;
  --flow-space: var($spacer * 2, 1em);

  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

@media (prefers-reduced-motion) {

  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/// breadcrumbs setup
/* stylelint-disable-next-line scss/no-global-function-names -- quote alone is ok */
$breadcrumb-divider: string.quote(∕) !default;
$breadcrumb-font-size: 0.8rem;
$breadcrumb-margin-bottom: 0.25rem;
$breadcrumb-divider-color: var(--bs-tertiary-color);

$border-radius: 5px;

/// code
$code-font-size: 90%;

// MARK: Bootstrap Modules

// BS: theme settings
// A note about @import vs @use
// Bootstrap seems to not yet support @use, so we use @import for now.
// In regards to the DNB theme, we @use modules and all @imports are deprecated.

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// DNB: map overrides should be added here
// BS: other required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// BS: all other components as required
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";

// @import 'bootstrap/scss/button-group';
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";

// @import 'bootstrap/scss/accordion';
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";

// @import 'bootstrap/scss/list-group';
@import "bootstrap/scss/close";

// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
@import "bootstrap/scss/tooltip";

// @import 'bootstrap/scss/popover';
// @import "bootstrap/scss/carousel";

// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

// BS: helpers
@import "bootstrap/scss/helpers";

// BS: utilities API
@import "bootstrap/scss/utilities/api";

// MARK: DNB Dark Skies Theme

html {
  scroll-behavior: smooth;

  background: var(--dnb-bg-image) no-repeat center center fixed;
  background-size: cover;

  &:has(.kind-404) {
    background: url("/assets/images/404.jpg") no-repeat center center fixed;
    background-size: cover;
  }

}

body {
  background-color: color-mix(in srgb, var(--bs-body-bg) 90%, transparent);
  font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

a {
  transition: color 0.5s linear;
  text-decoration-skip-ink: all;
  text-decoration-skip: leading-spaces edges;
  box-decoration-break: clone;

}

/* content area */
main {
  padding-top: 30px;
  margin: 0 auto;
  max-width: clamp(320px, 90%, 60rem);
  min-height: 100vh;

  @include media-breakpoint-up(md) {
    padding-top: 90px;
  }
}

article {
  width: 100%;

  img {
    max-width: 100%;
  }
}

/// A container for the article image
.post-slider {
  figure {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    position: relative;

    picture,
    img,
    .iframe-border,
    video {
      object-fit: cover;
      aspect-ratio: 2/1;
      overflow: hidden;
      border-radius: var(--bs-border-radius);
      width: 100%;
    }

  }
}

.section--content article {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  transition: background 2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }


  border-radius:var(--bs-border-radius);

}

.breadcrumb {
  margin-right: math.div($spacer, 2);

  .breadcrumb-item {
    float: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

a.text-hover-decoration-none:hover {
  text-decoration: none;
}

abbr {
  letter-spacing: 0.1em;
}

.alert {
  // @todo make this look good
  // @include media-breakpoint-up(md) {
  // display: block;
  // margin: 0 -60px;
  // }

  a {
    /// adds colors to all links inside alerts
    font-weight: 700;
    color: var(--bs-alert-link-color);
  }

  /// remove unnessary margin from last paragraph in alerts
  p:last-of-type {
    margin-bottom: 0;
  }

  .icon--bootstrap {
    box-shadow: var(--bs-box-shadow-lg);
    background-color: var(--bs-dark-bg-subtle);
    border: 2px solid var(--bs-dark-border-subtle);
    padding: 8px;
    border-radius: 999px;
    line-height: 1;
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -25px;
  }

}

.is--clickable {
  cursor: pointer;
}

input:autofill {
  --bs-border-opacity: 1;

  border-width: 1px;
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity));
}

textarea {
  field-sizing: content; // default is `fixed`
  height: 10rem;
  min-height: 10rem;
}

.sitetitle {
  font-size: clamp(1.8rem, 8vw, 8rem);
  background-color: rgba(0, 0, 0, .2);
  transition: background-color 2s;

  [data-bs-theme="light"] & {
    background-color: rgba(255, 255, 255, .2);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

/* highlighting via `mark` tag */
$mark-lighten-percentage: 20%; // Configurable percentage for lightening

/// Applies the default mark background styling
/// @param {Color} $base-color - The base Bootstrap color to use
@mixin mark-background($base-color) {
  $light-color: color.mix(white, $base-color, $mark-lighten-percentage);

  background: linear-gradient(100deg,
    #{$light-color}00 1%,
    #{$light-color} 2.5%,
    #{$light-color}80 5.7%,
    #{$light-color}1a 93%,
    #{$light-color}b4 95%,
    #{$light-color}00 98%),
  linear-gradient(182deg, #{$light-color}00, #{$light-color}4d 8%, #{$light-color}00 15%);
}

// mark {
//   @include mark-background(map.get($colors, "success"));
//   border-radius: var(--bs-border-radius);
// }

code,
kbd,
pre,
samp {
  font-family: $ff-mono;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig", "dlig", "calt", "zero", "ss02", "cv18", "cv19", "cv20";
}

/// @link https://clagnut.com/blog/2424
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;

  code {
    font-family: $ff-headline;
    font-style: italic;
  }
}

caption,
figcaption {
  text-wrap: balance;
}

// DNB: prose - article content formatting
@include dnbtypography.configure($border-radius: $border-radius);
@include dnbtypography.scrollbar;
@include dnbtypography.scrollbar(".prose", 3px);

.prose {
  /* max-inline-size: 55rem; */
  margin-inline: auto;
  margin-bottom: 1rem;

  /* @link https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  text-size-adjust: none;
  line-height: 1.5;
  text-decoration-skip-ink: auto;
  font-optical-sizing: auto;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
  font-kerning: normal;

  /* @todo balance for headings, pretty for floating text */
  text-wrap: pretty;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-size-adjust: 0.458;

  // hyphenation
  // @link https://clagnut.com/blog/2395/
  hyphens: auto;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;

  // MARK: DNB Prose
  // universal block formatting reset
  >*+* {
    margin-block-start: var(--flow-space, 1em);
  }

  p {
    text-align: justify;
  }

  a {
    box-decoration-break: clone;

    --bs-link-underline-opacity: 1;
    -webkit-text-decoration-color: rgba(var(--bs-primary-rgb), var(--bs-link-underline-opacity));
    text-decoration-color: rgba(var(--bs-primary-rgb), var(--bs-link-underline-opacity));
    text-underline-offset: 0.25em;

    @include dnbtypography.word-wrap;
  }

  abbr {
    font-variant-caps: all-small-caps;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    font-family: $ff-body;
    font-weight: 500;

    margin-top: 3rem;

    .heading-tools {
      float: right;
      margin-left: .5rem;
      display: none;
    }

    &:hover .heading-tools {
      display: inline-block;
    }

    a {
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3 {

    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-color: var(--bs-light-border-subtle);
  }

  /// hyphenation for various content types
  p,
  li,
  dd,
  td,
  .alert {
    text-wrap: pretty;

    @include dnbtypography.hyphenate;
    @include dnbtypography.word-wrap;
  }

  blockquote {
    padding: $spacer $spacer $spacer 0.95rem;
    border-left: $primary 5px solid;
    background-color: var(--bs-tertiary-bg);

    cite {
      font-style: italic;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }

    ul {
      margin-bottom: 0;
    }
  }

  pre {
    margin-bottom: 0;
  }

  .highlight {
    // font-size: 0.9rem;
    margin-bottom: $spacer;

    .chroma {
      padding: 0.3rem;
    }
  }

  .section--meta {
    border-top: 1px solid $primary;
    font-size: 0.9rem;
    padding-top: 1rem;

    a {
      --bs-text-opacity: 1;

      color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));

      &:hover {
        --bs-text-opacity: 1;

        color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
      }
    }
  }

  kbd {
    display: inline-block;
    padding: 0.1rem 0.2rem 0;
    line-height: 1;
  }

  .text-small {
    /* @todo see if this can be done with rem */
    font-size: 90%;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom: 0;
  }

  [id^="fnref"] {
    color: $primary;
  }

  .footnotes {
    margin-bottom: 0.5rem;

    hr {
      border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
      --bs-border-opacity: 1;
      border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity));
    }

    .footnote-backref {
      visibility: hidden;

      &::before {
        visibility: visible;
        content: "↥";
      }
    }
  }

  figure {
    margin-right: auto;
    margin-left: auto;
  }

  /// opentype font ligature and features
  .dlig {
    font-variant-ligatures: discretionary-ligatures;
  }

  .hlig {
    font-variant-ligatures: historical-ligatures;
  }

  .dlig.hlig {
    font-variant-ligatures: discretionary-ligatures historical-ligatures;
  }

  /* Apply both historic and discretionary */

  .pnum {
    font-variant-numeric: proportional-nums;
  }

  .tnum {
    font-variant-numeric: tabular-nums;
  }

  .lnum {
    font-variant-numeric: lining-nums;
  }

  .onum {
    font-variant-numeric: oldstyle-nums;
  }

  .zero {
    font-variant-numeric: slashed-zero;
  }

  .pnum.zero {
    font-variant-numeric: proportional-nums slashed-zero;
  }

  /* Apply slashed zeroes to proportional numerals */
  .tnum.zero {
    font-variant-numeric: tabular-nums slashed-zero;
  }

  .lnum.zero {
    font-variant-numeric: lining-nums slashed-zero;
  }

  .onum.zero {
    font-variant-numeric: oldstyle-nums slashed-zero;
  }

  .tnum.lnum.zero {
    font-variant-numeric: tabular-nums lining-nums slashed-zero;
  }

  .frac {
    font-variant-numeric: diagonal-fractions;
  }

  .afrc {
    font-variant-numeric: stacked-fractions;
  }

  .ordn {
    font-variant-numeric: ordinal;
  }

  .smcp {
    font-variant-caps: small-caps;
  }

  .c2sc {
    font-variant-caps: unicase;
  }

  .hist {
    font-variant-alternates: historical-forms;
  }

  pre,
  code,
  var,
  samp,
  kbd,
  h2,
  h3,
  h4,
  h5,
  h6 {
    -webkit-hyphens: manual;
    hyphens: manual;
  }


  code {

    &::before,
    &::after {
      content: "`";
    }

    background-color: rgba($primary, 0.05);
  }

  pre code {
    /* fix: disable the backticks in highlighted code */

    &::before,
    &::after {
      content: "";
    }
  }

  h1,
  h2,
  h3 {
    &.post-title {
      border-bottom: $border-width solid $primary;
    }
  }

  /// global figcaption design
  figcaption {
    --bs-text-opacity: 1;

    text-align: right;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
    font-style: italic;
    margin-top: 0;
    font-size: 0.9rem;
    width: 100%;
  }

  .shortcode--youtube {
    margin-bottom: 1rem;
  }

  // MARK: DNB Tables
  table {
    $table-color: $body-color;

    .dark & {
      --bs-table-color: #ffffff;
      --bs-table-bg: #212529;
      --bs-table-border-color: #4d5154;
      --bs-table-striped-bg: #2c3034;
      --bs-table-striped-color: #ffffff;
      --bs-table-active-bg: #373b3e;
      --bs-table-active-color: #ffffff;
      --bs-table-hover-bg: #323539;
      --bs-table-hover-color: #ffffff;

      color: var(--bs-table-color);
      border-color: var(--bs-table-border-color);
    }

    .light & {
      --bs-table-color: #000000;
      --bs-table-bg: #f8f9fa;
      --bs-table-border-color: #c6c7c8;
      --bs-table-striped-bg: #ecedee;
      --bs-table-striped-color: #000000;
      --bs-table-active-bg: #dfe0e1;
      --bs-table-active-color: #000000;
      --bs-table-hover-bg: #e5e6e7;
      --bs-table-hover-color: #000000;

      color: var(--bs-table-color);
      border-color: var(--bs-table-border-color);
    }

    code,
    pre {
      padding: 0.25rem;
    }

    @extend .table;
    @extend .table-bordered;
    @extend .table-sm;

    td {
      padding: .25rem .5rem;

      &:nth-of-type(1) {
        white-space: nowrap;
      }

      :has(table) {
        padding: 0;
      }
    }

    th {
      padding: .25rem .5rem;
    }

    margin-bottom:0;

  }

  // @TODO perfect candidate for a module to @use with color settings.
  .light & {
    // light theme syntax highlighting
    @import "modules/syntax/light";
  }

  .dark & {
    // dark theme syntax highlighting
    @import "modules/syntax/dark";
  }

}

/// alerts
.alert-dnb-dark {
  --bs-alert-bg: rgba(0, 0, 0, 0.1) !important;
  --bs-alert-border-color: rgba(0, 0, 0, 0.2) !important;
}

.alert-dnb-light {
  --bs-alert-bg: rgba(, 0.1) !important;
  --bs-alert-border-color: rgba(0, 0, 0, 0.2) !important;
}

/// @todo integrate this into the theme
.fit-content {
  width: fit-content;
}

/// font family classes
.ff-headline {
  font-family: $ff-headline !important;
}

.ff-body {
  font-family: $ff-body !important;
}

.ff-jetbrains {
  font-family: $ff-mono !important;
}

/// fix navigation overflow for anchor links
:target {
  scroll-margin-top: $heading-height;
}

// MARK: DNB Utilities
/// truncate text with an ellipsis after x lines. extend .text-truncate with
/// .text-truncate-1, .text-truncate-2, etc.
@for $i from 1 through 10 {
  .text-truncate-#{$i} {
    display: -webkit-box !important;
    -webkit-line-clamp: #{$i};
    line-clamp: #{$i};
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

/// ribbons
.ribbon {
  font-size: 1rem;

  &.status--draft {
    color: $dark-2;
    background-color: $primary;
  }

  &.status--gohugo {
    color: $dark-1;
    background-color: $primary;
  }

  article:has(&) {
    position: relative;
  }
}

/* stylelint-disable plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
/// coloring the selection in the browser
::selection {
  color: var(--bs-body-bg);
  text-shadow: none;
  background-color: var(--bs-primary);
}



// MARK: DNB Footer
#footer {
  .widget.social-media {

    a:link,
    a:hover {
      padding-right: 1rem;
      padding-left: 1rem;

      svg {
        width: 36px;
        height: 36px;
        padding: 0;
        margin: 0;
      }
    }
  }

  .light & {
    color: $dark-1;
  }

  .dark & {
    color: $light-1;
  }

  .container {
    max-width: 1200px;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: var(--bs-primary-color);
      text-decoration: none;
    }
  }
}

// MARK: DNB Navigation
.navbar {
  transition: background-color 2s;

  .navbar-toggler {
    line-height: 0.8;
  }

  .navbar-toggler-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .navbar-brand {
    transition: opacity 1.5s ease, transform 0.3s ease;
    opacity: 0%;
    transform: translateY(-10px); // Start slightly above
    display: block; // Ensure the element is always in the document flow
    visibility: hidden; // Ensure it's hidden from screen readers when invisible

    &.sticky-visible {
      opacity: 100%;
      transform: translateY(0); // Move back to its normal position
      visibility: visible; // Make it accessible to screen readers
    }
  }

  body.dark & {
    background-color: color.scale(map.get(dnbcolors.$colors, "veryblack"), $alpha: -80%);
  }

  body.light & {
    background-color: color.scale(map.get(dnbcolors.$colors, "white"),
        $alpha: -80%);
  }

  body.dark.nav-state2 & {
    background-color: color.scale(map.get(dnbcolors.$colors, "veryblack"),
        $alpha: -20%);
    backdrop-filter: saturate(180%) blur(20px);
  }

  body.light.nav-state2 & {
    background-color: color.scale(map.get(dnbcolors.$colors, "white"),
        $alpha: -20%);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .icon--bootstrap {
    margin-right: 0.25rem;
  }

}

.progress {
  /* stylelint-disable-next-line scss/function-no-unknown -- not unknown, it's part of baseline */
  background: linear-gradient(90deg,
      map.get(dnbcolors.$colors, "red") 0%,
      map.get(dnbcolors.$colors, "orange") 12.5%,
      map.get(dnbcolors.$colors, "yellow") 25%,
      map.get(dnbcolors.$colors, "springgreen") 37.5%,
      map.get(dnbcolors.$colors, "deepskyblue") 50%,
      map.get(dnbcolors.$colors, "blueviolet") 62.5%,
      map.get(dnbcolors.$colors, "mediumvioletred") 75%,
      map.get(dnbcolors.$colors, "deeppink") 87.5%,
      map.get(dnbcolors.$colors, "red") 100%);
}

// MARK: DNB Search Field
/* stylelint-disable selector-class-pattern --- can't be changed due to its being a plugin */
#pagefind {
  .pagefind-ui__form {
    @extend .input-group;
    margin-bottom: 1rem;

    .pagefind-ui__search-input {
      @extend .form-control;
      margin-bottom: 1rem;
    }

    .pagefind-ui__search-clear {
      @extend .btn;
      @extend .btn-outline-secondary;
      margin-bottom: 1rem;
    }

    .pagefind-ui__drawer {
      @extend .container;
    }
  }

  .pagefind-ui__button {
    @extend .btn;
    @extend .btn-primary;
  }

  .pagefind-ui__results {
    @extend .row;
    @extend .list-unstyled;

    .pagefind-ui__result {
      @extend .card;
      @extend .col-md-4;
      @extend .col-12;
      @extend .border;
      @extend .border-0;

      /* stylelint-disable-next-line selector-max-compound-selectors --- can't be changed */
      .pagefind-ui__result-thumb {

        /* stylelint-disable-next-line max-nesting-depth, selector-max-compound-selectors --- can't be changed */
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// MARK: DNB Theme Toggle
#themeswitcher {
  // giving it a max width so no jumping around in the navigation
  max-width: 59.31px;
  max-height: 52px;
  overflow: hidden;
  border-left: 1px solid var(--bs-gray-700);
  padding-left: $spacer * .75;
  margin-left: $spacer;

  >div {
    @extend .btn;
    @extend .btn-link;
    border-radius: var(--bs-border-radius);

    [data-bs-theme="light"] & .icon--bs {
      --bs-text-opacity: 1;
      color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
    }

    [data-bs-theme="dark"] & .icon--bs {
      --bs-text-opacity: 1;
      color: rgba(var(--bs-light-rgb), var(--bs-text-opacity));
    }
  }

  @include media-breakpoint-down(sm) {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 5rem;
  }

}

// MARK: DNB Plugins
// @import "plugins";
@import "plugins/lite-yt-embed";
@import "plugins/auditor";
@import "plugins/debugprint";
@import "plugins/clipboard";
