@charset 'utf-8';

/// BS: configuration
@import "bootstrap/scss/functions";

/// DNB: theme settings
@import "01-settings/fonts";
@import "01-settings/colors";
@import "01-settings/colormode-light";
@import "01-settings/colormode-dark";
@import "01-settings/theme";
@import "01-settings/utilities";

/// BS: theme settings
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

/// DNB: map overrides
@import "01-settings/maps";

/// BS: other required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

/// BS: all other components as required
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";

// @import "bootstrap/scss/transitions";
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/button-group';
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";

// @import 'bootstrap/scss/accordion';
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";

// @import 'bootstrap/scss/list-group';
@import "bootstrap/scss/close";

// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
@import "bootstrap/scss/tooltip";

// @import 'bootstrap/scss/popover';
// @import "bootstrap/scss/carousel";

// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

/// BS: helpers
@import "bootstrap/scss/helpers";

/// BS: utilities API
@import "bootstrap/scss/utilities/api";

/// DNB: mixins
@import "02-mixins/colors";
@import "02-mixins/css_functions";
@import "02-mixins/scrollbars";
@import "02-mixins/scrollsnap";
@import "02-mixins/shadows";
@import "02-mixins/typography";

/// DNB: Global
@import "03-global/global";
@import "03-global/header";
@import "03-global/footer";
@import "03-global/responsive";
@import "03-global/transitions";

/// adding scrollbars
@include dnb-scrollbars;

/// DNB: Components
@import "04-components/alerts";
@import "04-components/archive";
@import "04-components/articles";
@import "04-components/features";
@import "04-components/figure";
@import "04-components/forms";
@import "04-components/highlight";
@import "04-components/markup";
@import "04-components/navigation";
@import "04-components/search";
@import "04-components/tabs";
@import "04-components/text";
@import "04-components/utilities";
@import "04-components/gohugo";

/// DNB: prose - article content formatting
@include dnb-scrollbars(".prose", 3px);

.prose {
  @import "05-prose/prose";
  @import "05-prose/images";
  @import "05-prose/tables";
}

/// DNB: plugins
@import "06-plugins/shortcodes";
@import "06-plugins/syntax";
@import "06-plugins/theme-toggle";

/// DNB: external plugins (imported from node_modules)
@import "lite-yt-embed";
@import "animate.css/animate";
@import "debugprint";
@import "plugins/clipboard";
@import "auditor";
