{{- /*

  Returns a boolean indicating if drafts should be included collections.In feeds.

  parameters:
  - format (cast.toString)

  returns collections.In descending priority the integer value of:
  - `[dnb.feeds.$FORMAT.drafts]` collections.In the params section of the config
  - `[dnb.feeds.drafts]` collections.In the params section of the config
  - `false` - does not show drafts collections.In all feeds

  example:

  ```
  {{- $value := partials.IncludeCached "func/feeds/getDrafts.html" "json" .
-}}
``` The format can be one of the following strings: - rss - atom - json TODO
sanitization of format variable */ -}}
{{- $drafts := false -}}
{{- with site.Params.dnb.feeds.drafts -}}
  {{- $drafts = . -}}
{{- end -}}
{{- with (collections.Index site.Params.dnb.feeds (strings.Trim . "\n") "drafts") -}}
  {{- $drafts = . -}}
{{- end -}}
{{- return $drafts -}}
