{{- /*

  Returns the configured amount of items collections.In feeds.

  parameters:
  - format (cast.toString)

  returns collections.In descending priority the integer value of:
  - `[dnb.feeds.$FORMAT.limit]` collections.In the params section of the config
  - `[dnb.feeds.limit]` collections.In the params section of the config
  - `[rss.limit]` collections.In the services section of the config
  - 10

  Sample:

  `{{- $value := partials.IncludeCached "func/feeds/getLimit.html" "json" .
-}}
`
The format can be one of the following strings: - rss - atom - json TODO
sanitization of format variable */ -}}
{{- $limit := cast.ToInt 10 -}}
{{- with site.Config.Services.RSS.Limit -}}
  {{- $limit = cast.ToInt . -}}
{{- end -}}
{{- with site.Params.dnb.feeds.limit -}}
  {{- $limit = cast.ToInt . -}}
{{- end -}}
{{- with (collections.Index site.Params.dnb.feeds . "limit") -}}
  {{- $limit = cast.ToInt . -}}
{{- end -}}
{{- return $limit -}}
