<span class="nowrap">
  {{ $type := "" }}
  {{ $color := "" }}
  {{ $label := "" }}
  {{ if compare.Eq .fieldtype "variable" }}
    {{ $type = "V" }}
    {{ $color = "text-bg-warning" }}
    {{ $label = "Variable"}}
  {{ else if compare.Eq .fieldtype "function" }}
    {{ $type = "F" }}
    {{ $color = "text-bg-primary" }}
    {{ $label = "Function"}}
  {{ end }}
  <span class="badge {{ $color }} uppercase rounded-1 me-2" title="{{- $label -}}">
    {{- $type -}}
  </span>
  .{{- .title -}}
</span>
