/*******************************************************************************
 * navbar setup
 *
 * see
 * - https://getbootstrap.com/docs/5.2/components/navbar/
 * - https://getbootstrap.com/docs/5.2/components/navs-tabs/
 ******************************************************************************/
.navbar {
	.navbar-nav {
		@extend .mt-0;
	}

	.nav-link {
		.icon--bs {
			margin-bottom: 0.15rem;

			@extend .d-inline-block;
			@extend .me-1;
			@extend .align-bottom;
		}
	}

	.navbar-brand {
		a {
			font-family: BahnPro, sans-serif;
			font-weight: 700;
			font-size: 2rem;
			margin-top: 0.5rem;
			display: inline-block;
		}

		svg {
			width: auto;
			height: 28px;
			padding-bottom: 5px;
		}
	}
}
