/* stylelint-disable plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
// coloring the selection in the browser
::selection {
	color: var(--bs-body-bg);
	text-shadow: none;
	background-color: var(--bs-primary);
}

// hyphenation for paragraphs and stuff
.hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	hyphenate-limit-chars: 10 4 4;
}