/* Webfont: TomkinNarrow-LightItalic */@font-face {
    font-family: 'TomkinNarrowLight';
    src: url('TomkinNarrow-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('TomkinNarrow-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TomkinNarrow-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('TomkinNarrow-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TomkinNarrow-LightItalic.svg#TomkinNarrow-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

