/* Webfont: TomkinNarrow-SemiLightItalic */@font-face {
    font-family: 'TomkinNarrowSemiLight';
    src: url('TomkinNarrow-SemiLightItalic.eot'); /* IE9 Compat Modes */
    src: url('TomkinNarrow-SemiLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TomkinNarrow-SemiLightItalic.woff') format('woff'), /* Modern Browsers */
         url('TomkinNarrow-SemiLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TomkinNarrow-SemiLightItalic.svg#TomkinNarrow-SemiLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

