---
import ArticleCard from '@components/ArticleCard.astro';
import Heading from '@components/Heading.astro';
import { Icon } from 'astro-icon/components';
import { getHomepagePosts } from '@utils/content';

export interface Props {}

const { featuredPost: _, recentPosts } = await getHomepagePosts();
---

<section id="recent">
  <Heading level={3}>Recent Posts</Heading>
  <div
    class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 md:grid-cols-2 lg:mx-0 lg:max-w-none xl:grid-cols-3"
  >
    {recentPosts.map(post => <ArticleCard post={post} />)}
  </div>

  <div class="mx-auto my-8 text-center">
    <a
      href="/blog/"
      class="inline-flex items-center gap-x-2 rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
    >
      Read more...
      <Icon name="arrow-right" />
    </a>
  </div>
</section>
