.audit {
  padding: 1rem;

  background: var(--bg-page);
}

.brand .swatch {
  background: var(--primary);
}

.block {
  display: block;
  margin-bottom: 1rem;

  font-weight: 300;
  font-size: 1rem;
}

.swatch {
  float: left;
  margin-right: 1rem;
  border-radius: 50%;
  inline-size: 3ch;
  aspect-ratio: 1;
}
