.audit {
  background: var(--bg-page);
  padding: 1rem;
}

.brand .swatch {
  background: var(--brand)
}

.text1 .swatch {
  background: var(--text1)
}

.text2 .swatch {
  background: var(--text2)
}

.surface1 .swatch {
  background: var(--surface1)
}

.surface2 .swatch {
  background: var(--surface2)
}

.surface3 .swatch {
  background: var(--surface3)
}

.surface4 .swatch {
  background: var(--surface4)
}

.block {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  display: block;
}

.swatch {
  inline-size: 3ch;
  aspect-ratio: 1;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}
