.component--archive-card {
  .is--date {
    min-width: 175px;
  }

  .is--content {
    h2 {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    margin-bottom: 1rem;
  }
}

.card-header {
  margin-bottom: 0;

  color: var(--color);

  h2,
  h3 {
    margin-bottom: 0;
    padding: 0;

    font-size: 1.5rem;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

.card-body {
  padding-top: 0;
}

.card {
  position: relative;

  overflow: hidden;

  .is--publishdate {
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .ribbon {
    position: absolute;
    top: 0;
    right: 0;

    min-width: 80px;

    margin: 0;
    padding: 0;
    padding: 0.5em 0 0;

    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;

    &::before,
    &::after {
      position: absolute;
      top: 0;

      /* tweak */
      width: 100%;
      height: 100%;
      margin: 0 -1px;

      content: '';

      @extend .text-bg-primary;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }

    @extend .text-bg-primary;
    @extend .p-1;
    @extend .text-center;
  }
}
