figure {
  margin-bottom: 0;
  padding: 10px 10px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  color: var(--highlight-color-fg);

  font-weight: $font-weight-bold;
  font-variant: small-caps;

  background-color: var(--highlight-color-bg);


  picture,
  img,
  .iframe-border,
  video {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
  }

  a {
    color: var(--link-color);

    &:hover {
      color: var(--link-color-hover);
    }
  }
}
