figure {
  background-color: $primary;
  padding:10px 10px 0 10px;
  color: $light;
  border-radius: 20px;

  picture, img {
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  a {
    color: $light;
    &:hover {
      color: $gray-300;
    }
  }
}
