#footer {
  color: var(--footer-color-fg);

  background-color: var(--footer-color-bg);

  a {
    color: var(--footer-color-fg);
    text-decoration: none;

    &:hover {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

.widget.social-media {
  a:link,
  a:hover {
    text-decoration: none;

    svg {
      width: 36px;
      height: 36px;
      @extend .p-0;
      @extend .m-0;
    }

    @extend .px-3;

  }
}

.widget--web-vitals {
  strong {
    display: inline;
    margin-right: 1rem;

  }

  .is-good {
    color: $green;
  }

  .is-bad {
    color: $orange;
  }

  dl {
    display: inline;

    color: $yellow;

    >div {
      display: inline;
    }

    dt {
      display: inline;
      margin-right: 1rem;

      font-size: 1rem;

    }

    dd {
      display: inline;
      margin-right: 1rem;

      font-size: 1rem;
    }
  }

  @extend .text-center;

}
