// footer
#footer {
  color: $light;

  background-color: $dark;

  a {
    color: $light;
    text-decoration: underline;

    &:hover {
      color: var(--primary);
      text-decoration: none;
    }
  }

  .icon-box a {
    color: rgba($white, 0.7);

    &:hover {
      border-color: var(--primary);

      color: $white;

      background-color: var(--primary);
    }
  }

}
