// footer
#footer {
  color: var(--footer-color-fg);

  background-color: var(--footer-color-bg);

  a {
    color: var(--footer-color-fg);
    text-decoration: underline;

    &:hover {
      color: var(--primary);
      text-decoration: none;
    }
  }
}
