// form-control
.form-control {
  padding: 0;
  padding: 12px 16px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0 !important;

  font-size: 17px;

  transition: 0.3s ease;

  &:focus {
    border-color: $primary;

    color: $dark;

    box-shadow: none;

    ~ .input-group-append {
      .input-group-text {
        border-color: $primary;
      }
    }
  }
}

.input-group-text {
  border-bottom: 1px solid #999999;
  border-radius: 0 !important;

  background-color: transparent;

  transition: 0.3s ease;

  .icon {
    font-size: 22px;
  }
}

button.input-group-text {
  &:hover {
    color: $primary;
  }
}

.custom-control-label {
  line-height: 1.45;

  cursor: text;

  user-select: none;

  &::before {
    border-radius: 0;

    box-shadow: none !important;
    cursor: pointer;
  }
}

.custom-checkbox {
  margin-top: 15px;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    border-color: $primary;

    background-color: $primary;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: transparent;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    border-color: rgba($primary, 0.2);

    background-color: rgba($primary, 0.5);
  }
}
