.site-title {

  /* stylelint-disable plugin/no-unsupported-browser-features */
  font-size: 6vw;
  text-transform: uppercase;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    @include text-shadow();
    @extend .text-gradient-primary;
  }

  @extend .display-1;
}

.alert {
  @include box-shadow(var(--primary));
}

menu {
  margin: 0;
}
