body {
  background-color: var(--sol-base03);
}

section {
  margin-bottom: 0;
  padding-bottom: 1rem;

}

main {
  padding-top: $heading-height+30px;
}

.section--content {
  border-bottom-right-radius: 10px;
}

/**
 * fix navigation overflow for anchor links
 */
:target::before {
  display: block;
  height: $heading-height;
  margin: -$heading-height 0 0;

  content: '';
}
