.icon--bs {
  color: var(--gray-300);

  &.active {
    color: var(--primary);
  }

  &:hover {
    color: var(--primary);
  }

}

.navbar {
  .light & {
    @extend .navbar-light;
    @extend .bg-white;
  }

  .dark & {
    @extend .navbar-dark;
    @extend .bg-dark;
  }

}
