.navbar {
	.dark & {
		background-color: var(--sol-base03);
		@extend .navbar-dark;
	}

	.nav-link {
		&:hover .icon--bs {
			color: var(--primary);
		}

		.icon--bs {
			display: inline-block;
			margin-right: 0.4rem;
			margin-bottom: 0.1rem;

			vertical-align: bottom;
		}
	}

	.navbar-brand {
		svg {
			width: auto;
			height: 28px;
			padding-bottom: 5px;

			fill: var(--primary);
		}

	}

}

.nav {
	--#{$prefix}nav-link-color: var(--sol-base00);
	--#{$prefix}nav-link-hover-color: var(--primary);
	--#{$prefix}nav-link-font-size: 0.8rem;
}

.nav-tabs {
	--#{$prefix}nav-tabs-border-width: 1px;
	--#{$prefix}nav-tabs-border-color: var(--sol-base00);
	--#{$prefix}nav-tabs-link-hover-border-color: var(--sol-base00);
	--#{$prefix}nav-tabs-link-active-color: var(--primary);
	--#{$prefix}nav-tabs-link-active-bg: var(--sol-base02);
	--#{$prefix}nav-tabs-link-active-border-color: var(--sol-base01);
}
