// pagination
.pagination {
  .page-link {
    width: 48px;
    height: 48px;
    margin: 0 4px;
    margin-left: 0;
    padding: 0;
    border: 0;

    color: #{$color-gray-2};
    .light & {
      color: #{$color-gray-5};
    }
    line-height: 48px;
    text-align: center;

    &.active,
    &:focus,
    &:hover {
      color: #{$color-orange-1};

      background-color: var(--primary);
      box-shadow: none;
    }

    &.arrow {
      width: auto;

      font-size: 26px;

      &:hover {
        color: var(--primary);

        background-color: #{$color-orange-1};
      }
    }
  }

  .page-item.active {
    .page-link {
      color: #{$color-orange-1};

      background-color: var(--primary);
      box-shadow: none;
    }
  }
}
