.pagination {
	--#{$prefix}pagination-color: var(--sol-base03);
	--#{$prefix}pagination-bg: var(--sol-base01);
	--#{$prefix}pagination-border-color: var(--sol-base03);
	--#{$prefix}pagination-hover-color: var(--sol-base03);
	--#{$prefix}pagination-hover-bg: var(--sol-base2);
	--#{$prefix}pagination-hover-border-color: var(--sol-base03);
}
