/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #{var(--primary)} #{var(--bg-card)};
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #{var(--bg-card)};
}

*::-webkit-scrollbar-thumb {
  border: 3px solid #{var(--bg-card)};
  border-radius: $border-radius-2xl;

  background-color: #{var(--primary)};
}
