

.search-block {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $white;
  z-index: 9999988999889;
  padding: 0 50px;
  display: none;

  form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  input {
    border: 0;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
    width: 500px;
    max-width: 100%;
    padding: 15px 0;
    margin: auto;
    letter-spacing: -1px;
    transition: 0.3s ease;
  }

  &.is-visible {
    input {
      border-bottom-color: $primary;
    }
  }

  [data-toggle="search-close"] {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
  }
}
