

.search-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999988999889;

  display: none;
  width: 100vw;
  height: 100vh;
  padding: 0 50px;

  background-color: $white;

  form {
    position: relative;
    top: 50%;
    left: 50%;

    text-align: center;

    transform: translate(-50%, -50%);
  }

  input {
    width: 500px;
    max-width: 100%;
    margin: auto;
    padding: 15px 0;
    border: 0;
    border-bottom: 1px solid #dddddd;

    font-size: 22px;
    letter-spacing: -1px;

    transition: 0.3s ease;
  }

  &.is-visible {
    input {
      border-bottom-color: $primary;
    }
  }

  [data-toggle='search-close'] {
    position: absolute;
    top: 20px;
    right: 40px;

    cursor: pointer;
  }
}
