
@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin desktop-lg {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin desktop-xl {
  @media (max-width: 1466px) {
    @content;
  }
}


.slick-slide {
    outline: 0;
  }
  .post-slider {
    overflow: hidden;
    position: relative;
    &:hover {
      .prevArrow {
        left: 25px;
      }
      .nextArrow {
        right: 25px;
      }
    }
  }
  .slider-sm {
    .slick-arrow {
      height: 42px;
      width: 42px;
      line-height: 42px;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: rgba($primary, 0.5);
    color: $white;
    border: 0;
    transition: 0.3s;
    @include mobile {
      display: none;
    }
    &:focus {
      outline: 0;
    }
    &:hover {
      background: $primary;
    }
  }
  .prevArrow {
    left: -60px;
  }
  .nextArrow {
    right: -60px;
  }
  