::selection {
  color: $white;
  text-shadow: none;

  background-color: darken($primary, 5);
}

a {
  transition: all 0.3s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

h1 {
  @extend .display-1;
  text-transform: uppercase;
  a {
    transition: color 100s;
    transition: text-decoration 5s;
    animation-name: rainbow;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      transition: text-decoration 5s;
      text-shadow: rgb(52, 152, 219);
    }
  }
}

@keyframes rainbow {
  0% {
    color: rgb(192, 57, 43);
  }
  14% {
    color: rgb(230, 126, 34);
  }
  28% {
    color: rgb(241, 196, 15);
  }
  42% {
    color: rgb(22, 160, 133);
  }
  55% {
    color: rgb(52, 152, 219);
  }
  71% {
    color: rgb(41, 128, 185);
  }
  85% {
    color: rgb(142, 68, 173);
  }
}

.mark,
mark {
  padding: 0;
  border-bottom: 1px dashed rgba($primary, 0.4);

  color: $primary;

  background: transparent;
}

blockquote {
  padding-left: 0.95rem;
  border-left: $primary 5px solid;

  background-color: lighten($primary, 55%);

  cite {
    font-style: italic;
  }
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
