::selection {
  color: var(--color2);
  text-shadow: none;

  background-color: var(--primary);
}

a {
  transition: all 0.75s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--color);
  text-decoration: none;
}

h1 {
  text-transform: uppercase;

  a {
    color: var(--color);
    text-decoration: none;
  }
  @extend .display-1;
}

.mark,
mark {
  padding: 0;
  border-bottom: 1px dashed rgba(var(--primary), 0.4);

  color: var(--primary);

  background: transparent;
}

blockquote {
  padding-left: 0.95rem;
  border-left: var(--primary) 5px solid;

  background-color: lighten($primary, 55%);

  cite {
    font-style: italic;
  }
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  hyphens: auto; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}
