.widget--sharebuttons {

	/* share icon left of share buttons */
	.icon--share-fill .bi {
		@extend .cw-32;

	}

	/* div wrapper around share buttons */
	.is--sharebuttons {

		@extend .d-flex;
		@extend .flex-wrap;

	}

	/* single share button */
	.is--sharebutton {

		/* icon inside of a share button */
		.icon {
			@extend .me-3;
		}

		@extend .btn;
		@extend .btn-primary;
		@extend .me-1;
		@extend .mb-1;
		@extend .flex-grow-1;
	}

}

.widgets {

	h2,
	h3 {
		color: var(--primary);
		font-size: 1.3rem;
	}

	li {
		font-size: 0.9rem;

	}
}
