---
import "@styles/theme.css";
import Section from "@components/support/fixtures/Section.astro";
import Heading from "@components/content/typography/Heading.astro";
import Layout from "@layouts/ContentPageTest.astro";
---

<Layout>
  <Heading>The Change One has only weight 400 thing</Heading>
  <Section>
    <div class="font-changa text-7xl font-normal text-red-600">
      The quick brown fox jumps over the lazy dog
    </div>
    <div class="font-changa text-7xl font-bold text-red-600">
      The quick brown fox jumps over the lazy dog
    </div>
  </Section>
</Layout>
