<!DOCTYPE html>
{{- partial "init.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "setup" "context" . ) -}}
<html lang="{{- site.LanguageCode | default "en-US" -}}">
<head>
  {{- partial "head.html" . -}}
</head>
{{ $classes := partialCached "func/getBodyClasses.html" . . }}
<body class="dark {{ $classes -}}">
  {{- partial "func/hook.html" ( dict "hook" "body-start" "context" . ) -}}
  {{- partial "header.html" . -}}
  <main>
    {{- partial "func/hook.html" ( dict "hook" "container-start" "context" . ) -}}
    {{- block "main" . -}}{{- end -}}
    {{- partial "func/hook.html" ( dict "hook" "container-end" "context" . ) -}}
  </main>
  {{- partial "footer.html" . . -}}
  {{- partial "func/hook.html" ( dict "hook" "body-end-pre-script" "context" . ) -}}
  {{- partial "footer/script.html" . -}}
  {{- partial "func/hook.html" ( dict "hook" "body-end" "context" . ) -}}
  {{- partial "footer/service-worker.html" . -}}
</body>
</html>
{{- partial "func/hook.html" ( dict "hook" "teardown" "context" . ) -}}
