<!DOCTYPE html>
{{- partial "init.html" . -}}
{{- partial "func/hook.html" ( dict
  "hook" "setup"
  "context" .
) -}}
<html lang="{{- site.LanguageCode | default "en-US" -}}" class="dark">

<head>
  {{- partial "head.html" . -}}
</head>

<body x-data :class="$store.theme.mode">
  {{- partial "func/hook.html" ( dict
    "hook" "body-start"
    "context" .
  ) -}}
  {{- partial "header.html" . -}}
  <main id="md:container md:mx-auto">
    {{- partial "func/hook.html" ( dict
      "hook" "container-start"
      "context" .
      )
    -}}
    {{- block "main" . -}}{{- end -}}
    {{- partial "func/hook.html" ( dict
      "hook" "container-end"
      "context" .
      )
    -}}
  </main>
  {{- partial "footer.html" . . -}}
  {{- partial "func/hook.html" ( dict
    "hook" "body-end-pre-script"
    "context" .
  ) -}}
  {{- partial "footer/script.html" . -}}
  {{- partial "func/hook.html" ( dict
    "hook" "body-end"
    "context" .
  ) -}}
  {{- partial "footer/service-worker.html" . -}}
</body>

</html>
{{- partial "func/hook.html" ( dict
      "hook" "teardown"
      "context" .
) -}}
