{{- define "main" -}}
{{- .Scratch.Add "trace" (slice "<_default/list.html>") -}}

  {{- if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") -}}

    <section>
      <div class="container">
        {{- partial "func/hook.html" ( dict "hook" "container-start" "context" . ) -}}
        <div class="row">
          {{- $layout := site.Params.post_layout -}}
          {{ if eq $layout "grid" }}
            {{- /* setup grid wrapper */ -}}
            <div class="col mb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
          {{ end }}
          {{range .Data.Pages}}
            {{- if eq $layout "grid" -}}
                {{- partialCached "content/post" . . -}}
            {{- else if eq $layout "list" -}}
                {{- partialCached "content/post-list" . . -}}
            {{- end -}}
          {{- end -}}
          {{ if eq $layout "grid" }}
            {{- /* close grid wrapper */ -}}
            </div>
            </div>
          {{ end }}
        </div>
      {{- partial "func/hook.html" ( dict "hook" "container-end" "context" . ) -}}
      </div>
    </section>

  {{- else -}}

    <section>
      <div class="container">
        {{- partial "func/hook.html" ( dict "hook" "container-start" "context" . ) -}}
        <div class="row">
          <div class="col-12">
            <div class="content">
              {{.Content}}
            </div>
          </div>
        </div>
      {{- partial "func/hook.html" ( dict "hook" "container-end" "context" . ) -}}
      </div>
    </section>

  {{- end -}}

{{- .Scratch.Add "trace" (slice "</_default/list.html>") -}}
{{- end -}}
