{{ define "main" }}

  {{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

    <section>
      <div class="container">
        <div class="row">
          {{ $layout := site.Params.post_layout }}
          {{range .Data.Pages}}
            {{ if eq $layout "grid" }}
              <div class="col-6">
                {{ partialCached "content/post" . . }}
              </div>
            {{ else if eq $layout "list" }}
              <div class="col-12">
                {{ partialCached "content/post-list" . . }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>

  {{ else }}

    {{ partial "content/page-header.html" . }}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              {{.Content}}
            </div>
          </div>
        </div>
      </div>
    </section>

  {{ end }}

{{ end }}
