{{- define "main" -}}

  {{- if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") -}}

    <section>
      <div class="container">
        {{- partial "func/hook.html" ( dict "hook" "container-start" "context" . ) -}}
        <div class="row">
          {{- $layout := site.Params.post_layout -}}
          {{range .Data.Pages}}
            {{- if eq $layout "grid" -}}
                {{- partialCached "content/post" . . -}}
            {{- else if eq $layout "list" -}}
                {{- partialCached "content/post-list" . . -}}
            {{- end -}}
          {{- end -}}
        </div>
      {{- partial "func/hook.html" ( dict "hook" "container-end" "context" . ) -}}
      </div>
    </section>

  {{- else -}}

    <section>
      <div class="container">
        {{- partial "func/hook.html" ( dict "hook" "container-start" "context" . ) -}}
        <div class="row">
          <div class="col-12">
            <div class="content">
              {{.Content}}
            </div>
          </div>
        </div>
      {{- partial "func/hook.html" ( dict "hook" "container-end" "context" . ) -}}
      </div>
    </section>

  {{- end -}}

{{- end -}}
