{{ define "main"}}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<section>
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-10">
        <div>
          <div class="text-center mb-5">
            <h3 class="h2 mb-4 post-title">{{.Title}}</h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                {{ partial "content/author.html" . }}
              </li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item">
                {{ partialCached "content/publishing-date.html" . . }}
              </li>
            </ul>
          </div>

          {{- partialCached "content/article-images.html" . . -}}

          <div class="content">
            {{.Content}}
          </div>

          <ul class="list-unstyled list-inline">
            {{range .Params.tags}}
              <li class="list-inline-item"><a href="{{`tags` | absLangURL}}/{{.| urlize}}">{{.}}</a></li>
            {{end}}
          </ul>

          {{ with site.DisqusShortname }}
            {{ template "_internal/disqus.html" . }}
          {{ end }}

          {{ with site.Params.giscus }}
            {{ partial "content/giscus.html" . }}
          {{ end }}

          <div class="single-post-similer">
            <div class="row mt-3">
              <div class="col-12">
                <h3 class="text-dark font-weight-800 mb-4 pb-2">{{i18n "you_may_also_like"}}</h3>
              </div>
              {{ $related := (where site.RegularPages "Section" "blog") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
              {{ range first 2 $related }}
              <div class="col-md-6">
                {{ partialCached "content/post" . . }}
              </div>
              {{ end }}
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

{{ else }}

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ end }}
