{{- define "main" -}}
  {{- $counter := 0 -}}
  <section id="menu">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="post-title">{{ lang.Translate "theme.tags" }}</h1>
        </div>
        {{- range $key, $taxonomy := .Site.Taxonomies.tags.ByCount -}}
          {{- if compare.Lt $counter 4 -}}
            {{- with site.GetPage (fmt.Printf "/tags/%s/" .Name) -}}
              {{- if compare.Ne .Content "" -}}
                <div class="col-md-6 mb-3">
                  {{- $post := collections.Dictionary "context" . "level" "3" "index" (math.Add $key 1) -}}
                  {{- partials.Include "content/post-preview.html" $post -}}
                </div>
                {{- $counter = math.Add $counter 1 -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
    </div>
  </section>
  {{- $options := dict "type" "list" "context" . -}}
  {{- partials.Include "content/components/tags/tags-overview.html" $options -}}
{{- end -}}
