{{- define "main" -}}
  {{- partial "content/section-tagoverview.html" . -}}
  {{- $counter := 0 -}}
  <section id="menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="h2">Hot {{ .Name }}</h1>
        </div>
        {{- range $key, $taxonomy := .Site.Taxonomies.tags.ByCount -}}
          {{- if lt $counter 4 -}}
            {{- with site.GetPage (printf "/tags/%s" .Name) -}}
              {{- if ne .Content "" -}}
                {{- $post := dict "context" . "fullcontent" false "responsive" "halfwidth" -}}
                <div class="mb-3 col-md-6">
                  {{- partial "content/post.html" $post -}}
                </div>
                {{- $counter = add $counter 1 -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
    </div>
  </section>
{{- end -}}
