{{- define "main" -}}
  {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "container-start" "context" . ) -}}
  <section class="section--title">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="post-title">
            {{- lang.Translate "theme.posts_tagged_with" -}}
            {{ with .Params.icon }}
              {{ partials.Include "icon.html" . }}
            {{ end }}
            #{{ .Title | strings.ToLower }}
          </h1>
        </div>
      </div>
    </div>
  </section>
  {{- partials.Include "content/sections/posts.html" . -}}
  {{- partials.Include "content/sections/tagoverview.html" . -}}
  {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "container-end" "context" . ) -}}
{{- end -}}
