{{ define "main" }}

<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        {{ partialCached "content/tags-overview.html" . "global" }}
      </div>
    </div>

    <div class="single-post-similer">
      <div class="row mt-3">
        <div class="col-12">
          <h3 class="text-dark mb-4 pb-2">{{ i18n "most_recent_post" }}</h3>
        </div>
        {{ $layout := site.Params.post_layout }}
        {{ $related := (where site.RegularPages "Section" "blog") }}
        {{ range first 4 $related }}
          {{ if eq $layout "grid" }}
            <div class="col-12 col-md-6">
              {{ partialCached "content/post" . . }}
            </div>
          {{ else if eq $layout "list" }}
            <div class="col-12">
              {{ partialCached "content/post-list" . . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>

  </div>
</section>

{{ end }}
