---
/**
 * Tags index page
 * tag cloud and featured tags list
 */
import { type CollectionEntry } from "astro:content";
import Heading from "@components/Heading.astro";
import TagCard from "@components/article/Tag.astro";
import TagList from "@components/TagList.astro";
import Layout from "@layouts/DefaultPage.astro";
import { getFeaturedTagEntries, getTags, type TagListItem } from "@utils/tags.ts";

const post = {
  data: {
    description: "Explore the tags used across the blog posts.",
    title: "Tags",
  },
};

let allTagsWithCounts: TagListItem[] = [];
let featuredEntries: CollectionEntry<"tags">[] = [];
try {
  allTagsWithCounts = await getTags({ order: "label-asc", threshold: 1 });
  featuredEntries = await getFeaturedTagEntries({
    includeCounts: true,
    order: "weight-desc",
  });
} catch (err) {
  console.error("[test/tags] failed to load tags", err);
}
---

<Layout post={post}>
  <Heading level={1}>Tag Cloud</Heading>
  <TagList tags={allTagsWithCounts} />

  <Heading level={2}>Tag Pages</Heading>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
    {featuredEntries.map((entry) => <TagCard post={entry} />)}
  </div>
</Layout>
