---
// @todo refactor


import DefaultPage from '@layouts/DefaultPage.astro';
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";

---

<DefaultPage title={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}/`}>{tag}</a></p>
    ))}
  </div>
</DefaultPage>
