---
// tags index page, tag cloud and featured tags list

import { getCollection } from 'astro:content';
import Layout from '@layouts/DefaultPage.astro';
import TagCloud from '@components/TagCloud.astro';
import { getFilteredTagMap } from '@utils/getFilteredTagMap';
import Heading from '@components/Heading.astro';
import TagCard from '@components/TagCard.astro';

const blogPosts = await getCollection('blog');
const tagEntries = await getCollection('tags');

const tagMap = getFilteredTagMap(blogPosts);
const tagEntryList = tagEntries.filter(entry => tagMap.has(entry.id));

const post = {
  data: {
    title: 'Tags',
    description: 'Explore the tags used across the blog posts.',
  },
};

// @todo sort descending by date
// @todo fix layouts
---

<Layout post={post}>
  <Heading level={1}>Tag Cloud</Heading>
  <TagCloud tags={tagMap} />

  <Heading level={2}>Tag Pages</Heading>
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
  >
    {tagEntryList.map(entry => <TagCard post={entry} />)}
  </div>
</Layout>
