---
import { getCollection } from 'astro:content';
import Layout from '@layouts/DefaultPage.astro';
import TagCloud from '@components/TagCloud.astro';
import { getFilteredTagMap } from '@utils/getFilteredTagMap';
import Heading from '@components/Heading.astro';

const blogPosts = await getCollection('blog');
const tagEntries = await getCollection('tags');

const tagMap = getFilteredTagMap(blogPosts);
const tagEntryList = tagEntries.filter((entry) => tagMap.has(entry.id));

---

<Layout title="Tags">
  <Heading level={1}>Tag Cloud</Heading>
  <TagCloud tags={tagMap} />

  <Heading level={2}>Tag Pages</Heading>
  <ul class="space-y-4">
    {tagEntryList.map((entry) => (
      <li>
        <a href={`/tags/${entry.id}/`}>
          {entry.data.title || `#${entry.id}`}
        </a>
        {entry.data.description && (
          <p>{entry.data.description}</p>
        )}
      </li>
    ))}
  </ul>
</Layout>
