---
/**
 * Tags index page
 * tag cloud and featured tags list
 */
import { type CollectionEntry } from 'astro:content';

import Layout from '@layouts/DefaultPage.astro';

import { getFeaturedTagEntries, getTags, type TagListItem } from '@utils/tags';

import Heading from '@components/Heading.astro';
import TagCard from '@components/TagCard.astro';
import TagList from '@components/TagList.astro';

const post = {
  data: {
    title: 'Tags',
    description: 'Explore the tags used across the blog posts.',
  },
};

let allTagsWithCounts: TagListItem[] = [];
let featuredEntries: CollectionEntry<'tags'>[] = [];
try {
  allTagsWithCounts = await getTags({ threshold: 1, order: 'label-asc' });
  featuredEntries = await getFeaturedTagEntries({
    includeCounts: true,
    order: 'weight-desc',
  });
} catch (err) {
  console.error('[test/tags] failed to load tags', err);
}
---

<Layout post={post}>
  <Heading level={1}>Tag Cloud</Heading>
  <TagList tags={allTagsWithCounts} />

  <Heading level={2}>Tag Pages</Heading>
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
  >
    {featuredEntries.map(entry => <TagCard post={entry} />)}
  </div>
</Layout>
