---
import IconLink from "@components/shared/links/IconLink.astro";
import { type IconName } from "@/utils/icon-names";

export interface Props {
  icon: IconName;
  name: string;
  link: string;
  classes?: string;
}

const { icon, name, link, classes = "" }: Props = Astro.props;
---

<li class={classes}>
  <IconLink icon={icon} href={link}>
    {name}
  </IconLink>
</li>
