.site-title {
	font-family: BahnPro;
	font-size: 9rem;
	font-weight: bold;
	line-height: 1;
	margin-bottom: -3vw;
	margin-top: 2rem;

	@extend .text-center;
	@extend .text-primary;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}
