.site-title {
  font-size: 6vw;
  text-transform: uppercase;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    @include text-shadow();
  }

  svg {
    padding: 0 1rem;

    fill: $primary;
  }

  @extend .display-1;
}
