.site-title {
	font-family: BahnPro;
	font-size: 17vw;
	@include media-breakpoint-up(sm) {
		font-size: 12vw;
	}
	@include media-breakpoint-up(xl) {
		font-size: 145px;
	}
	font-weight: 700;
	line-height: 0.5;
	margin-bottom: 0;
	margin-top: 2rem;

	@extend .text-center;
	@extend .text-primary;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}
