////
/// @author Patrick Kollitsch
/// @access public
/// @group typography
/// @since 1.2025.2
////

$border-radius: 5px !default;

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/// Applies consistent hyphenation and word-breaking rules
/// @group utilities
@mixin hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  hyphenate-limit-chars: 10 4 4;
}

@mixin configure($border-radius: null) {

  @if $border-radius {
    $border-radius: $border-radius !global;
  }

}

/// Creates scrollbar styles for Firefox, Chrome, Edge, and Safari.
///
/// @param {string} $outertag [*]
///   The tag to apply the scrollbar styles to.
/// @param {integer (px)} $width [8px]
///  The width of the scrollbar.
/// @param {integer (px)} $radius [$border-radius]
/// The radius of the scrollbar.
/// @param {color} $color [var(--bs-primary)]
/// The color of the scrollbar.
/// @param {color} $track [var(--bs-body-bg)]
/// The color of the scrollbar track.
@mixin scrollbar($outertag: "*",
  $width: 8px,
  $radius: $border-radius,
  $color: var(--bs-primary),
  $track: var(--bs-body-bg)) {
  #{$outertag} {
    // firefox
    scrollbar-width: $width;
    scrollbar-color: $color $track;

    // chrome, edge, and safari
    // the entire scrollbar.
    ::-webkit-scrollbar {}

    //::-webkit-scrollbar-button — the buttons on the scrollbar (arrows pointing upwards and downwards that scroll one line at a time).
    ::-webkit-scrollbar-button {}

    //::-webkit-scrollbar:horizontal{} — the horizontal scrollbar.
    ::-webkit-scrollbar:horizontal {
      height: $width;
    }

    //::-webkit-scrollbar:vertical{} — the vertical scrollbar.
    ::-webkit-scrollbar:vertical {
      width: $width;
    }


    //::-webkit-scrollbar-track — the track (progress bar) of the scrollbar, where there is a gray bar on top of a white bar.
    ::-webkit-scrollbar-track {
      background: $track;
    }

    //::-webkit-scrollbar-track-piece — the part of the track (progress bar) not covered by the handle.

    //::-webkit-scrollbar-thumb — the draggable scrolling handle.
    ::-webkit-scrollbar-thumb {
      border: 0;
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
      border-radius: $radius;
      background-color: $color;
    }

    //::-webkit-resizer — the draggable resizing handle that appears at the bottom corner of some elements.
    //::-webkit-scrollbar-corner — the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet. This is often the bottom-right corner of the browser window.
  }
}

/// This mixin applies word-breaking and hyphenation.
///
/// @example scss - Basic usage
///   .text-container {
///     @include word-wrap();
///   }
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
