/* Webfont: Tomkin-Thin */@font-face {
    font-family: 'TomkinThin';
    src: url('Tomkin-Thin.eot'); /* IE9 Compat Modes */
    src: url('Tomkin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Tomkin-Thin.woff') format('woff'), /* Modern Browsers */
         url('Tomkin-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Tomkin-Thin.svg#Tomkin-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

