{{/* article image */}}

{{/* SETUP */}}
{{- $config := partials.IncludeCached "func/getPiotureConfiguration.html" . -}}
{{- $context := . -}}
{{- $link := $context.Permalink -}}

{{- $default_image := $config.default_image | compare.Default "images/default.png" -}}

{{- $aspect_ratio := $config.aspect_ratio | compare.Default "false" -}}
{{- $aspect_ratio = (strings.Split $aspect_ratio ":") -}}

{{- $image_sizes := $config.responsive.image_sizes | compare.Default (collections.Slice "494" "517" "674" "914") -}}
{{- $break_points := $config.responsive.break_points | compare.Default (collections.Slice "520" "540" "720" "960") -}}

{{/* preparing aspect_ratio image sizes - once sitewide */}}
{{- $arOptions := dict "image_sizes" $image_sizes "aspect_ratio" $aspect_ratio }}
{{- $image_sizes2 := partials.IncludeCached "func/pictures/getARImagesizes.html" $arOptions $arOptions -}}

{{/* retrieve the article image */}}
{{- $articleimage := partials.Include "func/pictures/getArticleImage.html" $context -}}

{{- with $articleimage -}}
  {{ $image := . }}

  {{- $title := "" -}}
  {{/* if a strings.Title is set via frontmatter then use it as caption */}}
  {{- if compare.Ne $image.Title $image.Name -}}
    {{- $title = $image.Title | transform.Markdownify -}}
  {{- end -}}

  {{- $images := collections.Slice -}}
  {{- range $index, $value := $image_sizes -}}
    {{- $imagesize := fmt.Printf "%sx%s Center" (cast.ToString $value) (cast.ToString (collections.Index $image_sizes2 $index)) -}}
    {{- $images = $images | collections.Append ($image.Fill $imagesize) -}}
  {{- end -}}

  {{ $imageOptions := dict "images" $images "link" $link
          "break_points" $break_points "title" $title "context" $context }}
  {{ partials.Include "images/markup-image.html" $imageOptions }}

{{- end -}}
