{{- $post := .context -}}
{{- $artist := collections.First 1 (where
            site.Data.dnb.kollitsch.music
            "slug"
            $post.Params.video.artist
) -}}
{{- $artist = collections.Index $artist 0 -}}
{{- $articleclasses := partials.IncludeCached "func/getArticleClasses.html" $post $post -}}
<article class="{{- $articleclasses -}} music2program2 {{ $artist.slug }}">
  {{- partials.IncludeCached "content/components/status.html" $post $post -}}
  {{- $settings := collections.Dictionary "id" $post.Params.video.youtube -}}
  <div class="post-slider">
      <figure>
        <div class="iframe-border">
          {{- partials.IncludeCached "youtube.html" $settings $settings -}}
        </div>
        <div class="inline-icons">
          {{- with $post.Title -}}
            <div class="is--copyright"
                title="{{- . -}}"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="{{- . -}}">
              {{- partials.Include "icon.html" "camera2" -}}
            </div>
            {{/* <figcaption class="text-center"></figcaption> */}}
          {{- end -}}
          {{- if compare.Eq true ($post.Params.theme.showdate | compare.Default true) -}}
            <div class="is--publishdate"
                title="🤖 {{ $post.PublishDate | time.Format (site.Params.dnb.theme.dateformat.timestamp | compare.Default ":date_long") -}}">
              {{- partials.Include "icon.html" "calendar3" -}}
            </div>
          {{- end -}}
        </div>
      </figure>
        {{/* <figcaption class="text-center">{{ $artist.name }}: {{ $post.Params.video.title }}</figcaption>
      </figure> */}}
  </div>
    {{- partials.Include "content/components/headline.html" . -}}
  <div class="prose">

      {{- with $post.Content -}}
        {{- . -}}
      {{- end -}}
      {{- $name := $artist.name -}}
      {{- with $post.Params.video.name -}}
        {{- $name = . -}}
      {{- end -}}
      <p>
        {{ lang.Translate "theme.this_is" }} "{{ $post.Params.video.title }}" {{ lang.Translate "theme.by" }}
        <a href="{{ $artist.link }}">
          {{ $artist.name }}
        </a>.
      </p>
      <p>
        {{$artist.description | transform.Markdownify }}
      </p>

          {{- partials.IncludeCached "content/taglist-filtered.html" "programming-music" "programming-music" -}}
          {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "post-after" "context" $post ) -}}
          {{- partials.Include "content/components/meta.html" $post -}}


  </div>
</article>
