{{- $post := .context -}}
{{- $fullcontent := .fullcontent | default true -}}
{{- $artist := first 1 (where
            site.Data.dnb.kollitsch.music
            "slug"
            $post.Params.video.artist
) -}}
{{- $artist = index $artist 0 -}}

<article class="card music2program2 {{ $artist.slug }}">
  {{- partialCached "content/partials/status.html" $post $post -}}
  {{- $settings := dict "id" $post.Params.video.youtube -}}
  <div class="post-slider">
      <figure>
        <div class="iframe-border">
          {{- partialCached "youtube.html" $settings $settings -}}
        </div>
        <figcaption class="text-center">{{ $artist.name }}: {{ $post.Params.video.title }}</figcaption>
      </figure>
  </div>
  <div class="card-header">
    {{- partialCached "content/partials/publishing-date.html" $post $post -}}
    {{- partialCached "content/partials/headline.html" . . -}}
  </div>
  <div class="prose card-body">
   {{- with $post.Content -}}
      {{- . -}}
    {{- end -}}
    {{- $name := $artist.name -}}
    {{- with $post.Params.video.name -}}
      {{- $name = . -}}
    {{- end -}}
    <p>
      This is "{{ $post.Params.video.title }}" by
      <a href="{{ $artist.link }}">
        {{ $artist.name }}
      </a>.
    </p>
    {{$artist.description | markdownify }}
  {{- with $fullcontent -}}
      {{- partialCached "content/partials/content-footer.html" $post $post -}}
  {{ else }}
  </div>
  <div class="card-footer text-end">
    <a href="{{- $post.Permalink -}}" class="mb-2 btn btn-outline-primary">
      {{- i18n "read_article" | default "Read Article" -}}
      <span class="ps-2">
        {{- partialCached "bsicon.html" "body-text" "body-text" -}}
      </span>
    </a>
  {{- end -}}
  </div>
</article>
