{{- $post := .context -}}
{{- $fullcontent := .fullcontent | default true -}}

				{{- $articleclasses := partialCached "func/getArticleClasses.html" $post $post -}}
        <article class="{{- $articleclasses -}}">
  {{- partialCached "components/content/status.html" $post $post -}}
  {{- partial "components/images/banner.html" . -}}
    {{- partial "components/content/headline.html" . -}}
  <div class="prose">
    <p>{{- $post.Summary -}}</p>
  </div>
  <div class="text-end">
    <a href="{{- $post.Permalink -}}" class="btn btn-link">
      Read posts about <strong>{{ $post.Title -}}</strong>
      <span class="ps-2">
        {{- partialCached "bsicon.html" "body-text" "body-text" -}}
      </span>
    </a>
  </div>
</article>
