{{- $post := .context -}}
{{- $fullcontent := .fullcontent | default true -}}
<article class="card shadow-sm">
  {{- $settings := dict "id" $post.Params.youtube -}}
  <div class="post-slider">
      <figure>
        <div class="iframe-border">
          {{- partialCached "youtube.html" $settings $settings -}}
        </div>
        <figcaption class="text-center">{{- $post.Title -}}</figcaption>
      </figure>
  </div>
  <div class="card-header">
    {{- partial "content/partials/headline.html" . . -}}
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      {{- partial "content/partials/author.html" $post -}}
      {{- partialCached "content/partials/publishing-date.html" $post $post -}}
    </div>
    <div class="d-flex flex-row">
      {{- partialCached "content/partials/tags.html" $post $post -}}
    </div>
    {{- with $fullcontent -}}
      {{- $post.Content -}}
    {{- else -}}
      <p>{{- $post.Summary -}}</p>
    {{- end -}}
  </div>
<div class="card-footer text-end">
    <a href="{{- $post.Permalink -}}" class="btn btn-outline-primary">
      {{- i18n "read_article" | default "Read Article" -}}
      <span class="ps-2">{{- partialCached "bsicon.html" "body-text" "body-text" -}}</span>
    </a>
    {{- with $fullcontent -}}
      {{- partial "content/partials/comments.html" $post $post -}}
    {{- end -}}
  </div>
</article>
