{{- $post := .context -}}
{{- $fullcontent := .fullcontent | default true -}}
<article class="card shadow-sm">
  {{- partial "content/partials/status.html" $post $post -}}
  {{- $settings := dict "id" $post.Params.youtube -}}
  <div class="post-slider">
      <figure>
        <div class="iframe-border">
          {{- partial "youtube.html" $settings $settings -}}
        </div>
        <figcaption class="text-center">{{- $post.Title -}}</figcaption>
      </figure>
  </div>
  <div class="card-header">
    {{- partial "content/partials/publishing-date.html" $post $post -}}
    {{- partial "content/partials/headline.html" . . -}}
  </div>
  <div class="card-body prose">
    {{- $post.Content -}}
  </div>
<div class="card-footer text-end">
    <a href="{{- $post.Permalink -}}" class="btn btn-outline-primary mb-2">
      {{- i18n "read_article" | default "Read Article" -}}
      <span class="ps-2">{{- partial "bsicon.html" "body-text" "body-text" -}}</span>
    </a>
    {{- with $fullcontent -}}
      {{- partial "content/partials/comments.html" $post $post -}}
    {{- end -}}
  </div>
</article>
