{{- $post := .context -}}
{{- $artist := collections.First 1 (where
            site.Data.dnb.kollitsch.music
            "slug"
            $post.Params.video.artist
) -}}
{{- $artist = collections.Index $artist 0 -}}
{{- $articleclasses := partials.IncludeCached "func/getArticleClasses.html" $post $post -}}
<article class="{{- $articleclasses -}} music2program2 {{ $artist.slug }}">
  {{- partials.IncludeCached "content/components/status.html" $post $post -}}
  {{- $settings := collections.Dictionary "id" $post.Params.video.youtube -}}
  <div class="post-slider">
      <figure>
        <div class="iframe-border">
          {{- partials.IncludeCached "youtube.html" $settings $settings -}}
        </div>
        <div class="inline-icons">
          {{- with $post.Title -}}
            <div class="is--copyright"
                title="{{- . -}}"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="{{- . -}}">
              {{- partials.Include "icon.html" "camera2" -}}
            </div>
          {{- end -}}
          {{- if compare.Eq true ($post.Params.theme.showdate | compare.Default true) -}}
            <div class="is--publishdate"
                title="🤖 {{ $post.PublishDate | time.Format (site.Params.dnb.theme.dateformat.timestamp | compare.Default ":date_long") -}}">
              {{- partials.Include "icon.html" "calendar3" -}}
            </div>
          {{- end -}}
        </div>
      </figure>
  </div>
    {{- partials.Include "content/components/headline.html" . -}}
  <div class="prose">
			{{- $post.Content -}}
      {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "post-after" "context" $post ) -}}
      {{- partials.IncludeCached "content/components/meta.html" $post $post -}}
  </div>
</article>
