{{- /*

  Returns a boolean indicating if drafts should be included in feeds.

  parameters:
  - format (string)

  returns in descending priority the integer value of:
  - `[dnb.feeds.$FORMAT.drafts]` in the params section of the config
  - `[dnb.feeds.drafts]` in the params section of the config
  - `false` - does not show drafts in all feeds

  Sample:

  `{{- $value := partialCached "dnb-feeds/getDrafts.html" "json" . -}}`

The format can be one of the following strings:
- rss
- atom
- json

TODO sanitization of format variable

*/ -}}

{{- $drafts := false -}}
{{- with site.Params.dnb.feeds.drafts -}}
  {{- $drafts = . -}}
{{- end -}}
{{- with (index site.Params.dnb.feeds . "drafts") -}}
  {{- $drafts = . -}}
{{- end -}}
{{- return $drafts -}}
