---
import Site from '@layouts/Site.astro';
import { getImage } from 'astro:assets';
import image404 from '@assets/images/404.jpg';
import IconLink from '@components/IconLink.astro';

const optimizedBackground = await getImage({
  src: image404,
  format: 'jpg',
  width: 1920,
  quality: 80,
});
---

<Site extraBodyClasses="h-full">
  <div
    class="relative h-full bg-cover bg-center text-center"
    style={`background-image: url(${optimizedBackground.src});`}
  >
    <main class="absolute inset-0 z-10">
      <p class="font-changa text-9xl leading-8">404</p>
      <h1>Page not found</h1>
      <p class="">Sorry, we couldn't find the page you're looking for.</p>
      <nav class="mt-8 flex flex-col items-center gap-4">
        <IconLink
          icon="arrow-left-short"
          href="#"
          onclick="history.back();"
        >
          Go Back
        </IconLink>
        <IconLink
          icon="house-door"
          href="/"
        >
          Home
        </IconLink>
        <IconLink
          icon="envelope"
          href="/connect/"
        >
          Contact Us
        </IconLink>
      </nav>
    </main>
  </div>
  <script is:inline>
    _paq = window._paq = window._paq || [];
    _paq.push(['setReferrerUrl', document.referrer]);
    _paq.push([
      'trackEvent',
      'Issue',
      '404 - Not Found',
      window.location.pathname,
    ]);
  </script>
</Site>
