---
// @todo refactor

import Layout from '@layouts/DefaultPage.astro';
---

<Layout
  title="Contact | My Personal Website"
  description="Get in touch with me through this contact form."
>
  <!-- Hero Section -->
  <section
    class="from-primary-100 to-accent-50 bg-gradient-to-br py-16 md:py-24"
  >
    <div class="container-7xl">
      <div class="animate-slide-up mx-auto max-w-3xl text-center">
        <h1 class="mb-6 text-4xl md:text-5xl">Get In Touch</h1>
        <p class="mb-6 text-xl">
          Have a question or want to work together? Fill out the form below, and
          I'll get back to you as soon as possible.
        </p>
      </div>
    </div>
  </section>
</Layout>
