---
// @todo refactor

import Layout from '@layouts/DefaultPage.astro';
import Search from 'astro-pagefind/components/Search';
const post = {
  data: {
    title: 'Find | My Personal Website',
    description: 'Search the site for content.',
  },
};
---

<Layout post={post}>
  <h1>Find</h1>
  <p>Use the search bar below to find content on this site.</p>
  <Search
    id="search"
    className="pagefind-ui"
    uiOptions={{ showImages: false }}
  />
</Layout>
