---
// @todo refactor

import { getHomepagePosts } from '@utils/getHomepagePosts';

import Layout from '@layouts/DefaultPage.astro';

import ArticleCard from '@components/ArticleCard.astro';
import Heading from '@components/Heading.astro';

const { featuredPost, recentPosts } = await getHomepagePosts();
---

<Layout>
  <main class="z-0 mx-auto max-w-full lg:max-w-3xl xl:max-w-5xl 2xl:max-w-7xl">
    <section id="featured">
      <Heading level={2} title="Featured" class="something"/>
      <ArticleCard post={featuredPost!} />
    </section>

    <section id="recent">
      <Heading level={3} title="Recent Posts"/>
      <ul>
        {recentPosts.map(post => (
          <li><ArticleCard post={post} /></li>
        ))}
      </ul>
    </section>
  </main>

  </Layout>
