---
import FeedReader from "@components/features/feeds/FeedReader.astro";
import Featured from "@components/pages/home/Featured.astro";
import Recent from "@components/pages/home/Recent.astro";
import setup from "@data/setup.json" with { type: "json" };
import Layout from "@layouts/DefaultPage.astro";
import TvHead from "@/components/gimmicks/TvHead.astro";

const post = {
  data: {
    description: setup.description,
    title: "Welcome on " + setup.title,
  },
};
---

<Layout post={post}>
  <Featured />
  <Recent />

  <h2>Allow me to interrupt!</h2>
  <div class="mb-5 bg-transparent">
    <!-- ## tv-002.png
    * dimensions: 1536 x 1024px
    * points (x y w h): 556px 138px 435px 357px
    ## tv-001.png
    * dimensions: 1536 x 1024px
    * points (x y w h): 468px 403px 498px 394px -->
    <TvHead
      x={468}
      y={403}
      width={498}
      height={394}
      videoId="QLRxO9AmNNo"
      imageSrc="tv-001.png"
      params="controls=0&fs=0&rel=0"
      cropTop={48}
      cropRight={60}
      cropBottom={48}
      cropLeft={60}
      borderRadius="1.25rem"
      backgroundSrc="tv-background.jpg"
      backgroundClass="rounded-[200%]"
      backgroundEffectClass="rounded-[200%] gittv-head-effect-static tv-head-effect-static-soft tv-head-effect-tint-blue"
      foregroundEffectClass="pointer-events-none"
      foregroundZoom={1.2}
      foregroundZoomOrigin="center center"
    />
  </div>
  <FeedReader />
</Layout>
