---
import Layout from '@layouts/DefaultPage.astro';
import { getCollection } from 'astro:content';
import setup from '@data/setup.json';

import type { CollectionEntry } from 'astro:content';
type GitHubRelease = CollectionEntry<'githubReleases'> & {
  descriptionHTML: string;
  name: string;
};

const post = {
  data: {
    title: 'Releases',
    description: setup.description,
  },
};
const repos = await getCollection('githubReleases');
const releases =
  repos[0] && repos[0].data && Array.isArray(repos[0].data.releases)
    ? repos[0].data.releases
    : [];
// @ts-expect-error - TypeScript does not know about the structure of the releases
const processedReleases = releases.map((release: GitHubRelease) => ({
  ...release,
  descriptionHTML: release.descriptionHTML
    .replace(/<h2\b/g, '<h3')
    .replace(/<\/h2>/g, '</h3>'),
}));
---

<Layout post={post}>
  <div class="flex flex-col gap-4">
    {
      processedReleases.map((release: GitHubRelease) => (
        <article class="relative isolate flex flex-col justify-normal gap-2 rounded-(--card-radius) bg-zinc-100 p-(--card-padding) ring-1 ring-gray-900/10 [--card-padding:--spacing(1)] [--card-radius:var(--radius-2xl)] ring-inset hover:bg-zinc-100/90 dark:bg-zinc-900 dark:ring-gray-100/10 dark:hover:bg-zinc-900/90">
          <div class="p-4">
            <h2>{release.name}</h2>
            <Fragment set:html={release.descriptionHTML} />
          </div>
        </article>
      ))
    }
  </div>
</Layout>
