{{- $articleimages := .Resources.ByType "image" -}}
{{- $link := .Permalink -}}
{{- with $articleimages -}}
  <div class="post-slider">
    {{- range $counter, $image := . -}}
      {{- $imageXL:= $image.Fill "914x514" -}}
      {{- $imageLG:= $image.Fill "674x379" -}}
      {{- $imageSM:= $image.Fill "517x291" -}}
      {{- $imageXS:= $image.Fill "494x278" -}}
      {{- $title := $image.Title | markdownify -}}
      <figure>
        <a href="{{- $link -}}">
          <picture>
            <source srcset="{{- $imageXS.Permalink -}}" media="(max-width: 520px)">
            <source srcset="{{- $imageSM.Permalink -}}" media="(max-width: 540px)">
            <source srcset="{{- $imageLG.Permalink -}}" media="(max-width: 720px)">
            <source srcset="{{- $imageXL.Permalink -}}" media="(max-width: 960px)">
            <source srcset="{{- $imageXL.Permalink -}}">
            {{- /* TODO loading="lazy" for images that are below the fold */ -}}
            <img class="img-fluid" src="{{- $imageXL.Permalink -}}" alt="{{- $title | plainify -}}" width="914" height="457">
          </picture>
        </a>
        <figcaption class="text-center">{{- $title -}}</figcaption>
      </figure>
    {{- end -}}
  </div>
{{- end -}}
