{{- $articleimages := .Resources.ByType "image" -}}
{{- $link := .Permalink -}}
{{- $aspectRatio := (split site.Params.dnb.theme.aspect_ratio ":") -}}
{{- $breakPoints := site.Params.dnb.theme.break_points -}}
{{- $imageSizes := site.Params.dnb.theme.image_sizes -}}
{{- $imageSizes2 := slice -}}
{{- range $imageSizes -}}
  {{- $imageSizes2 = $imageSizes2 | append (math.Ceil (div (mul (float .) (float (index $aspectRatio 1))) (float (index $aspectRatio 0)))) -}}
{{- end -}}

{{- with $articleimages -}}
  <div class="post-slider">
    {{- range $counter, $image := . -}}

      {{- $title := $image.Title | markdownify -}}
      {{- $images := slice -}}
      {{- range $index, $value := $imageSizes -}}
        {{- $imagesize := printf "%sx%s" (string $value) (string (index $imageSizes2 $index)) -}}
        {{- $images = $images | append ($image.Fill $imagesize) -}}
      {{- end -}}

      <figure>
        <a href="{{- $link -}}">
          <picture>
            {{ range $index, $image := $images }}
              <source srcset="{{ $image.Permalink }}" media="(max-width: {{ index $breakPoints $index }}px)">
              {{ if eq $index (sub (len $images) 1) }}
                <source srcset="{{ $image.Permalink }}">
                {{- /* TODO: loading="lazy" for images that are below the fold */ -}}
                <img class="img-fluid" src="{{- $image.Permalink -}}" alt="{{- $title | plainify -}}" width="914" height="457">
              {{ end }}
            {{ end }}
          </picture>
        </a>
        <figcaption class="text-center">{{- $title -}}</figcaption>
      </figure>

    {{- end -}}
  </div>
{{- end -}}
