{{- $context := . -}}
{{- $commentform := "true" -}}
{{ if isset .Params "comments" }}
  {{- if (eq false (index .Params "comments")) -}}
    {{- $commentform = "false" -}}
  {{- end -}}
{{- end -}}

{{- with (and site.DisqusShortname $commentform) -}}
  {{- if (eq "true" $commentform) -}}
    <div class="col-12">
      {{- template "_internal/disqus.html" . -}}
    </div>
  {{- end -}}
{{- end -}}

{{- with (and site.Params.dnb.giscus $commentform) -}}
  {{- if (eq "true" $commentform) -}}
    <div class="col-12">
      {{- partial "content/giscus.html" $context $context -}}
      <script>
        const theme = localStorage.theme;
        let scheme = "light";
        if (theme === "dark") {
          scheme = "dark_dimmed";
        }
        let giscusScript = document.getElementById("giscus-script");
        giscusScript.setAttribute('data-theme', scheme);
      </script>
    </div>
  {{- end -}}
{{- end -}}
