<nav class="row">
  <div class="d-flex justify-content-center">

    {{- $paginator := .Scratch.Get "paginator" -}}
    {{- if gt $paginator.TotalPages 1 }}
    <ul class="pagination">
      {{- with $paginator }}
      {{- $currentPageNumber := .PageNumber }}
      {{- with .First }}
      {{- if ne $currentPageNumber .PageNumber }}
      <li class="page-item">
        <a href="{{ .URL }}" aria-label="First" class="page-link">
          {{- $icon :=  "icons/chevron-double-left.html" -}}
          {{- partialCached $icon $icon $icon -}}
        </a>
      </li>
      {{- end }}
      {{- end }}
      {{- with .Prev }}
      <li class="page-item">
        <a href="{{ .URL }}" aria-label="Previous" class="page-link">
          {{- $icon := "icons/chevron-left.html" -}}
          {{- partialCached $icon $icon $icon -}}
        </a>
      </li>
      {{- end }}
      {{- $slots := 5 }}
      {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
      {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
      {{- if lt (add (sub $end $start) 1) $slots }}
      {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
      {{- end }}
      {{- range $k := seq $start $end }}
      {{- if eq $paginator.PageNumber $k }}
      <li class="page-item active">
        <a href="#" aria-current="page" aria-label="Page {{ $k }}" class="page-link">{{ $k }}</a>
      </li>
      {{- else }}
      <li class="page-item">
        <a href="{{ (index $paginator.Pagers (sub $k 1)).URL }}" aria-label="Page {{ $k }}"
           class="page-link">{{ $k }}</a>
      </li>
      {{- end }}
      {{- end }}
      {{- with .Next }}
      <li class="page-item">
        <a href="{{ .URL }}" aria-label="Next" class="page-link">
          {{- $icon := "icons/chevron-right.html" -}}
          {{- partialCached $icon $icon $icon -}}
        </a>
      </li>
      {{- end }}
      {{- with .Last }}
      {{- if ne $currentPageNumber .PageNumber }}
      <li class="page-item">
        <a href="{{ .URL }}" aria-label="Last" class="page-link">
          {{- $icon := "icons/chevron-double-right.html" -}}
          {{- partialCached $icon $icon $icon -}}
        </a>
      </li>
      {{- end }}
      {{- end }}
      {{- end }}
    </ul>
    {{- end }}
  </div>
</nav>
