{{- $page := . -}}
{{- $config := site.Params.dnb.head -}}
{{- partial "func/hook.html" ( dict "hook" "head-init" "context" . ) -}}
<meta charset="{{- site.Params.dnb.head.charset | default "utf-8" -}}" />
<meta
  name="viewport"
  content="{{- site.Params.dnb.head.viewport | default "width=device-width, initial-scale=1" -}}"
/>
{{- partial "head/title.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-start" "context" . ) -}}
{{- partialCached "head/speed-optimisation.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-speed-optimisation" "context" . ) -}}
{{- if and (isset $config "nobase") (eq false $config.nobase) -}}
  <base href="{{- site.BaseURL -}}" />
{{- end -}}
{{- partial "head/description.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-description" "context" . ) -}}
{{- partial "head/author.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-author" "context" . ) -}}
{{- partial "func/hook.html" ( dict "hook" "head-pre-css" "context" . ) -}}
{{- partialCached "head/style.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-css" "context" . ) -}}
{{- partial "head/translations.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-translations" "context" . ) -}}
{{- partial "head/seo.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-seo" "context" . ) -}}
{{- partialCached "head/series.html" . . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-series" "context" . ) -}}
{{/* external modules */}}
{{- $modules := slice "social" "opensearch" "pwa" "humans" "feeds" -}}
{{- range $modules -}}
  {{- $template := printf "head/%s.html" . -}}
  {{- if templates.Exists ( printf "partials/%s" $template ) -}}
    {{- partial "func/hook.html" ( dict "hook" (printf "head-pre-module-%s" .) "context" . ) -}}
    {{- partialCached $template $page $page -}}
    {{- partial "func/hook.html" ( dict "hook" (printf "head-post-module-%s" .) "context" . ) -}}
  {{- end -}}
{{- end -}}
{{- partialCached "head/verification.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-verification" "context" . ) -}}
{{- partial "head/others.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-end" "context" . ) -}}
