{{ with .title }}
<div class="h3">{{ . }}</div>{{ end }}
{{ $class := .classitem }}
{{ $icononly := .icononly }}
{{ with $icononly }}
{{ $class = printf "%s %s" ($class | default "") "icon" }}
{{ end }}
<ul{{ with .class }} class="{{ . }}"{{ end }}>
  {{ range (index site.Menus .menu) }}
    <li{{ with $class }} class="{{ . }}"{{ end }}>
      <a href="{{ .URL | absLangURL }}">
        {{ if $icononly }}
          {{ partialCached "bsicon" .Params.Icon .Params.Icon }}
        {{ else }}
          {{ with .Params.Icon }}
            {{ partialCached "bsicon" . . }}
          {{ end }}
          {{ .Name }}
        {{ end }}
      </a>
    </li>
  {{ end }}
</ul>
