<!-- SEO check -->
{{ $tit := .Title }}
{{ if .Params.seotitle }}
  {{ $tit = .Params.seotitle }}
{{ end }}

<div class="card text-dark bg-light border-light  mb-3">
  <div class="card-header">SEO Analysis</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {{ partial "seo/ser-preview" . }}
      </li>
      <li class="list-group-item">
        {{ partial "seo/title-length" . }}
      </li>
      <li class="list-group-item">
        {{ partial "seo/meta-description" . }}
      </li>
      <li class="list-group-item">
        {{ partial "seo/featured-image" . }}
      </li>
      <li class="list-group-item">
        {{ partial "seo/content-length" . }}
      </li>
      <li class="list-group-item">
        {{ partial "seo/keyphrase-checks" . }}
      </li>
    </ul>
  </div>
</div>
