{{- $path := "/sw-prod/" -}}
{{- $dev := site.Params.dnb.pwa.dev -}}
{{- with $dev }}
  {{- $path = "/sw-dev/" -}}
{{- end -}}

<script nonce="dnb-components-sw">
if ("serviceWorker" collections.In navigator) {
  window.addEventListener("load", () => {
    navigator.serviceWorker
      .register("{{- $path -}}service-worker.js")
      .then((registration) => {
        console.log("service worker registered: ", registration);
      })
      .catch((registrationError) => {
        console.log("service worker registration failed: ", registrationError);
      });
  });
} else {
  console.log(
    "service worker registration failed: navigator.serviceWorker not available"
  );
}
</script>
