{{ $order := slice }}
{{ $networks := .network }}
{{ $sharebuttons := .sharebuttons }}

{{- with $sharebuttons -}}
  {{ $order = .networks }}
{{ else }}
  {{ range $key, $item := $networks }}
    {{ $order = $order | append $key }}
  {{ end }}
{{ end }}


<div class="widget social-media">
  <div class="h2 mb-0 mt-3">{{- i18n "connect-on-social" -}}</div>
  <div class="hstack justify-content-center gap-3">
    {{- range $order -}}
      {{- $network := index $networks . -}}
      <div class="p-2">
        <a href="{{- $network.url -}}" aria-label="{{- $network.label -}}" class="icon-{{ $network.icon }}">
          {{- partialCached "bsicon.html" $network.icon $network.icon -}}
        </a>
      </div>
    {{- end -}}
  </div>
</div>
