@font-face {
	font-weight: 100 800;
	font-family: JetBrainsMono;
	font-style: italic;
	src: url('/assets/webfonts/jetbrainsmono/jetbrainsmonoi.ttf') format('ttf') tech('variations'),
		url('/assets/webfonts/jetbrainsmono/jetbrainsmonoi.ttf') format('ttf-variations');
	font-display: swap;
	text-rendering: optimizelegibility;
}

@font-face {
	font-weight: 100 800;
	font-family: JetBrainsMono;
	font-style: normal;
	src: url('/assets/webfonts/jetbrainsmono/jetbrainsmono.ttf') format('ttf') tech('variations'),
		url('/assets/webfonts/jetbrainsmono/jetbrainsmono.ttf') format('ttf-variations');
	font-display: swap;
	text-rendering: optimizelegibility;
}

@font-face {
	font-family: BahnPro;
	src: url('/assets/webfonts/bahn/bahnpro_regular-webfont.woff2') format('woff2'),
		url('/assets/webfonts/bahnpro_regular-webfont.woff') format('woff'),
		url('/assets/webfonts/bahnpro_regular-webfont.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	text-rendering: optimizelegibility;
}

@font-face {
	font-family: BahnPro;
	src: url('/assets/webfonts/bahnpro_light-webfont.woff2') format('woff2'),
		url('/assets/webfonts/bahnpro_light-webfont.woff') format('woff'),
		url('/assets/webfonts/bahnpro_light-webfont.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	text-rendering: optimizelegibility;
}
