/*******************************************************************************
 * typography
 ******************************************************************************/
$font-size-root: 1.2rem;
$font-size-base: 1rem;

/*******************************************************************************
 * headings
 ******************************************************************************/
$h1-font-size: $font-size-base * 1.4;
$h2-font-size: $font-size-base * 1.15;
$h3-font-size: $font-size-base * 1.1;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

/*******************************************************************************
 * links
 ******************************************************************************/
$link-color: $primary;
$link-hover-color: darken($primary, 20%);
$link-decoration: none;
$link-hover-decoration: underline;

/*******************************************************************************
 * navigation
 * see
 * - https: //getbootstrap.com/docs/5.2/components/navbar/
 * - https: //getbootstrap.com/docs/5.2/components/navs-tabs/
 ******************************************************************************/
$navbar-padding-y: null; //$spacer * 0.5;
$navbar-padding-x: null;

/*******************************************************************************
 * pagination
 ******************************************************************************/

/*******************************************************************************
 * code
 ******************************************************************************/

/*******************************************************************************
 * lines
 ******************************************************************************/

/*******************************************************************************
 * alerts
 ******************************************************************************/

/*******************************************************************************
 * typography
 ******************************************************************************/

/*******************************************************************************
 * tables
 ******************************************************************************/

/*******************************************************************************
 * buttons
 ******************************************************************************/

/*******************************************************************************
 * tabs
 ******************************************************************************/

/*******************************************************************************
 * settings
 ******************************************************************************/
$enable-rounded: false;
$enable-rfs: false;
$enable-dark-mode: true;
$enable-negative-margins: true;
$enable-important-utilities: false;

/*******************************************************************************
 * theme relevant settings
 ******************************************************************************/
$layout-character-width: 65ch;
$heading-height: 70px;

/*******************************************************************************
 * root setup
 ******************************************************************************/
:root {
	// https://drafts.csswg.org/css-ui-4/#widget-accent
	// https://caniuse.com/?search=accent-color
	accent-color: $primary;
	color-scheme: dark;
}
