<nav class="" aria-label="breadcrumb ">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item"><a href="/">{{lang.Translate "Home" }}</a></li>
    {{ $lastUrlElement := collections.Index (collections.Last 1 (strings.Split (collections.Delimit (strings.Split .RelPermalink "/") "," "") ",")) 0 }}
    {{- $.Scratch.Set "url" "" -}}
    {{- range (strings.Split .RelPermalink "/") -}}
      {{- if (compare.Gt (len .) 0) -}}
        {{- $.Scratch.Set "isSection" "false" -}}
        {{- $.Scratch.Set "isPage" "false" -}}
        {{- $.Scratch.Add "url" (fmt.Print "/" . ) -}}
        {{- if $.Site.GetPage (fmt.Print . ".md") -}}
          {{- with $.Site.GetPage (fmt.Print . ".md") -}}
            {{- if .IsPage -}}
              {{- $.Scratch.Set "isPage" "true" -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- if compare.Eq ($.Scratch.Get "isPage") "true" -}}
          {{- with $.Site.GetPage (fmt.Print . ".md") -}}
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ $.Scratch.Get `url` }}">
            {{ if  (compare.Eq (lang.Translate .Title) "" ) }} {{ .Title  }}{{ else }}{{ lang.Translate .Title  }}{{ end }}</a></li>
          {{- end -}}
        {{- else -}}
          {{- if compare.Eq $lastUrlElement . -}}
            <li class="breadcrumb-item active"><a href="{{ $.Scratch.Get `url` }}">{{ if  (compare.Eq (lang.Translate (inflect.Humanize . )) "" ) }} {{   inflect.Humanize .}}{{ else }}{{ lang.Translate (inflect.Humanize . )  }}{{ end }}</a></li>
          {{- else -}}
            <li class="breadcrumb-item"><a href="{{ $.Scratch.Get `url` }}">{{ if  (compare.Eq (lang.Translate (inflect.Humanize . )) "" ) }} {{   inflect.Humanize .}}{{ else }}{{ lang.Translate (inflect.Humanize . )  }}{{ end }}</a></li>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </ol>
</nav>
