/* Webfont: TomkinNarrow-Bold */@font-face {
    font-family: 'TomkinNarrowBold';
    src: url('TomkinNarrow-Bold.eot'); /* IE9 Compat Modes */
    src: url('TomkinNarrow-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TomkinNarrow-Bold.woff') format('woff'), /* Modern Browsers */
         url('TomkinNarrow-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TomkinNarrow-Bold.svg#TomkinNarrow-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

