---
import TextImageFill from "@components/ui/TextImageFill.astro";
import setup from "@data/setup.json" with { type: "json" };
import { getHomepageUrl } from "@utils/content.ts";

export interface Props {
  siteTitleId: string;
}

const homepageUrl = getHomepageUrl();
const { siteTitleId }: Props = Astro.props;
const siteTitleSize = "clamp(50px, 13vw, 250px)";
---

<header aria-label="Site title" id={siteTitleId} class="w-full bg-gray-100 text-center dark:bg-gray-900">
  <a href={homepageUrl} class="inline-block">
    <TextImageFill
      as="span"
      imageUrl="/headline.jpg"
      size={siteTitleSize}
      classes="font-title leading-none"
      fallbackColor="var(--color-orange-500)"
      tintColor="var(--color-red-800)"
      tintOpacity={0.1}
    >
      {setup.title}
    </TextImageFill>
  </a>
</header>
