{{- $articleimages := .Resources.ByType "image" -}}
{{- $link := .Permalink -}}
{{- with $articleimages -}}
  <div class="post-slider">
    {{- range $counter, $image := . -}}
      {{- $imageXL:= $image.Fill "960x480" -}}
      {{- $imageLG:= $image.Fill "720x360" -}}
      {{- $imageSM:= $image.Fill "540x270" -}}
      {{- $title := $image.Title | markdownify -}}
      <figure>
        <a href="{{- $link -}}">
          <picture>
            <source srcset="{{- $imageSM.Permalink -}}" media="(max-width: 540px)">
            <source srcset="{{- $imageLG.Permalink -}}" media="(max-width: 720px)">
            <source srcset="{{- $imageXL.Permalink -}}" media="(max-width: 960px)">
            <source srcset="{{- $imageXL.Permalink -}}">
            <img loading="lazy" class="img-fluid" src="{{- $imageXL.Permalink -}}" alt="{{- $title | plainify -}}">
          </picture>
        </a>
        <figcaption class="text-center">{{- $title -}}</figcaption>
      </figure>
    {{- end -}}
  </div>
{{- end -}}
