<article class="card post-card">
  <div class="row no-gutters align-items-center">
    <div class="col-lg-6">
      <div class="pe-0 pe-lg-5">
        {{- partialCached "content/article-images.html" . . -}}
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card-body shadow-sm pt-lg-0">
        <ul class="list-inline mb-2">
          <li class="list-inline-item mb-2">
            {{- partial "content/author.html" . -}}
          </li>
          <li class="list-inline-item mb-2">
            {{- partialCached "content/publishing-date.html" . . -}}
          </li>
          <li class="list-inline-item mb-2">
            <ul class="list-inline">
              {{- range .Params.tags -}}
              <li class="list-inline-item"><a href="{{- site.BaseURL -}}tags/{{- .| urlize -}}">{{- . -}}</a></li>
              {{- end -}}
            </ul>
          </li>
        </ul>
        <h3 class="mb-3">
          <a class="post-title" href="{{- .Permalink -}}">{{- .Title -}}</a>
        </h3>
        <p>{{- .Summary -}}</p>

        <a href="{{- .Permalink -}}">
          {{- i18n "read_article" -}}
          {{- partialCached "icons/caret-right-fill.html" "caret-right-fill" "caret-right-fill" -}}
        </a>
      </div>
    </div>
  </div>
</article>
