{{- $post := .context -}}
{{- $posttype := $post.Type -}}
{{- $config := partials.Include "func/getPostSetup.html" $posttype -}}
{{- $index := .index | compare.Default false -}}

{{- /* create content parts based on content type */ -}}

{{- $articleclasses := partials.Include "func/getArticleClasses.html" $post $post -}}
<article class="card h-100 {{ $articleclasses -}}">

  {{- /* MARK: Status
  */ -}}
  {{- if compare.Ne $config.status false -}}
    {{- partials.IncludeCached "content/components/status.html" $post $post  -}}
  {{- end -}}

  {{- /* MARK: Banner
  */ -}}
  {{- if compare.Ne $config.banner false -}}
    {{- partials.Include "content/components/banner.html" $post -}}
  {{- end -}}

  {{- /* MARK: Video banner
  */ -}}
  {{- if compare.Ne $config.videobanner false -}}
    {{- partials.Include "content/components/banner-video.html" $post -}}
  {{- end -}}

  {{- /* MARK: Headline-Banner
  */ -}}
  {{- if compare.Ne $config.bannerheadline false -}}
    {{- partials.Include "content/components/headline-banner.html" $post -}}
  {{- end -}}

  <div class="card-body article-content">

    {{- /* MARK: Headline
    */ -}}
    {{- if compare.Ne $config.headline false -}}
      {{- $options := dict "post" $post "level" 3 -}}
      {{- partials.Include "content/components/headline.html" $options -}}
    {{- end -}}

    {{- /* MARK: Content
    */ -}}
    <div class="prose">
      {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "post-preview-before" "context" $post ) -}}
      {{- $options := dict "type" $posttype "post" $post -}}
      {{- partials.Include "content/components/content.html" $options $options -}}
      {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "post-preview-after" "context" $post ) -}}
    </div>

    {{- /* MARK: Read more button
    */ -}}
    <div class="text-end">
      {{- /* @todo move into button component */ -}}
      {{- $label := fmt.Printf "%s: %s" (lang.Translate "theme.read_article") $post.Title -}}
      <a href="{{- $post.Permalink -}}"
          class="d-inline-flex justify-content-end align-items-center flex-row"
          aria-label="{{- $label }}"
          {{ with $index }}
            data-hotkey="k+{{- $index -}}"
          {{ end }}
          rel="bookmark"
          >
        <span class="d-inline-block pe-2">
          {{- lang.Translate "theme.read_article" -}}
        </span>
        {{- $options := dict "icon" "chevron-double-right" "class" "d-inline-block mb-1" "width" "24" "height" "24" -}}
        {{- partials.Include "icon.html" $options -}}
      </a>
    </div>

  </div>

</article>
