<div class="col-12 mb-4">
  <article class="card post-card shadow-sm">
    {{- partialCached "content/article-images.html" . . -}}
    <div class="card-body">
      <div class="d-flex justify-content-between">
        {{- partial "content/author.html" . -}}
        {{- partialCached "content/publishing-date.html" . . -}}
      </div>
      <div class="d-flex flex-row">
        {{- range .Params.tags -}}
          <a href="{{- site.BaseURL -}}tags/{{- .| urlize -}}/" class="me-1"
            >{{- . -}}</a
          >
        {{- end -}}
      </div>
      <h1>
        <a class="post-title" href="{{- .Permalink -}}">{{- .Title -}}</a>
      </h1>
      <p>{{- .Summary -}}</p>

      <a href="{{- .Permalink -}}">
        {{- i18n "read_article" | default "Read Article" -}}
        {{- partialCached "icons/caret-right-fill.html" "caret-right-fill" "caret-right-fill" -}}
      </a>
    </div>
  </article>
</div>
