<section class="section--content">
  <div class="container">
    <div class="row">

      {{- $paginator := .Scratch.Get "paginator" -}}
      <h2 class="visually-hidden">
        Recent Posts (Page {{ $paginator.PageNumber -}})
      </h2>

      {{- $fullcontent := false -}}
      {{- if (eq $.Kind "page") -}}
        {{- $fullcontent = true -}}
      {{- end -}}

      {{- range $index, $item := $paginator.Pages -}}
        {{- $post := dict "context" $item "fullcontent" $fullcontent -}}
        {{- $col := "6" -}}
        {{- if eq $index 0 -}}
          {{- $col = "12" -}}
        {{- end -}}
        <div class="col-12 col-md-{{ $col }} mb-4">
          {{- partial "content/post.html" $post $post -}}
        </div>
      {{- end -}}

    </div>
    {{ partial "components/pagination/pagination-simple.html" . }}
  </div>
</section>
