{{- $post := . -}}
{{- $artist := collections.First 1 (collections.Where site.Data.dnb.kollitsch.music.data "slug" $post.Params.video.artist) -}}
{{- $artist = collections.Index $artist 0 -}}
{{- $settings := collections.Dictionary "id" $post.Params.video.youtube -}}
<div class="post-slider">
  <figure>
    <div class="iframe-border">
      {{- partials.IncludeCached "youtube.html" $settings $settings -}}
    </div>
    {{- /* bad bad hack */ -}}
    <figcaption class="text-center text-truncate text-truncate-1 px-2">&nbsp;</figcaption>
  </figure>
</div>
