{{- $context := . -}}
{{- $responsive := "fullwidth" -}}
{{- $articleimages := $context.Resources.ByType "image" -}}
{{- $link := $context.Permalink -}}
{{- $aspectRatio := (strings.Split site.Params.dnb.pictures.aspect_ratio ":") -}}
{{- $breakPoints := site.Params.dnb.pictures.responsive.halfwidth.break_points -}}
{{- $imageSizes := site.Params.dnb.pictures.responsive.halfwidth.image_sizes -}}

{{- $showControls := false -}}

{{- $config := partials.IncludeCached "func/pictures/getConfiguration.html" . -}}
{{- $default_format := $config.default_format | compare.Default "webp" -}}

{{- if (compare.Eq $responsive "fullwidth") -}}
  {{- $breakPoints = site.Params.dnb.pictures.responsive.fullwidth.break_points -}}
  {{- $imageSizes = site.Params.dnb.pictures.responsive.fullwidth.image_sizes -}}
{{- end -}}
{{- $imageSizes2 := collections.Slice -}}
{{- range $imageSizes -}}
  {{- $imageSizes2 = $imageSizes2 | collections.Append (math.Ceil (math.Div (math.Mul (cast.ToFloat .) (cast.ToFloat (collections.Index $aspectRatio 1))) (cast.ToFloat (collections.Index $aspectRatio 0)))) -}}
{{- end -}}

{{ $articleimage :=  partials.Include "content/components/articleimage.html" $articleimages $articleimages }}
{{- if reflect.IsSlice $articleimage -}}
  {{- $range := collections.First 1 $articleimage -}}
  {{- $articleimage = collections.Index $range 0 -}}
{{- end -}}
{{- if compare.Eq "*resources.resourceAdapter" (fmt.Printf "%T" $articleimage) -}}
  {{ with $articleimage }}
    {{ if compare.Eq "image" .ResourceType -}}
      <div class="post-slider">
        {{- $mainImage := . -}}
        {{- $title := "" -}}
        {{- with $mainImage.Title -}}
          {{- if compare.Ne (. | compare.Default "") $mainImage.Name -}}
            {{- $title = . | transform.Markdownify -}}
          {{- end -}}
        {{- end -}}
        {{- $images := collections.Slice -}}
        {{- range $index, $value := $imageSizes -}}
          {{- $imagesize := fmt.Printf "%sx%s %s"
                                        (cast.ToString $value)
                                        (cast.ToString (collections.Index $imageSizes2 $index))
                                        $default_format -}}
          {{- $images = $images | collections.Append ($mainImage.Fit $imagesize) -}}
        {{- end -}}
        {{- $largestImage := $mainImage.Fit (fmt.Printf "1600x800 %s" $default_format) -}}
        <figure>
          <a href="{{- $link -}}">
            <picture>
              {{- range $index, $image := $images -}}
                <source
                  srcset="{{- $image.Permalink -}}"
                  media="(max-width: {{- collections.Index $breakPoints $index -}}px)">
                {{- if compare.Eq $index (math.Sub (len $images) 1) -}}
                  <source srcset="{{- $largestImage.Permalink -}}" media="(min-width: {{- collections.Index $breakPoints $index -}}px)">
                  {{- $alt := $title -}}
                  {{- if compare.Eq $alt "" -}}
                    {{- $alt = $context.Title -}}
                  {{- end -}}
                  <img
                    class="img-fluid"
                    src="{{- $largestImage.RelPermalink -}}"
                    alt="{{- $alt | transform.Plainify -}}"
                    width="{{- $largestImage.Width -}}"
                    height="{{- $largestImage.Height -}}"
                    {{ if (compare.Eq $responsive "fullwidth") -}}
                      loading="eager" fetchpriority="high"
                    {{- else -}}
                      loading="lazy" fetchpriority="low"
                    {{- end -}}>
                {{- end -}}
              {{- end -}}
            </picture>
          </a>
          {{ with $showControls -}}
          <div class="inline-icons">
            {{- with $title -}}
              <div class="is--copyright"
                  role="button"
                  title="{{- . -}}"
                  data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="{{- . -}}">
                {{- partials.Include "icon.html" "camera2" -}}
              </div>
            {{- end -}}
            {{- if compare.Eq true ($context.Params.theme.showdate | compare.Default true) -}}
              {{- $publishingdate := printf
                    "🤖 %s"
                    ($context.PublishDate | time.Format (site.Params.dnb.theme.dateformat.timestamp | compare.Default ":date_long")) -}}
              <div class="is--publishdate"
                  role="button"
                  title="{{- $publishingdate -}}"
                  data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="{{- $publishingdate -}}">
                {{- partials.Include "icon.html" "calendar3" -}}
              </div>
            {{- end -}}
          </div>
          {{- end -}}
          {{- with $title -}}
            <figcaption class="text-center text-truncate text-truncate-1 px-2">{{- $title -}}</figcaption>
          {{- else -}}
            {{- /* bad bad hack */ -}}
            <figcaption class="text-center text-truncate text-truncate-1 px-2">&nbsp;</figcaption>
          {{- end -}}
        </figure>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
