{{- /* @todo refactor */ -}}
{{- if not .IsHome -}}
<div class="d-flex justify-content-between">
  <nav aria-label="breadcrumbs">
    <ol class="breadcrumb">
    {{- range .Ancestors.Reverse }}
      <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
      <li class="breadcrumb-item active" aria-current="page">{{ .LinkTitle | transform.Markdownify }}</li>
    </ol>
  </nav>

  {{- partials.IncludeCached "schema/things/breadcrumbList.html" . . -}}
  {{- partials.IncludeCached "func/vscode-link.html" . . -}}
</div>
{{- end -}}
