{{- $type := .type | compare.Default "blog" -}}
{{- $post := .post -}}
{{- $artist := dict -}}

{{- /* @todo move into hook */ -}}
{{ if compare.Eq $type "music" }}
  {{- $artist = collections.First 1 (where
        site.Data.dnb.kollitsch.music.data
        "slug"
        $post.Params.video.artist
  ) -}}
  {{- $artist = (collections.Index $artist 0) -}}
{{ end }}

{{ if and (page.IsNode) (compare.Ne .is_preview false) }}

  {{- $output := "" -}}
  {{- if $post.Truncated -}}
    {{- $output = $post.Summary -}}
  {{- else -}}
    {{- with $post.Description -}}
      {{- $output = . | transform.Plainify -}}
    {{- else -}}
      {{- $output = $post.Content | transform.Plainify | strings.Truncate 100 -}}
    {{- end -}}
  {{- end -}}

  <p class="text-truncate text-truncate-3">
  {{- if and (compare.Eq "" $output) (compare.Eq "music" $post.Type) -}}
    {{- lang.Translate "theme.this_is" }} "{{- $post.Params.video.title -}}" {{ lang.Translate "theme.by" }}
    <a href="{{- $artist.link -}}">
      {{- $artist.name -}}
    </a>. {{ $artist.description | transform.Plainify -}}
  {{ else }}
    {{- $output | transform.Plainify -}}
  {{- end -}}
  </p>

{{ else }}

  {{- with $post.Content -}}
    {{- . -}}
  {{- end -}}

  {{- if compare.Eq $type "music" -}}
    {{- $name := $artist.name -}}
    {{- with $post.Params.video.name -}}
      {{- $name = . -}}
    {{- end -}}
    <div class="alert alert-light alert-dnb-dark" role="alert">
      <p>
        {{- lang.Translate "theme.this_is" }} "{{- $post.Params.video.title -}}" {{ lang.Translate "theme.by" }}
        <a href="{{- $artist.link -}}">
          {{- $artist.name -}}
        </a>.
      </p>
      <p>
        {{- $artist.description | transform.Markdownify -}}
      </p>
    </div>
  {{- end -}}
{{ end }}

