---
import type { CollectionEntry } from 'astro:content';
import SchemaBlogPost from './schema/BlogPosting.astro';

export interface Props {
  post: CollectionEntry<'blog'>;
}
const { post } = Astro.props;
---

<article class="mb-4 pb-2 text-sm">
  <h3 class="text-lg font-bold text-orange-800">
    <a href={`/blog/${post.id}/`}>{post.data.title}</a>
  </h3>
  <p class="">
    {new Date(post.data.date).toLocaleDateString('en-GB')}
  </p>
  <p class="mt-1 ">{post.data.summary}</p>
  <SchemaBlogPost post={post} />
</article>
