---

import type { CollectionEntry } from 'astro:content';

export interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<ul class="space-y-6">
  {
    posts.map(post => (
      <li>
        <a
          href={`/blog/${post.slug}/`}
          class="text-xl font-semibold text-blue-700 hover:underline"
        >
          {post.data.title}
        </a>
        <p class="text-sm text-gray-600">{post.data.date}</p>
      </li>
    ))
  }
</ul>
