---
import { getBreadcrumbs } from '@utils/content';
import BreadcrumbListSchema from './schema/BreadcrumbList.astro';
import { Icon } from 'astro-icon/components';

export interface Props {
  path: string;
}

const { path }: Props = Astro.props;
const breadcrumbs = await getBreadcrumbs(path);
// @todo the home button should not be aria-hidden and have a label. Icon component needs some fine tuning.
---

<nav
  class="mb-2 flex flex-row items-center justify-start gap-2 rounded-sm bg-gray-100 px-2 py-1 dark:bg-gray-900"
  aria-label="Breadcrumb"
>
  {
    breadcrumbs &&
      breadcrumbs.map((breadcrumb, index) => {
        const isLast = index === breadcrumbs.length - 1;
        return (
          <>
            <a
              href={breadcrumb.href}
              aria-current={isLast ? 'page' : undefined}
            >
              {breadcrumb.label === 'Home' ? (
                <Icon name="house-fill" />
              ) : (
                breadcrumb.label
              )}
            </a>
            {!isLast && (
              <Icon
                name="chevron-right"
                class="fill-gray-400 text-gray-400 dark:fill-gray-600 dark:text-gray-600"
              />
            )}
          </>
        );
      })
  }
</nav>

<BreadcrumbListSchema items={breadcrumbs} />
