---
import { getBreadcrumbs } from '@utils/getBreadcrumbs';

const { path } = Astro.props;
const breadcrumbs = await getBreadcrumbs(path);
import BreadcrumbListSchema from './schema/BreadcrumbList.astro';
import { Icon } from 'astro-icon/components';
---

<nav
  class="mb-2 flex flex-row items-center justify-start gap-2 rounded-lg bg-gray-950/10 px-2 py-1 dark:bg-gray-50/10"
  aria-label="Breadcrumb"
>
  {
    breadcrumbs &&
      breadcrumbs.map((breadcrumb, index) => {
        const isLast = index === breadcrumbs.length - 1;
        return (
          <>
            <a href={breadcrumb.href}>{breadcrumb.label}</a>
            {!isLast && <Icon name="chevron-right" />}
          </>
        );
      })
  }
</nav>

<BreadcrumbListSchema items={breadcrumbs} />
