---
import { getBreadcrumbs } from '@utils/getBreadcrumbs';
const path = Astro.url.pathname;
const breadcrumbs = await getBreadcrumbs(path, 1);
import BreadcrumbListSchema from './schema/BreadcrumbList.astro';
import { Icon } from 'astro-icon/components';
---

<nav class="flex flex-row justify-start items-center gap-2
  bg-gray-950/10 dark:bg-gray-50/10
  px-2 py-1 rounded-lg
  mb-2
  " aria-label="Breadcrumb">
  {breadcrumbs &&
    breadcrumbs.map((breadcrumb, index) => {
      const isLast = index === breadcrumbs.length - 1;
      return (
        <>
          <a href={breadcrumb.href}>{breadcrumb.label}</a>
          {!isLast && <Icon name="bi:chevron-right" />}
        </>
      );
    })}
</nav>

<BreadcrumbListSchema items={breadcrumbs} />
