---
import { Icon } from "astro-icon/components";
const { link = "#", name = "bi:plus", classes = "" } = Astro.props;

const baseClasses = `
  inline-flex items-center gap-x-2
  rounded-md
  bg-red-600 text-white hover:bg-orange-600
  px-3.5 py-2.5
  text-sm shadow-xs
  focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600
`.trim();
---

<a href={link} class={`${baseClasses} ${classes}`}>
  <slot />
  <Icon name={name} />
</a>
