---
type Tag = 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';

export type Props = {
  level?: number;
  description?: string;
  link?: string;
  class?: string;
};

const {
  level = 1,
  description = '',
  link = '',
  class: classname = '',
}: Props = Astro.props;

const safeLevel = Math.min(6, Math.max(1, Number(level)));
const Tag = `h${safeLevel}` as Tag;
---

<Tag
  {...description && { title: description }}
  {...classname && { class: classname }}
>
  {
    link ? (
      <a href={link}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</Tag>
