---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import type { IconName } from '@utils/icon-names';

type IconPosition = 'prefix' | 'postfix';

type Props = {
  icon: IconName;
  type?: IconPosition;
  class?: string;
  translate?: boolean;
} & HTMLAttributes<'a'>;

const {
  type = 'prefix',
  icon,
  class: iconClass = '',
  ...allAttrs
}: Props = Astro.props;

const hasSlot = !!Astro.slots.default;
---

<a
  class="flex items-center gap-2"
  {...allAttrs}
>
  {
    type === 'prefix' && (
      <Icon
        name={icon}
        class={iconClass}
      />
    )
  }
  {
    hasSlot && (
      <span>
        <slot />
      </span>
    )
  }
  {
    type === 'postfix' && (
      <Icon
        name={icon}
        class={iconClass}
      />
    )
  }
</a>
