---
// @todo refactor

import type { HTMLAttributes } from 'astro/types';

// use a `type`
type Props = HTMLAttributes<'a'>;

// // or extend with an `interface`
// interface Props extends HTMLAttributes<"a"> {
//   myProp?: boolean;
// }

const { href, ...attrs } = Astro.props;
---

<a href={href} {...attrs}>
  <slot />
</a>
