---
// @todo refactor and comment

import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {}

const { href, ...attrs }: Props = Astro.props;
---

<a
  href={href}
  {...attrs}
>
  <slot />
</a>
