---

import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'>;

// // or extend with an `interface`
// interface Props extends HTMLAttributes<"a"> {
//   myProp?: boolean;
// }

const { href, ...attrs }: Props = Astro.props;

---

<a href={href} {...attrs}>
  <slot />
</a>
