---
export interface Props {
  basePath: string;
  currentPage: number;
  totalPages: number;
}

const { basePath, currentPage, totalPages } = Astro.props;

function pageLink(n: number) {
  return n === 1 ? basePath : `${basePath}/${n}/`;
}
---

{
  totalPages > 1 && (
    <nav class="mt-8 flex justify-center space-x-4">
      {currentPage > 1 && <a href={pageLink(currentPage - 1)}>&larr; Prev</a>}
      {Array.from({ length: totalPages }, (_, i) => (
        <a
          href={pageLink(i + 1)}
          class={i + 1 === currentPage ? 'font-bold underline' : ''}
        >
          {i + 1}
        </a>
      ))}
      {currentPage < totalPages && (
        <a href={pageLink(currentPage + 1)}>Next &rarr;</a>
      )}
    </nav>
  )
}
