---
// @todo refactor
// @see https://github.com/tailwindlabs/tailwindcss-typography
---

<div
  class="
      prose prose-base xs:prose-sm lg:prose-xl prose-zinc dark:prose-invert max-w-none
      prose-headings:font-normal prose-headings:font-changa
  "
>
  <slot />
</div>
