---
import Heading from './Heading.astro';

const { title, description, image } = Astro.props;
---

<section class="mb-8">
  {
    image && (
      <img
        src={image.src}
        alt={image.alt || title}
        width={image.width || 1200}
        height={image.height || 600}
        loading="lazy"
        class="mb-4"
      />
    )
  }

  <Heading level={1}>{title}</Heading>
  {description && <p class="text-lg">{description}</p>}
</section>
