/* Webfont: TomkinCondense-ExtBdIta */@font-face {
    font-family: 'TomkinCondenseExtraBold';
    src: url('TomkinCondense-ExtBdIta.eot'); /* IE9 Compat Modes */
    src: url('TomkinCondense-ExtBdIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TomkinCondense-ExtBdIta.woff') format('woff'), /* Modern Browsers */
         url('TomkinCondense-ExtBdIta.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TomkinCondense-ExtBdIta.svg#TomkinCondense-ExtBdIta') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

