<footer id="footer" class="py-5">
  <div class="container">
    <div class="row">
      {{- partial "func/hook.html" ( dict
        "hook" "footer-start"
        "context" .
      ) -}}
      <div class="col-12 text-center">
        {{- with site.Params.subscription -}}
          {{- partial "footer/newsletter.html" site.Params.subscription -}}
        {{- end -}}
        {{- with site.Menus.footer -}}
          {{- partial "footer/footer-menu.html" . -}}
        {{- end -}}
        {{- with site.Params.social -}}
          {{- partial "footer/social-media.html" . -}}
        {{- end -}}
        {{- partial "footer/copyright.html" . -}}
        {{- if site.IsServer -}}
          {{- partial "footer/debugging.html" . -}}
        {{- end -}}
      </div>
      {{- partial "func/hook.html" ( dict
        "hook" "footer-end"
        "context" .
      ) -}}
    </div>
  </div>
</footer>
