{{- partial "func/hook.html" ( dict "hook" "head-init" "context" . ) -}}
<meta charset="utf-8">
<title>{{- .Title -}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- partial "func/hook.html" ( dict "hook" "head-start" "context" . ) -}}
<meta name="author" content="{{ site.Params.author }}">
<meta name="description" content="{{- with .Params.description -}}
  {{- . -}}
{{- else -}}
  {{- with site.Params.description -}}
    {{- . -}}
  {{- end -}}
{{- end -}}">
<meta http-equiv="x-dns-prefetch-control" content="on">
{{- with site.Params.head.preconnect -}}
  {{- range . -}}
    <link rel="preconnect" href="{{- . -}}">
  {{- end -}}
{{- end -}}
{{- with site.Params.head.prefetch -}}
  {{- range . -}}
    <link rel="dns-prefetch" href="{{- . -}}">
  {{- end -}}
{{- end -}}
<link rel="icon" href="{{- site.Params.favicon | absURL -}}" type="image/x-icon">
{{- template "_internal/google_analytics.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-pre-css" "context" . ) -}}
{{- partialCached "head/style.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-css" "context" . ) -}}
{{- partial "func/hook.html" ( dict "hook" "head-end" "context" . ) -}}
