{{- /*

All you need to know about the <head> tag:
https://htmlhead.dev/

- TODO add documentation of settings under site.Params.dnb.head
- TODO add documentation of hooks
- TODO research license <link rel="license" href="copyright.html">
- TODO research links the archive (<link rel="archives" href="https://example.com/archives/">)
- TODO research links to top level resource in an hierarchical structure (<link rel="index" href="https://example.com/article/">)
- TODO research EditURI (<link rel="EditURI" href="https://example.com/xmlrpc.php?rsd" type="application/rsd+xml" title="RSD">)
- TODO research pingback (<link rel="pingback" href="https://example.com/xmlrpc.php">)
- TODO research webmention (<link rel="webmention" href="https://example.com/webmention">)
- TODO research micropub (<link rel="micropub" href="https://example.com/micropub">)

*/ -}}
{{- partial "func/hook.html" ( dict "hook" "head-init" "context" . ) -}}
<meta charset="{{- site.Params.dnb.head.charset | default "utf-8" -}}">
<meta name="viewport" content="{{- site.Params.dnb.head.viewport | default "width=device-width, initial-scale=1" -}}">
{{- partial "head/title.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-start" "context" . ) -}}
{{- partialCached "head/speed-optimisation.html" . -}}
<base href="{{- site.BaseURL -}}">
{{- partial "head/description.html" . -}}
{{- partial "head/author.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-pre-css" "context" . ) -}}
{{- partialCached "head/style.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-post-css" "context" . ) -}}
{{- with site.GoogleAnalytics -}}
  {{- template "_internal/google_analytics.html" . -}}
{{- end -}}
{{- partial "head/translations.html" . -}}
{{- partial "head/seo.html" . -}}
{{- partial "head/series.html" . -}}
{{- partial "head/social-graph.html" . -}}
{{- partialCached "head/opensearch.html" . -}}
{{- partialCached "head/pwa.html" . -}}
{{- partialCached "head/verification.html" . -}}
{{- partialCached "head/alternates.html" . -}}
{{- partial "head/others.html" . -}}
{{- partial "func/hook.html" ( dict "hook" "head-end" "context" . ) -}}
