{{ partialCached "content/topnavigation.html" . }}

{{if site.Params.search}}
<div class="search-block">
  <div data-toggle="search-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="text-primary" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
  </div>
  <form action="{{ `search`| relLangURL }}">
    <input id="search-query" name="s" type="search" placeholder="{{ i18n `search_placeholder`}}" class="text-center" aria-label="search-query">
  </form>
</div>
{{end}}
