{{- /*

@example

{{- partials.Include "icon.html" (dict "type" "bootstrap" "icon" "cash") -}}
{{< icon type="bootstrap" icon="cash" >}}

*/ -}}

{{- $iconname := "" -}}
{{- $width := 20 -}}
{{- $height := 20 -}}
{{- $class := "" -}}
{{- $type := "bootstrap" -}}

{{- if reflect.IsMap . -}}
  {{- $iconname = .icon -}}
  {{- with .width -}}
    {{- $width = . -}}
  {{- end -}}
  {{- with .height -}}
    {{- $height = . -}}
  {{- end -}}
  {{- with .class -}}
    {{- $class = . -}}
  {{- end -}}
  {{- with .type -}}
    {{- $type = . -}}
  {{- end -}}
{{- else -}}
  {{- $iconname = . -}}
{{- end -}}

{{- $options := dict "icon" $iconname "width" $width
                     "height" $height "class" $class
                     "type" $type -}}
<span class="icon--{{- $type }} icon--{{- $iconname -}}">
  {{- partials.Include "icons/use.html" $options -}}
</span>
