<table>
  <thead>
    <tr>
      <th scope="col">LastMod</th>
      <th scope="col">Title</th>
      <th scope="col">Path</th>
      <th scope="col">GitHub</th>
    </tr>
  </thead>
  <tbody>
    {{ range  . }}
    <tr>
      <td>{{ .Lastmod.Format "2006-01-02" }}</td>
      <td>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </td>
      <td>{{ .Permalink }}</td>
      <td>
        <a href="{{.Site.Params.ghrepo}}blob/master/content/{{.Lang }}/{{.Path}}">
          {{ with .GitInfo }}{{ .Subject }}{{ else }}Source{{ end }}
        </a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
