---
import { Icon } from 'astro-icon/components';
import { getVSCodeLink } from '@utils/getVSCodeLink';

const { post } = Astro.props;
const vscodelink = getVSCodeLink('/src/content/blog/' + post.id + '/index.md');
const isDev = import.meta.env.DEV;

---

<div class="flex flex-row items-center justify-start gap-2">
  <div class="w-6">
    <Icon name="bi:calendar3" />
  </div>
  <div class="">
    <span>Published: {post.data.date}</span>
    {post.lastUpdate && <span> (Last Modified: {post.data.lastUpdate})</span>}
  </div>
  {
    isDev && (
      <div>
        <a href={vscodelink}>
          <Icon name="bi:braces-asterisk" />
        </a>
      </div>
    )
  }
</div>
