---
import type { CollectionEntry } from 'astro:content';

import { Icon } from 'astro-icon/components';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post }: Props = Astro.props;
---

<div class="flex flex-row items-center justify-start gap-2">
  <div class="w-6 flex-none">
    <Icon name="share-fill" />
  </div>
  <div class="flex flex-row flex-wrap items-center justify-start gap-2">
    <span>Share:</span>

    <Icon name="linkedin" />
    <a
      href={`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(post.data.url)}`}
      target="_blank"
      rel="noopener"
      >LinkedIn</a
    >

    <Icon name="facebook" />
    <a
      href={`https://facebook.com/sharer/sharer.php?&u=${encodeURIComponent(post.data.url)}`}
      target="_blank"
      rel="noopener"
      >Facebook</a
    >

    <Icon name="reddit" />
    <a
      href={`https://www.reddit.com/submit?url=${encodeURIComponent(post.data.url)}&title=${encodeURIComponent(post.data.title)}`}
      target="_blank"
      rel="noopener"
      >Reddit</a
    >
  </div>
</div>
