////
/// @group mixins
/// @author Patrick Kollitsch
////

/// Creates scrollbar styles for Firefox, Chrome, Edge, and Safari.
///
/// @param {string} $outertag [*]
///   The tag to apply the scrollbar styles to.
/// @param {integer (px)} $width [8px]
///  The width of the scrollbar.
/// @param {integer (px)} $radius [$border-radius]
/// The radius of the scrollbar.
/// @param {color} $color [var(--bs-primary)]
/// The color of the scrollbar.
/// @param {color} $track [var(--bs-body-bg)]
/// The color of the scrollbar track.
@mixin dnb-scrollbars(
  $outertag: "*",
  $width: 8px,
  $radius: $border-radius,
  $color: var(--bs-primary),
  $track: var(--bs-body-bg)
) {
  #{$outertag} {
    // firefox/
    scrollbar-width: $width;
    scrollbar-color: $color $track;

    // chrome, edge, and safari/
    ::-webkit-scrollbar {
      width: $width;
      height: $width;
    }

    ::-webkit-scrollbar-track {
      background: $track;
    }

    ::-webkit-scrollbar-thumb {
      border: 0;
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
      border-radius: $radius;
      background-color: $color;
    }
  }
}

/// ::-webkit-scrollbar — the entire scrollbar.
/// ::-webkit-scrollbar-button — the buttons on the scrollbar (arrows pointing upwards and downwards that scroll one line at a time).
/// ::-webkit-scrollbar:horizontal{} — the horizontal scrollbar.
/// ::-webkit-scrollbar-thumb — the draggable scrolling handle.
/// ::-webkit-scrollbar-track — the track (progress bar) of the scrollbar, where there is a gray bar on top of a white bar.
/// ::-webkit-scrollbar-track-piece — the part of the track (progress bar) not covered by the handle.
/// ::-webkit-scrollbar:vertical{} — the vertical scrollbar.
/// ::-webkit-scrollbar-corner — the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet. This is often the bottom-right corner of the browser window.
/// ::-webkit-resizer — the draggable resizing handle that appears at the bottom corner of some elements.

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
