[id^='fnref'] {
  color: var(--primary);
}

.footnotes {
  font-size: 0.8rem;

  hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--sol-base0);
  }

  p {
    font-weight: 300;
  }

  .footnote-backref {
    font-weight: 300;
  }
}
