a {
  box-decoration-break: clone;

  @extend .text-gradient-primary;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
    @extend .text-gradient-primary;
  }
  @extend .text-gradient-primary;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  word-wrap: break-word;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  overflow-wrap: break-word;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  hyphens: auto;
}

blockquote {
  padding-left: 0.95rem;
  border-left: var(--primary) 5px solid;

  background-color: rgba($primary, 0.1);

  cite {
    font-style: italic;
  }
}

.border-primary {
  border-color: var(--primary) !important;
}

table {
  .dark & {
    @extend .table-dark;
  }

  .light & {
    @extend .table-light;
  }
  // .highlight & {
  //   @extend .table-borderless;
  // }
  @extend .table;
  // @extend .table-bordered;
  // @extend .table-hover;
  @extend .table-sm;
}

.highlight {
  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}
