{{- define "main" -}}

  {{- if compare.Lt (.Scratch.Get "paginator").PageNumber 2 -}}
    <section class="section--sitetitle">
      <div class="container">
        <div class="site-title ff-headline">
          <a href="{{- site.BaseURL -}}">{{- site.Title -}}</a>
        </div>
        {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "post-sitetitle" "context" . ) -}}
        <div class="rainbow-box"></div>
			</div>
    </section>
  {{- end -}}

  {{- $mainsectionlink := fmt.Printf "%s%s/" "/" site.Params.mainSection -}}
  <section class="section--content">
    <div class="container-fluid">

      {{- $paginator := .Scratch.Get "paginator" -}}
      {{- $counter := 0 -}}
      {{- $home := collections.First 1 $paginator.Pages -}}
      {{- $first := collections.Complement $home (collections.First 2 $paginator.Pages) -}}
      {{- $homePosts := collections.Complement $home $first (collections.First 8 $paginator.Pages) -}}

      <div class="row">
        <div class="col-12 snap-align-start snap-y mb-5">
          {{- with (collections.Index $first 0) -}}
            {{- partials.Include "content/post.html" . -}}
          {{- end -}}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="text-primary m-5 text-center">
            <a href="{{- $mainsectionlink -}}">
              {{- lang.Translate "theme.recentposts" -}}
            </a>
          </h2>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-lg-3">
        {{- range $index, $item := $homePosts -}}
          <div class="col mb-5">
            {{- $post := collections.Dictionary "context" $item "level" "3" "index" $counter -}}
            {{- partials.Include "content/post-preview.html" $post -}}
          </div>
          {{- $counter = math.Add $counter 1 -}}
        {{- end -}}
      </div>

      <div class="row">
        <div class="col text-center">
          <a href="{{- $mainsectionlink -}}" class="btn btn-outline-primary btn-lg">
            {{- lang.Translate "theme.readall" -}}
          </a>
        </div>
      </div>

    </div>
  </section>
{{- end -}}
