{{- define "main" -}}
  {{- if compare.Lt (.Scratch.Get "paginator").PageNumber 2 -}}
    <section class="section--sitetitle">
      <div class="container">
        <div class="site-title ff-headline">
          <a href="{{- site.BaseURL -}}">{{- site.Title -}}</a>
        </div>
        {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "post-sitetitle" "context" . ) -}}
			</div>
    </section>
  {{- end -}}
  <section class="section--content">
    <div class="container">
      {{- $paginator := .Scratch.Get "paginator" -}}
      {{- $counter := 0 -}}
      {{- $homePosts := first 8 $paginator.Pages -}}
      <div class="row">
        {{- range $index, $item := $homePosts -}}
          {{ if not .IsHome }}{{/* a quick hack to leave the home page itself out of the loop */}}
            {{ $class := "col-md-6" }}
            {{ if eq $counter 0 }}
              <div class="col-12 snap-align-start mb-5 snap-y is--hotkey-post" data-hotkey="k+{{- $index -}}">
                {{- partials.Include "content/post.html" $item -}}
              </div>
            {{ else }}
              {{ if eq $counter 1 }}
                <h2 class="text-center text-primary m-5"><a href="{{- site.BaseURL -}}/blog">Recent Posts</a></h2>
              {{ end }}
              <div class="col-12 col-md-4 snap-align-start mb-5 snap-y is--hotkey-post"
                  data-hotkey="k+{{- $index -}}">
                {{- $post := collections.Dictionary "context" $item "level" "3" -}}
                {{- partials.Include "content/post-preview.html" $item $item -}}
              </div>
            {{ end }}
            {{- $counter = add $counter 1 -}}
          {{ end }}
        {{- end -}}
      </div>
      <div class="row">
        <div class="col text-center">
          {{- /* @todo put link into configuration */ -}}
          <h3><a href="{{- site.BaseURL -}}/blog" class="btn btn-outline-primary btn-lg">Read All Posts</a></h3>
        </div>
      </div>
    </div>
  </section>
{{- end -}}
