{{/* ©️ 2025 dnb - kollitsch.dev - theme */}}
{{- /* @todo refactor */ -}}
{{- $emojis := dict
  "caution" ":exclamation:"
  "important" ":information_source:"
  "note" ":information_source:"
  "tip" ":bulb:"
  "warning" ":information_source:"
-}}

{{- if compare.Eq .Type "alert" -}}
  <blockquote class="alert alert-{{ .AlertType }}">
    <p class="alert-heading">
      {{ transform.Emojify (collections.Index $emojis .AlertType) }}
      {{ or (lang.Translate (fmt.Printf "dnb.renderhooks.%s" .AlertType)) (strings.Title .AlertType) }}
    </p>
    {{ .Text | safe.HTML }}
  </blockquote>
{{- else -}}
  <figure>
    <blockquote {{ with .Attributes.cite -}}cite="{{- . -}}"{{- end -}}>
      {{ .Text | safe.HTML }}
    </blockquote>
    {{- with .Attributes.caption -}}
      <figcaption class="blockquote-caption">
        {{ . | safe.HTML }}
      </figcaption>
    {{- end -}}
  </figure>
{{- end -}}
