{{- /* create collection */ -}}
{{- $collection := slice -}}
        {{ warnf "%v" $collection }}

{{- /* load plugged in templated scripts from modules */ -}}
{{/* {{ range $key, $value := $.Site.Data.dnb }}
  {{- partial "debug.html" (dict "message" (printf "Checking SCSSTemplate configuration %s" $key) "severity" "debug") -}}
  {{ if isset $value "config" }}
    {{ if isset $value.config "plugins" }}
      {{ if isset $value.config.plugins "scssTemplates" }}
        {{ warnf "%v" $value.config.plugins.scssTemplates }}
        {{ range $value.config.plugins.scssTemplates }}
          {{- partial "debug.html" (dict "message" (printf "Loading SCSSTemplate %s" .) "severity" "debug") -}}
          {{ $template := . }}
          {{ $scss := resources.Get $template | resources.ExecuteAsTemplate (print now.Unix $template) . }}
          {{ $collection = $collection | append ($scss) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }} */}}

{{/* load plugged in scripts from modules */}}
{{/* {{ range $key, $value := $.Site.Data.dnb }}
  {{- partial "debug.html" (dict "message" (printf "Checking SCSS configuration %s" $key) "severity" "debug") -}}
  {{ if isset $value "config" }}
    {{ if isset $value.config "plugins" }}
      {{ if isset $value.config.plugins "scss" }}
        {{ warnf "%v" $value.config.plugins.scss }}
        {{ range $value.config.plugins.scss }}
          {{- partial "debug.html" (dict "message" (printf "Loading SCSSFile %s" .) "severity" "debug") -}}
          {{ $collection = $collection | append (resources.Get .) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }} */}}

{{ $collection = $collection | append (resources.Get "scss/theme.scss") }}
{{ warnf "%v" $collection }}
{{ $collection = $collection | resources.Concat "stylesheet.scss" }}

{{ $config := site.Data.dnb.functions.system.config }}

{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "precision" 6 "includePaths" (slice "node_modules")) }}
{{ $style := $collection | resources.ToCSS $options | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify |  resources.Fingerprint "sha512" }}
{{ with $config.postprocess }}
  {{- partial "debug.html" (dict "message" "going into PostProcessing" "context" . "severity" "debug") -}}
  {{ $style = $style | resources.PostProcess }}
{{ end }}
{{ return $style }}
