{{- /*

@since 1.0.1

{{ $isCJK := partialCached "func/isCJK.html" (dict "content" "丹为" "against" "cjk") "丹为" }}
{{ $isCJK }} <-- true
{{ $isCJK := partialCached "func/isCJK.html" "blafasel" "blafasel" }}
{{ $isCJK }} <-- false

*/ -}}
{{- $isCJK := false -}}
{{- $matchPhrases := dict
      "cjk" "[\u4E00-\u9FFF]"
      "th" "[\u0E00-\u0E7F]"
      "mm" "([\u1000-\u109F]|[\uAA60-\uAA7F]|[\uA9E0-\uA9FF])"
      "mn" "[\u1800-\u18AF]"
-}}
{{- $against := index $matchPhrases "cjk" -}}
{{- $content := string "" -}}
{{- if reflect.IsMap . -}}
  {{- with .against -}}
    {{- $against = index $matchPhrases . -}}
  {{- end -}}
  {{- $content = .content -}}
{{- else -}}
  {{- $content = . -}}
{{- end -}}
{{- $matches := findRE $against $content -}}
{{- if gt (len $matches) 0 -}}
  {{- $isCJK = true -}}
{{- end -}}
{{- return $isCJK -}}
