{{/* ©️ 2025 dnb - kollitsch.dev - theme */}}
{{- /* @todo refactor */ -}}
{{- /* create context from extended or simple hook */ -}}
{{- $context := collections.Dictionary -}}
{{- if reflect.IsMap . -}}
  {{- /* extended use case */ -}}
  {{- $context = collections.Merge $context . }}
{{- else -}}
  {{- /* simple use case */ -}}
  {{- $context = collections.Merge
                  $context
                  (collections.Dictionary "hook" . "context" collections.Dictionary) -}}
{{- end -}}

{{- /* add hook to collector */ -}}
{{- partials.Include "func/hooks/collector.html" (collections.Dictionary
    "hook" $context.hook
    "context" $context
) -}}

{{- /* a quick note */ -}}
{{- partials.Include "debug/cli.html" (collections.Dictionary
    "message" (fmt.Printf "dnb-hooks - see %s for details" site.Params.dnb.hooks.hooklink)
    "context" .
    "severity" "info"
    "level" 9
) -}}

{{- $config := site.Params.dnb.hooks -}}
{{- $loaded := false -}}
{{- $output := $context.context -}}

{{- with $config.filters -}}
  {{/* @todo fix weighting of hooks */}}
  {{/* @todo fix logging output */}}
  {{/* @todo document this mess */}}
  {{ range $key, $hooks := . -}}
    {{- with (collections.Index $hooks $context.filter) -}}
      {{- range . -}}
        {{- $partialName := fmt.Printf "hooks/%s.html" .file -}}
        {{- $partialHook := fmt.Printf "partials/%s" $partialName -}}
        {{- if templates.Exists $partialHook -}}
          {{- if compare.Eq true (.cached | compare.Default false) -}}
            {{- $output = partials.IncludeCached $partialName $output -}}
            {{- $loaded = true -}}
          {{- else -}}
            {{- $output = partials.Include $partialName $output -}}
            {{- $loaded = true -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return $output -}}
