---
import TagTest from "@components/content/taxonomy/Tag.astro";
---

<main>
  <h1>Tag component test</h1>

  <!-- Basic examples for Playwright visual/interaction tests -->
  <TagTest href="/tags/test/" label="Test Tag" dataLabel="test" />
  <TagTest href="/tags/another/" label="Another Tag" dataLabel="another" />
</main>
