{{- define "main" -}}
  <section class="section--content">
    <div class="container-fluid">
      <div class="row">
        <h1 class="h2 post-title"><a href="{{ .Permalink }}">Archive</a></h1>
          {{- $paginator := .Scratch.Get "paginator" -}}
          {{- range $index, $item := $paginator.Pages -}}
            {{- $options := dict "context" $item "lines" 5 -}}
            {{- partials.Include "content/post-preview-flat.html" $options -}}
          {{- end -}}
      </div>
      {{ partials.Include "content/components/pagination/pagination-simple.html" . }}
    </div>
  </section>
{{- end -}}
