{{- define "main" -}}
  <section class="section--content">
    <div class="container">
      <div class="row">
        <h1 class="h2 post-title"><a href="{{ .Permalink }}">Archive</a></h1>
          {{- $paginator := .Scratch.Get "paginator" -}}
          {{- range $index, $item := $paginator.Pages -}}
            {{- $postClasses := partials.IncludeCached "func/getArticleClasses.html" $item $item -}}
            <article class="{{- $postClasses }} mb-3 prose component--archive-card">
              <div class="is--item">
                <div class="is--date">
                  <span>{{- $item.Date.Format "Jan" -}}</span>
                  <span>{{- $item.Date.Format "2" -}}</span>
                  <span>{{- $item.Date.Format "2006" -}}</span>
                </div>
                <div class="is--content">
                  <h2 class="post-title h3">
                    <a href="{{ $item.Permalink }}">
                      {{- $item.Title -}}
                    </a>
                  </h2>
                  <p class="text-truncate text-truncate-5 mb-0">
                    {{- partialCached "func/getSummary.html" $item $item -}}
                  </p>
                  {{- partials.IncludeCached "content/components/tags/tags.html" $item $item -}}
                </div>
              </div>
            </article>
          {{- end -}}
      </div>
      {{ partials.Include "content/components/pagination/pagination-simple.html" . }}
    </div>
  </section>
{{- end -}}
