{{- define "main" -}}
<section class="section--content">
  <div class="container">
    <div class="row">
      <article class="shadow-sm card">
        <div class="card-header">
          <h1><a href="{{ .Permalink }}">Archive</a></h1>
        </div>
        <div class="prose card-body">
          {{ $archive := where $.Site.RegularPages "Section" "blog" }}
          {{ range $index, $item := sort $archive "Date" "desc" }}
            <div class="d-flex flex-row">
                <div style="min-width:175px;" class="me-3 text-end">
                  {{- $item.PublishDate.Format "January 2, 2006" -}}
                </div>
                <div>
                  <a href="{{ $item.Permalink }}">
                    {{- $item.Title -}}
                  </a>
                  <p>{{- $item.Summary -}}</p>
                </div>
            </div>
          {{- end -}}
        </div>
      </article>
    </div>
  </div>
</section>
{{- end -}}
