<div class="mb-3">
<h3>{{ i18n "share_title" }}</h3>
<div class="row social-media-buttons mb-3">
  <div class="col d-grid">
    <a class="btn btn-facebook"
       href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}&title={{ .Title }}"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=800');return false;"
       target="_blank"><span class="icon larger light" aria-hidden="true">
          {{ partialCached "icons/facebook-f.svg" . $.Lang }}
        </span>
      <span class="sr-only sr-only-focusable">&nbsp;{{ i18n "share_facebook" }}</span>
    </a>
  </div>
  <div class="col d-grid">
    <a class="btn btn-linkedin"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=800');return false;"
       target="_blank"><span class="icon larger light" aria-hidden="true">
          {{ partialCached "icons/linkedin-in.svg" . $.Lang }}
        </span>
      <span class="sr-only sr-only-focusable">&nbsp;{{ i18n "share_linkedin" }}</span>
    </a>
  </div>
  <div class="col d-grid">
    <a class="btn btn-twitter"
       href="https://twitter.com/intent/tweet?url={{.Permalink}}&via=samui2&hashtags=samui,thailand"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=800');return false;"
       target="_blank"><span class="icon larger light" aria-hidden="true">
          {{ partialCached "icons/twitter.svg" . $.Lang }}
        </span>
      <span class="sr-only sr-only-focusable">&nbsp;{{ i18n "share_twitter" }}</span>
    </a>{{/* text is also a parameter */}}
  </div>
</div>
</div>
