{{- $type := "list" -}}
{{- with .type -}}
  {{- $type = . -}}
{{- end -}}

{{- $icon := "tag-fill" -}}
{{- with .icon -}}
  {{- $icon = . -}}
{{- end -}}

{{- $page := .context -}}

{{- if eq (.type | default "page") "page" -}}
  {{- range .tags -}}
    {{- partialCached "tags/single-tag.html" . . -}}
  {{- end -}}
{{- else -}}
  {{- partial "tags/taglist.html" (dict "context" $page) -}}
{{- end -}}

{{- define "partials/tags/taglist.html" -}}

  {{- $page := .context -}}
  {{- $current := dict -}}
  {{ with $page.Name }}
    {{- $current = . -}}
  {{ end }}

  <div class="container">
    <div class="row py-6">
      <div class="col text-center">
        <ul class="list-inline">
          {{- range (collections.Index site.Taxonomies $page.Type) -}}
            {{- if compare.Gt .Count 1 -}}
              <li class="list-inline-item mx-2">
                <a href="{{- .Page.RelPermalink -}}" class="text-decoration-none">
                  {{- if compare.Eq $current .Page.Name -}}<strong>{{- end -}}
                  {{- partials.Include "icon.html" "tag-fill" -}}
                  {{- .Page.Name }} ({{ .Count -}})
                  {{- if compare.Eq $current .Page.Name -}}</strong>{{- end -}}
                </a>
              </li>
            {{- end -}}
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
  {{- end -}}

{{- define "partials/tags/single-tag.html" -}}
      <span
        class="badge {{ with .Params.class -}}
          text-bg-{{ . }}
        {{ else }}
          text-bg-light
        {{ end }} ms-2"
      >
        {{ with .Params.icon -}}
          {{ partials.Include "icon.html" . }}
        {{ end }}
        <a rel="tag" href="{{- .Permalink -}}">#{{- .Title | strings.ToLower -}}</a>
      </span>

{{- end -}}
