{{ if collections.In .context.Params.tags "100DaysToOffload" }}
  {{- $year := math.Sub now.Year 1 }}
  {{- $month := now.Month -}}
  {{- $day := now.Day -}}
  {{- $startOfYear := time.AsTime (fmt.Printf "%04d-%02d-%02dT00:00:00" $year $month $day) -}}
  {{- $tag100 := (collections.Index site.Taxonomies.tags "100daystooffload") -}}
  {{- $allPosts := $tag100.Pages -}}
  {{- $pages := collections.Where $allPosts "Date" "gt" $startOfYear -}}
  {{- $amount := $pages | len -}}
  {{- $rest := math.Sub 100 $amount -}}
  <div data-nosnippet class="alert alert-dark mb-3" role="alert">
    <p class="alert-heading d-flex flex-column flex-md-row
                justify-content-center justify-content-md-between text-center">
      <small>
        {{- lang.Translate "100daystooffload.note" | transform.Markdownify -}}
      </small>
      <small>
        {{- $options := dict "numsince" $amount
                             "datesince" ($startOfYear.Format "Jan 02, 2006")
                             "numtotal" (len $allPosts) -}}
        {{- lang.Translate "100daystooffload.counter" $options | transform.Markdownify -}}
      </small>
    </p>
    <div class="progress-stacked" x-data="{ amount: '{{- $amount -}}' }">
      <div
        class="progress"
        role="progressbar"
        aria-label="Posts done"
        aria-valuenow="{{- $amount -}}"
        aria-valuemin="0"
        aria-valuemax="100"
        :style="{ width: amount + '%' }">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary text-dark">
          {{- $amount -}}
        </div>
      </div>
      <div
        class="progress"
        role="progressbar"
        aria-label="Posts to fulfill pledge"
        aria-valuenow="{{- $rest -}}"
        aria-valuemin="0"
        aria-valuemax="100"
        :style="{ width: (100-amount) + '%' }">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark">
          {{- $rest -}}
        </div>
      </div>
    </div>
  </div>
{{ end }}
