////
/// @group settings
/// @author Patrick Kollitsch
////

/// layout setup
/// @link https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

/// adding some more negative and positive levels to z-index
/// @link https://getbootstrap.com/docs/5.3/utilities/z-index/
$zindex-levels: (
  n3: -3,
  n2: -2,
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  10: 10,
  20: 20,
  30: 30,
  40: 40,
  50: 50,
  60: 60,
  70: 70,
  80: 80,
  90: 90,
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
  top: 9999,
);

/// @link https://getbootstrap.com/docs/5.3/utilities/spacing/#sass-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  // starting here it's double the previous one
  6: $spacer * 6,
  7: $spacer * 12,
  8: $spacer * 24,
  9: $spacer * 48,
  10: $spacer * 96,
);

/// @link https://getbootstrap.com/docs/5.3/utilities/text/#sass-maps
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base * 0.85,
  8: $font-size-base * 0.75,
  9: $font-size-base * 0.6,
  10: $font-size-base * 0.5,
);

/// @link https://getbootstrap.com/docs/5.3/helpers/ratio/#sass-maps
$aspect-ratios: (
  "1x1": 100%,
  "2x1": 50%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
);

///
$theme-colors-text: (
  "primary": $primary-text-emphasis,
  "secondary": $secondary-text-emphasis,
  "success": $success-text-emphasis,
  "info": $info-text-emphasis,
  "warning": $warning-text-emphasis,
  "danger": $danger-text-emphasis,
  "light": $light-text-emphasis,
  "dark": $dark-text-emphasis,
);
