{{- define "main" -}}
  {{- $package := partials.IncludeCached "func/getPackageFile.html" page page -}}
  <section class="section--content">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          {{- partials.IncludeCached "components/breadcrumbs.html" . . -}}
          {{- if or .IsPage .IsNode -}}
            <div class="post-slider">
              <figure>
                <picture>
                  {{- $options := dict -}}
                  {{- if collections.IsSet $package "version" }}
                    {{- $options = dict
                          "tagline" page.Params.sectiontitle
                          "title" (.Title | strings.ToUpper)
                          "subtitle" (fmt.Printf "v%s" $package.version) -}}
                  {{- else -}}
                    {{- $options = dict
                          "tagline" page.Params.sectiontitle
                          "title" (.Title | strings.ToUpper) -}}
                  {{- end -}}
                  {{- partials.Include "documentation/headerimage.html" $options $options -}}
                </picture>
              </figure>
            </div>
          {{- else -}}
            <h1>
              <a href="{{- .Permalink -}}">
                {{- .Title -}}
              </a>
            </h1>
            <hr/>
          {{- end -}}
          <div class="prose">
            {{- .Content -}}
          </div>
          <hr/>
          <h2>
            {{- if .IsNode -}}
              More Information
            {{- else -}}
              More Modules
            {{- end -}}
          </h2>
          <div class="row">
          {{- range $index, $item := collections.Sort page.Pages "Title" "asc" -}}
            {{- $post := collections.Dictionary "context" $item "fullcontent" false "responsive" "halfwidth" -}}
            <div class="col-12 col-md-6 mb-5">
              {{- partials.Include "content/post-preview.html" $post $post -}}
            </div>
          {{- end -}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{- end -}}
