/* stylelint-disable selector-max-compound-selectors --- sometimes it's required */
.component--archive-card {
  .is--tags {
    @extend .text-end;

    .badge {
      @extend .ms-3;
    }

    a {
      @extend .text-dark;
    }
  }

  .is--item {
    @extend .d-flex;
    @extend .align-items-start;
    @extend .flex-column;
    @extend .flex-sm-row;
    @extend .mb-5;

    .is--date {
      line-height: 0.85;

      @extend .me-3;
      @extend .mb-3;
      @extend .mt-2;
      @extend .px-3;
      @extend .py-2;
      @extend .border;
      @extend .border-primary-subtle;
      @extend .border-3;
      @extend .rounded-4;

      &:hover {
        background-color: $primary;
        color: $dark;
      }

      span {
        width: 75px;

        @extend .text-center;

        display: inline-block;

        @include media-breakpoint-up(sm) {
          display: block;

          &:nth-child(1) {
            font-size: 25px;
            text-transform: uppercase;
          }

          &:nth-child(2) {
            font-size: 50px;
            margin-bottom: 0.3rem;
          }

          &:nth-child(3) {
            font-size: 22px;
          }
        }
      }
    }

    .is--content {
      @extend .flex-grow-1;
    }
  }
}
