/// @todo move this into prose
article {
  // .post-title {
  //   .col-md-12 & {
  //     font-size: 1.25rem;
  //   }

  //   .col-md-6 & {
  //     font-size: 1.05rem;
  //   }
  // }

  h1.post-title,
  h2.post-title {
    // font-size: css-max(#{30px}, #{3.5vw});

    // a {
    //   @extend .text-decoration-none;
    // }

    border-bottom: $border-width solid $primary;

    // @extend .mb-3;
  }

  .ribbon {
    @extend .z-3;

    &.status--draft {
      color: $nocturnal-expedition;
      background-color: $deep-saffron;
    }

    &.status--gohugo {
      color: $organic-noir;
      background-color: $deep-saffron;
    }

    @extend .text-center;
    @extend .position-absolute;
    @extend .top-0;
    @extend .start-0;
    @extend .py-1;
    @extend .px-2;
  }

  @extend .position-relative;
}
