.component--highlight {
  position: relative;

  .ln {
    padding: 0 0.25rem;

    a {
      font-size: 0.7rem;
    }
  }

  .tab-content {
    border-left: 1px solid var(--bs-border-color);
  }

  .highlight {
    border-right: 1px solid var(--bs-border-color);
    border-bottom: 1px solid var(--bs-border-color);
  }

  .nav.nav-tabs {
    border-bottom: 1px solid #444444;
  }

  .nav-item {
    @extend .me-1;

    .active {
      body.light & {
        background-color: #fafafa;
      }

      body.dark & {
        background-color: #272822;
      }
    }

    button,
    a {
      @extend .text-uppercase;

      font-size: 0.75rem;
      padding: .25rem .5rem .15rem;
      border-bottom: 0;
    }

    a {
      font-size: 0.6rem;
    }

    .btn-clipboard {
      padding-bottom: 0.3rem;

      /* @TODO make this working */
      transition: visibility 1s, opacity 1s;
    }
  }
}
