/*******************************************************************************
 * navbar setup
 *
 * see
 * - https://getbootstrap.com/docs/5.2/components/navbar/
 * - https://getbootstrap.com/docs/5.2/components/navs-tabs/
 ******************************************************************************/
.navbar {
  transition: background-color 2s;

  body.dark & {
    background-color: rgba(0, 0, 0, 0.2);
  }

  body.light & {
    background-color: rgba(255, 255, 255, 0.2);
  }

  body.dark.nav-state2 & {
    background-color: rgba(0, 0, 0, 0.8);
  }

  body.light.nav-state2 & {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
