/*******************************************************************************
 * navbar setup
 *
 * see
 * - https://getbootstrap.com/docs/5.2/components/navbar/
 * - https://getbootstrap.com/docs/5.2/components/navs-tabs/
 ******************************************************************************/
.navbar {
	.dark & {
		@extend .navbar-dark;
	}

	.navbar-nav {
		margin-top: 0;
	}

	.nav-link {
		.icon--bs {
			display: inline-block;
			margin-right: 0.4rem;
			margin-bottom: 0.1rem;
			vertical-align: bottom;
		}
	}

	.navbar-brand {
		svg {
			width: auto;
			height: 28px;
			padding-bottom: 5px;
		}
	}
}
