////
/// @group display
/// @author Patrick Kollitsch
////

/// truncate text with an ellipsis after x lines. extend .text-truncate with
/// .text-truncate-1, .text-truncate-2, etc.
@for $i from 1 through 10 {
  .text-truncate-#{$i} {
    display: -webkit-box !important;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
