#themeswitcher {
  // giving it a max width so no jumping around in the navigation
  max-width: 59.31px;
  max-height: 52px;
  overflow: hidden;
  border-left: 1px solid var(--bs-gray-700);
  padding-left: $spacer * .75;
  margin-left: $spacer;

  >div {
    @extend .btn;
    @extend .btn-link;
    @extend .rounded;

    [data-bs-theme="light"] & .icon--bs {
      @extend .text-dark;

    }

    [data-bs-theme="dark"] & .icon--bs {
      @extend .text-light;

    }
  }

  @include media-breakpoint-down(sm) {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 5rem;
  }

}
