{{- /* @todo refactor */ -}}
{{- $url := "https://raw.githubusercontent.com/ai-robots-txt/ai.robots.txt/refs/heads/main/robots.json" -}}
{{- $data := dict -}}
{{/* https://blog.cloudflare.com/declaring-your-aindependence-block-ai-bots-scrapers-and-crawlers-with-a-single-click/ */}}

{{ with try (resources.GetRemote $url) }}
  {{ with .Err }}
    {{ fmt.Warnf "%s" . }}
  {{ else with .Value }}
    {{- $data = . | transform.Unmarshal -}}
  {{ else }}
    {{ fmt.Warnf "Unable to get remote resource %q" $url }}
  {{ end }}
{{ end }}

{{- return $data}}
