{{/* create collection */}}
{{ $collection := collections.Slice }}

{{/* load plugged collections.In templated scripts from modules */}}
{{ range $key, $value := $.Site.Data.dnb }}
  {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading data configuration %s" $key) "severity" "debug") -}}
  {{ if collections.IsSet $value "config" }}
    {{ if collections.IsSet $value.config "plugins" }}
      {{ if collections.IsSet $value.config.plugins "jsTemplates" }}
        {{ range $value.config.plugins.jsTemplates }}
          {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading JSTemplate %s" .) "severity" "debug") -}}
          {{ $template := . }}
          {{ $js := resources.Get $template | resources.ExecuteAsTemplate (fmt.Print now.Unix $template) . }}
          {{ $collection = $collection | collections.Append ($js) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* load plugged collections.In scripts from modules */}}
{{ range $key, $value := $.Site.Data.dnb }}
  {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading data configuration %s" $key) "severity" "debug") -}}
  {{ if collections.IsSet $value "config" }}
    {{ if collections.IsSet $value.config "plugins" }}
      {{ if collections.IsSet $value.config.plugins "js" }}
        {{ range $value.config.plugins.js }}
          {{/*      {{ if os.FileExists (fmt.Printf "assets/%s" .) }}*/}}
          {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading JSFile %s" .) "severity" "debug") -}}
          {{ $file := resources.Get . }}
          {{ with $file }}
            {{ $collection = $collection | collections.Append $file }}
            {{/*      {{ else }}*/}}
            {{/*        {{ fmt.Errorf (fmt.Printf "File %s can't be found" .) }}*/}}
            {{/*      {{ end }}*/}}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* add webpack script */}}
{{/*{{ $collection = $collection | collections.Append (resources.Get "main.js") }}*/}}
{{/*{{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading %s" "main.js") "severity" "debug") -}}*/}}
{{/*{{ fmt.Warnf "Loading %s" "main.js" }}*/}}

{{/* add global script */}}
{{ $collection = $collection | collections.Append (resources.Get "js/script.js") }}
{{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading %s" "js/script.js") "severity" "debug") -}}

{{/* add local script */}}
{{- if (collections.IsSet site.Params "dnb") -}}
  {{- with (collections.Index site.Params.dnb "javascript") -}}
    {{- $jsLocal := resources.Get (fmt.Printf "%s/%s" "js" .) -}}
    {{- with $jsLocal -}}
      {{- $collection = $collection | collections.Append $jsLocal -}}
    {{- end -}}
    {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading %s" $jsLocal) "severity" "debug") -}}
  {{- end -}}
{{- end -}}

{{/* create and return javascript */}}
{{ $js := $collection | resources.Concat "script.js" | resources.Minify | resources.Fingerprint "sha384" }}
{{ return $js }}


