{{- /* create collection */ -}}
{{- $collection := collections.Slice -}}
        {{ fmt.Warnf "%v" $collection }}

{{- /* load plugged collections.In templated scripts from modules */ -}}
{{/* {{ range $key, $value := $.Site.Data.dnb }}
  {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Checking SCSSTemplate configuration %s" $key) "severity" "debug") -}}
  {{ if collections.IsSet $value "config" }}
    {{ if collections.IsSet $value.config "plugins" }}
      {{ if collections.IsSet $value.config.plugins "scssTemplates" }}
        {{ fmt.Warnf "%v" $value.config.plugins.scssTemplates }}
        {{ range $value.config.plugins.scssTemplates }}
          {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading SCSSTemplate %s" .) "severity" "debug") -}}
          {{ $template := . }}
          {{ $scss := resources.Get $template | resources.ExecuteAsTemplate (fmt.Print now.Unix $template) . }}
          {{ $collection = $collection | collections.Append ($scss) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }} */}}

{{/* load plugged collections.In scripts from modules */}}
{{/* {{ range $key, $value := $.Site.Data.dnb }}
  {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Checking SCSS configuration %s" $key) "severity" "debug") -}}
  {{ if collections.IsSet $value "config" }}
    {{ if collections.IsSet $value.config "plugins" }}
      {{ if collections.IsSet $value.config.plugins "scss" }}
        {{ fmt.Warnf "%v" $value.config.plugins.scss }}
        {{ range $value.config.plugins.scss }}
          {{- partials.Include "debug-cli.html" (dict "message" (fmt.Printf "Loading SCSSFile %s" .) "severity" "debug") -}}
          {{ $collection = $collection | collections.Append (resources.Get .) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }} */}}

{{ $collection = $collection | collections.Append (resources.Get "scss/theme.scss") }}
{{ fmt.Warnf "%v" $collection }}
{{ $collection = $collection | resources.Concat "stylesheet.scss" }}

{{ $config := site.Params.dnb.functions.system.config }}

{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "precision" 6 "includePaths" (collections.Slice "node_modules")) }}
{{ $style := $collection | css.Sass $options | css.PostCSS (dict "config" "postcss.config.js") | resources.Minify |  resources.Fingerprint "sha512" }}
{{ with $config.postprocess }}
  {{- partials.Include "debug-cli.html" (dict "message" "going into PostProcessing" "context" . "severity" "debug") -}}
  {{ $style = $style | resources.PostProcess }}
{{ end }}
{{ return $style }}
