{{- $withSummary := false -}}
{{- $section := "" -}}

{{- if reflect.IsMap . -}}
  {{- $section = .section -}}
  {{- $withSummary = .summary | compare.Default false -}}
{{- else -}}
  {{- $section = . -}}
{{- end -}}

<ul>
  {{- range $index, $item := (site.GetPage $section).Pages.ByWeight -}}
    {{ if compare.Eq 0 $index}}
      {{ $sectionHref := (site.GetPage $section).Permalink -}}
      <li><a href="{{- $sectionHref -}}">Overview</a></li>
    {{- end -}}
    <li>
      <a href="{{- $item.Permalink -}}">{{- $item.Title }}</a>
      {{- if compare.Eq true $withSummary -}}
        {{- with $item.Summary }}
          &mdash;
          {{ . | transform.Markdownify -}}
        {{- end -}}
      {{- end -}}
    </li>
  {{- end -}}
</ul>
