{{/* ©️ 2025 dnb - kollitsch.dev - theme */}}
<div class="container"><div class="row"><div class="col">
{{ with templates.Current }}
  <table class="debugprint">
  	<tr>
		<th>Call Stack for {{ templates.Current.Filename }}</th>
	</tr>
	{{ range .Ancestors.Reverse }}
	<tr><td>
		<table class="debugprint">
			<tr><td>Base</td><td>{{- .Base }}</td></tr>
			<tr><td>Filename</td><td>{{- .Filename }}</td></tr>
			<tr><td>Name</td><td>{{- .Name }}</td></tr>
			<tr><td>Parent</td><td>{{- .Parent }}</td></tr>
		</table>
	</td></tr>
	{{ end }}
  </table>
{{ end }}
</div></div></div>
