article {
  code {
    &::before,
    &::after {
      content: "`";
    }

    [data-bs-theme="light"] & {
      background-color: rgba($primary, 0.1);
    }

    background-color: rgba($primary, 0.1);
  }

  pre code {
    &::before,
    &::after {
      content: "";
    }
  }

  h1.post-title,
  h2.post-title {
    border-bottom: $border-width solid $primary;
  }

  .section--content & {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    transition: background 2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    @extend .rounded;

    .article-content {
      padding: 1.2rem;
    }
  }
}

figure {
  @extend .mx-auto;

  .inline-icons {
    div {
      @extend .p-2;
    }

    @extend .text-primary;
    @extend .top-0;
    @extend .end-0;
    @extend .m-3;
    @extend .position-absolute;
    @extend .lh-1;
  }

  picture,
  img,
  .iframe-border,
  video {
    object-fit: cover;
    overflow: hidden;

    @extend .rounded;
    @extend .w-100;
  }

  .post-slider & {
    picture,
    img,
    .iframe-border,
    video {
      aspect-ratio: 2/1;
    }
  }

  &:hover {
    @extend .border-secondary;
  }

  @extend .rounded;
  @extend .position-relative;
}
