.widget.social-media {
  a:link,
  a:hover {
    svg {
      @extend .cx-36;
      @extend .cy-36;
      @extend .p-0;
      @extend .m-0;
    }

    @extend .px-3;
  }
}

.widget--web-vitals {
  strong {
    @extend .d-inline;
    @extend .me-3;
  }

  .is-good {
    @extend .text-success;
  }

  .is-bad {
    @extend .text-danger;
  }

  dl {
    > div {
      @extend .d-inline;
    }

    dt,
    dd {
      @extend .d-inline;
      @extend .me-3;
    }

    @extend .text-warning;
    @extend .d-inline;
  }

  @extend .text-center;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.85);
  @extend .rounded;
  font-weight: 300;
}

#footer {
  .light & {
    color: $organic-noir;
  }

  .dark & {
    color: $arctic-powder;
  }

  .container {
    max-width: 1200px;
  }

  a {
    color: $primary;

    @extend .text-decoration-none;

    &:hover {
      color: var(--bs-primary-color);

      @extend .text-decoration-none;
    }
  }
}
