/*******************************************************************************
 * navbar setup
 *
 * see
 * - https://getbootstrap.com/docs/5.2/components/navbar/
 * - https://getbootstrap.com/docs/5.2/components/navs-tabs/
 ******************************************************************************/
.navbar {
  transition: background-color 2s;

  body.dark & {
    background-color: rgba(0, 0, 0, 0.2);
  }

  body.light & {
    background-color: rgba(255, 255, 255, 0.2);
  }

  body.dark.nav-state2 & {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
  }

  body.light.nav-state2 & {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .icon--bootstrap {
    margin-right: 0.25rem;

    svg {
      --size: 1.65cap;

      flex: 0 0 var(--size);
      width: var(--size);
      height: var(--size);
    }
  }

}
