{{- partial "func/hook.html" ( dict "hook" "header-topnav-pre" "context" . ) -}}
<nav
  class="navbar fixed-top navbar-expand-md navbar-light bg-white shadow-lg mb-5">
  <div class="container-fluid">
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-start" "context" . ) -}}
    {{- partialCached "header/navbar/brand.html" . -}}
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-post-logo" "context" . ) -}}
    {{- partialCached "header/navbar/toggle-button.html" . -}}
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-pre-mainnav" "context" . ) -}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto me-md-0">
        {{ $current := . }}
        {{ range site.Menus.main }}
          {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
          {{ $active = or $active (eq .Name $current.Title) }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-inline-block {{ if $active }}
                  active
                {{ end }}"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
                >{{ .Name }}</a
              >
              <ul class="dropdown-menu">
                {{ range .Children }}
                  <li>
                    <a class="dropdown-item" href="{{ .URL | absLangURL }}"
                      >{{ .Name }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li class="nav-item {{ if $active }}active{{ end }}">
              <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>

      {{ if site.Params.dnb.theme.switcher.enabled }}
        <div class="form-check form-switch form-check-inline is--themeswitcher">
          <input class="form-check-input" type="checkbox"
                role="switch" id="flexSwitchCheckChecked"
                x-data x-on:click="$data.theme = $event.target.checked ? 'dark' : 'light'" >
          <label class="form-check-label" for="flexSwitchCheckChecked">
          {{ range site.Params.dnb.theme.switcher.themes }}
            {{ partialCached "bsicon.html" .icon .icon }}
          {{ end }}
          </label>
        </div>
      {{ end }}

    </div>
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-post-mainnav" "context" . ) -}}
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-end" "context" . ) -}}
  </div>
</nav>
{{- partial "func/hook.html" ( dict "hook" "header-topnav-post" "context" . ) -}}
