{{- partial "func/hook.html" ( dict "hook" "header-topnav-pre" "context" . ) -}}
<nav
  class="shadow-lg navbar fixed-top navbar-expand-md">
  <div class="container-fluid">
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-start" "context" . ) -}}
    {{- partialCached "header/navbar/brand.html" . -}}
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-post-logo" "context" . ) -}}
    {{- partialCached "header/navbar/toggle-button.html" . -}}
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-pre-mainnav" "context" . ) -}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <menu class="navbar-nav ms-auto me-auto me-md-0">
        {{- $current := . -}}
        {{- range site.Menus.main -}}
          {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
          {{- $active = or $active (eq .Name $current.Title) -}}
          {{- if .HasChildren -}}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-inline-block {{- if $active -}}
                  active
                {{- end -}}"
                href="#"
                data-toggle="dropdown"
                aria-expanded="false"
                >
                  {{- with .Params.bsicon -}}
                    {{- partialCached "bsicon.html" . . -}}
                  {{- end -}}
                  {{- .Name -}}
                </a
              >
              <ul class="dropdown-menu">
                {{- range .Children -}}
                  <li>
                    <a class="dropdown-item" href="{{- .URL | absLangURL -}}">
                      {{- with .Params.bsicon -}}
                        {{- partialCached "bsicon.html" . . -}}
                      {{- end -}}
                      {{- .Name -}}
                    </a>
                  </li>
                {{- end -}}
              </ul>
            </li>
          {{- else -}}
            <li class="nav-item {{- if $active -}}active{{- end -}}">
              <a class="nav-link" href="{{- .URL | absLangURL -}}">
                {{- with .Params.bsicon -}}
                  {{- partialCached "bsicon.html" . . -}}
                {{- end -}}
                {{- .Name -}}
              </a>
            </li>
          {{- end -}}
        {{- end -}}
      </menu>

      {{- if site.Params.dnb.theme.switcher.enabled -}}
        {{- partialCached "header/theme-switcher.html" . . -}}
      {{- end -}}

    </div>
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-post-mainnav" "context" . ) -}}
    {{- partial "func/hook.html" ( dict "hook" "header-topnav-end" "context" . ) -}}
  </div>
</nav>
{{- partial "func/hook.html" ( dict "hook" "header-topnav-post" "context" . ) -}}
