.embellishment {

	&::before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}

	&-one::before {
		{{- /* finger from left, 300px wide */ -}}
		{{- $path := "images/embellishments/ht.png" -}}
		{{- $directions := "300x r90 q90 webp drawing" -}}
		{{- $embellishment := resources.GetMatch $path -}}
		{{- $embellishment = ($embellishment.Resize $directions) -}}
		background-image: url("{{- $embellishment.RelPermalink -}}");
	}

	&-two::before {
		{{- /* finger from left, 300px wide */ -}}
		{{- $path := "images/embellishments/ht.png" -}}
		{{- $directions := "300x r90 q90 webp drawing" -}}
		{{- $embellishment := resources.GetMatch $path -}}
		{{- $embellishment = ($embellishment.Resize $directions) -}}
		background-image: url("{{- $embellishment.RelPermalink -}}");
	}

}
