{{- $paginator := . }}
{{- $currentPageNumber := .PageNumber }}
{{- $slots := 5 }}
{{- $start := math.Max 1 (math.Sub .PageNumber (math.Floor (math.Div $slots 2))) }}
{{- $end := math.Min .TotalPages (math.Sub (math.Add $start $slots) 1) }}
{{- if compare.Lt (math.Add (math.Sub $end $start) 1) $slots }}
  {{- $start = math.Max 1 (math.Add (math.Sub $end $slots) 1) }}
{{- end }}
{{- range $k := collections.Seq $start $end }}
  {{- $copy := fmt.Printf (lang.Translate "theme.page") $k -}}
  {{- if compare.Eq $paginator.PageNumber $k }}
    <li class="page-item active">
      <a
        href="#"
        aria-current="page"
        aria-label="{{- $copy -}}"
        class="page-link"
        >{{ $k }}</a
      >
    </li>
  {{- else }}
    <li class="page-item">
      <a
        href="{{ (collections.Index $paginator.Pagers (math.Sub $k 1)).URL }}"
        aria-label="{{- $copy -}}"
        class="page-link"
        >{{ $k }}</a
      >
    </li>
  {{- end }}
{{- end }}
