{{- $copy := lang.Translate "theme.navigationlabel" -}}
<nav class="row" aria-label="{{- $copy -}}">
  <div class="d-flex flex-column">
    {{- $paginator := .Scratch.Get "paginator" -}}
    {{- if compare.Gt $paginator.TotalPages 1 -}}
      <ul class="pagination align-self-center mb-0">
        {{- with $paginator -}}
          {{- $currentPageNumber := .PageNumber -}}
          {{- partials.Include "content/components/pagination/item-first.html" . . -}}
          {{- partials.Include "content/components/pagination/item-previous.html" . . -}}
          {{- partials.Include "content/components/pagination/item-current.html" . . -}}
          {{- partials.Include "content/components/pagination/item-next.html" . . -}}
          {{- partials.Include "content/components/pagination/item-last.html" . . -}}
        {{- end -}}
      </ul>
    {{- end -}}
    <p class="pagination-note align-self-center text-body-secondary fs-8">
      {{- lang.Translate "theme.pagination.information" (dict
            "posts" $paginator.TotalNumberOfElements
            "pages" $paginator.TotalPages) -}}
    </p>
  </div>
</nav>
