{{- $context := .context -}}
{{- $responsive := .responsive -}}
{{- $articleimages := $context.Resources.ByType "image" -}}
{{- $link := $context.Permalink -}}
{{- $aspectRatio := (split site.Params.dnb.pictures.aspect_ratio ":") -}}
{{- $breakPoints := site.Params.dnb.pictures.responsive.halfwidth.break_points -}}
{{- $imageSizes := site.Params.dnb.pictures.responsive.halfwidth.image_sizes -}}
{{- if (eq $responsive "fullwidth") -}}
  {{- $breakPoints = site.Params.dnb.pictures.responsive.fullwidth.break_points -}}
  {{- $imageSizes = site.Params.dnb.pictures.responsive.fullwidth.image_sizes -}}
{{- end -}}
{{- $imageSizes2 := slice -}}
{{- range $imageSizes -}}
  {{- $imageSizes2 = $imageSizes2 | append (math.Ceil (div (mul (float .) (float (index $aspectRatio 1))) (float (index $aspectRatio 0)))) -}}
{{- end -}}

{{- with first 1 $articleimages -}}
  <div class="post-slider">
    {{- range $counter, $image := . -}}

      {{- $title := "" -}}
      {{- if ne $image.Title $image.Name -}}
        {{- $title = $image.Title | markdownify -}}
      {{- end -}}

      {{- $images := slice -}}
      {{- range $index, $value := $imageSizes -}}
        {{- $imagesize := printf "%sx%s" (string $value) (string (index $imageSizes2 $index)) -}}
        {{- $images = $images | append ($image.Resize $imagesize) -}}
      {{- end -}}

      <figure>
        <a href="{{- $link -}}">
          <picture>
            {{- range $index, $image := $images -}}
              <source
                srcset="{{- $image.Permalink -}}"
                media="(max-width: {{- index $breakPoints $index -}}px)">
              {{- if eq $index (sub (len $images) 1) -}}
                <source srcset="{{- $image.Permalink -}}">
                {{- $alt := $title -}}
                {{- if eq $alt "" -}}
                  {{- $alt = $context.Title -}}
                {{- end -}}
                <img
                  class="img-fluid"
                  src="{{- $image.Permalink -}}"
                  alt="{{- $alt | plainify -}}"
                  width="{{- $image.Width -}}"
                  height="{{- $image.Height -}}"
                  {{ if (eq $responsive "fullwidth") -}}
                    loading="eager" fetchpriority="high"
                  {{- else -}}
                    loading="lazy" fetchpriority="low"
                  {{- end -}}>
              {{- end -}}
            {{- end -}}
          </picture>
        </a>
        <div class="inline-icons">
          {{- with $title -}}
            <div class="is--copyright"
                title="{{- . -}}"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="{{- . -}}">
              {{- partial "bsicon.html" "camera2" "camera2" -}}
            </div>
            {{/* <figcaption class="text-center"></figcaption> */}}
          {{- end -}}
          {{- if eq true ($context.Params.theme.showdate | default true) -}}
            {{- $publishingdate := printf
                  "🤖 %s"
                  ($context.PublishDate | time.Format (site.Params.dnb.theme.dateformat.timestamp | default ":date_long")) -}}
            <div class="is--publishdate"
                title="{{- $publishingdate -}}"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="{{- $publishingdate -}}">
              {{- partialCached "bsicon.html" "calendar3" "calendar3" -}}
            </div>
          {{- end -}}
        </div>
      </figure>
    {{- end -}}
  </div>
{{- end -}}
