@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import './fonts.css';

/*******************************************************************************
 * Color utilities
 * @see https://uicolors.app/generate/e5bf27
 * @see https://tailwindshades.app/
 * @see https://www.infyways.com/tools/tailwind-color-generator/
 *******************************************************************************
 * for default theme variable values
 * @see https://tailwindcss.com/docs/theme#default-theme-variable-reference
 *
 * for default theme variable namespaces
 * @see https://tailwindcss.com/docs/theme#theme-variable-namespaces
 *
 * to override/replace a namespace set it to initial
 * --color-*: initial;
 *
 * to get a CSS variable in JS do this
 * let styles=getComputedStyle(document.documentElement);
 * let shadow=styles.getPropertyValue("--shadow-xl");
 ******************************************************************************/
@theme {
  --font-exo2: 'exo2', sans-serif;
  --font-jetbrainsmono: 'jetbrainsmono', monospace;
  --font-changa: 'changa', sans-serif;

  --spacing: 0.25rem;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0%;
      transform: scale(0.95);
    }
    100% {
      opacity: 100%;
      transform: scale(1);
    }
  }
}

/*******************************************************************************
 * When using CSS variables in the @theme section, use the `inline` section
 ******************************************************************************/
@theme inline {
  --font-sans: var(--font-exo2);
  --font-mono: var(--font-jetbrainsmono);
}

/*******************************************************************************
 * The `static` leads to the variables being referenced without the requirement
 * of being used. Other @theme sections will only compile into used variables.
 * This will also generate all utility classes for variable namespaces.
 ******************************************************************************/
@theme static {
  /* left empty intentionally */
}

/*******************************************************************************
 * Default theme setup
 ******************************************************************************/
@import './base.css';
@import './prose.css';
