@layer components {
  /* Prose styles for content sections */
  .content {

    /* used for spacing in content sections */
    --typography-space: calc(4 * var(--spacing));

    p {
      font-size: var(--text-lg);

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: var(--text-2xl);
    }

    h2 {
      font-size: var(--text-xl);
    }

    /* block elements have 1rem (4*spacing) bottom margin */
    .expressive-code,
    ul,
    ol,
    p {
      margin-bottom: var(--typography-space);
    }

    ul ul,
    ol ol {
      /* bottom margin NOT for sub lists */
      margin-bottom: 0;
    }

    ol {
      @apply list-outside list-decimal;

      padding-left: var(--typography-space);
    }
    ul {
      @apply list-outside list-disc;
      margin-left: var(--typography-space);

      li li {
        margin-left: var(--typography-space);
      }
    }
    p,
    li {
      code {
        @apply -mx-0.5 my-1 rounded bg-orange-600/10 px-0.5 py-1 text-sm;
      }
    }

    blockquote {
      @apply border-l-4 border-orange-600 bg-orange-600/10 p-4 italic;

      margin-bottom: var(--typography-space);

      p:last-child {
        margin-bottom: 0;
      }

    }
  }
}
