@layer utilities {
  .font-changa {
    font-family: var(--font-changa), sans-serif;

    /* Changa One is only available via weight 400 */
    font-weight: 400 !important;

    /* @see https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis */
    font-synthesis: none;
  }

  /* Override any other weight utility when used with font-changa */
  .font-changa.font-thin,
  .font-changa.font-extralight,
  .font-changa.font-light,
  .font-changa.font-normal,
  .font-changa.font-medium,
  .font-changa.font-semibold,
  .font-changa.font-bold,
  .font-changa.font-extrabold,
  .font-changa.font-black {
    /* Changa One is only available via weight 400 */
    font-weight: 400;
  }

  .text-answer-1238jf {
    @apply hidden;
  }

  * {
    --sb-track-color: var(--color-gray-900);
    --sb-track-color2: var(--color-gray-800);
    --sb-thumb-color: var(--color-red-500);
    --sb-thumb-color2: var(--color-red-400);
    --sb-size: 10px;

    ::-webkit-scrollbar {
      width: var(--sb-size);
    }

    ::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 4px;
    }

    ::-webkit-scrollbar-track:hover {
      background: var(--sb-track-color2);
    }

    ::-webkit-scrollbar-track:active {
      background: var(--sb-track-color2);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:active {
      background: var(--sb-thumb-color2);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--sb-thumb-color2);
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      /* Firefox */
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      scrollbar-width: thin;
    }
  }
}
