@layer utilities {
  .font-changa {
    font-family: var(--font-changa), sans-serif;

    /* Changa One is only available via weight 400 */
    font-weight: 400 !important;

    /* @see https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis */
    font-synthesis: none;
  }

  /* Override any other weight utility when used with font-changa */
  .font-changa.font-thin,
  .font-changa.font-extralight,
  .font-changa.font-light,
  .font-changa.font-normal,
  .font-changa.font-medium,
  .font-changa.font-semibold,
  .font-changa.font-bold,
  .font-changa.font-extrabold,
  .font-changa.font-black {
    /* Changa One is only available via weight 400 */
    font-weight: 400;
  }

  .text-answer-1238jf {
    @apply hidden;
  }
}
