---
// @todo refactor

import Footer from "@components/layout/footer/Footer.astro";
import TestPagesIndex from "@components/support/fixtures/TestPagesIndex.astro";
import SiteTitle from "@components/layout/branding/SiteTitle.astro";
import TopNavigation from "@components/layout/navigation/TopNavigation.astro";
import setup from "@data/setup.json" with { type: "json" };
import Site from "@layouts/Site.astro";

const { post, frontmatter } = Astro.props;
// const { file, url, frontmatter, headings, rawContent, compiledContent } =
//   Astro.props;

// https://docs.astro.build/en/basics/layouts/#markdown-layout-props
// file - The absolute path of this file (e.g. /home/user/projects/.../file.md).
// url - The URL of the page (e.g. /en/guides/markdown-content).
// frontmatter - All frontmatter from the Markdown or MDX document.
// frontmatter.file - The same as the top-level file property.
// frontmatter.url - The same as the top-level url property.
// headings - A list of headings (h1 -> h6) in the Markdown or MDX document with associated metadata. This list follows the type: { depth: number; slug: string; text: string }[].
// ONLY IN MARKDOWN, NOT IN MDX:
// rawContent() - A function that returns the raw Markdown document as a string.
// compiledContent() - An async function that returns the Markdown document compiled to an HTML string
---

<Site
  post={post}
  frontmatter={frontmatter}
>
  <SiteTitle />
  <TopNavigation />
  <main class={setup.classes.containers.wide}>
    <article class="content mx-auto max-w-5xl">
      <slot />

      <TestPagesIndex />
    </article>
  </main>
  <Footer />
</Site>
