---

import Layout from '@layouts/SiteWrapper.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.css';
import siteinfo from '@data/siteinfo.json';

---

<Layout>
  <div class="min-h-screen flex flex-col">
    <h1 class="font-changa text-9xl mx-auto text-orange-700">
      {siteinfo.title}
    </h1>
    <Header />
    <main class="flex-grow mx-auto max-w-4xl z-10">
      <slot />
    </main>
    <Footer />
  </div>
</Layout>
