---
// @todo refactor

import Footer from "@components/Footer.astro";
import SiteTitle from "@components/SiteTitle.astro";
import TopNavigation from "@components/TopNavigation.astro";
import Site from "@layouts/Site.astro";

const { post } = Astro.props;

import setup from "@data/setup.json" with { type: "json" };
---

<Site post={post}>
  <SiteTitle />
  <TopNavigation />
  <main class={setup.classes.containers.content}>
    <slot />
  </main>
  <Footer />
</Site>
