---
import Footer from "@components/layout/footer/Footer.astro";
import SiteHeader from "@components/layout/header/SiteHeader.astro";
import Site from "@layouts/Site.astro";

const { post } = Astro.props;

import setup from "@data/setup.json" with { type: "json" };
---

<Site post={post}>
  <SiteHeader />
  <main class={setup.classes.containers.slim}>
    <slot />
  </main>
  <Footer />
</Site>
