---

import Layout from '@layouts/SiteWrapper.astro';

import { Debug } from 'astro:components';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import '@styles/global.css';

const props = Astro.props;

---

<Layout>
  <div class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <Debug props={Astro.props} />
    <Debug properties={props} />
  </div>
</Layout>
