---
// @todo refactor

import Layout from '@layouts/SiteWrapper.astro';
import TopNavigation from '@components/TopNavigation.astro';
import Footer from '@components/Footer.astro';
import SiteTitle from '@components/SiteTitle.astro';
const { post } = Astro.props;

import setup from '@data/setup.json';
---

<Layout post={post}>
  <SiteTitle />
  <TopNavigation />
  <main class={setup.classes.containers.main}>
    <slot />
  </main>
  <Footer />
</Layout>
