---
// @todo refactor

import Layout from '@layouts/SiteWrapper.astro';
import TopNavigation from '@components/TopNavigation.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.css';
import Prose from '@components/Prose.astro';
import SiteTitle from '@components/SiteTitle.astro';
const { post } = Astro.props;
---

<Layout post={post}>
  <SiteTitle />
  <TopNavigation />
  <main class="z-0 mx-auto max-w-full lg:max-w-3xl xl:max-w-5xl 2xl:max-w-7xl">
    <Prose>
      <slot />
    </Prose>
  </main>
  <Footer />
</Layout>
