---
// @todo refactor

import Layout from '@layouts/SiteWrapper.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.css';
import Prose from '@components/Prose.astro';
const { post } = Astro.props;
// https://docs.astro.build/en/basics/layouts/#markdown-layout-props
// file - The absolute path of this file (e.g. /home/user/projects/.../file.md).
// url - The URL of the page (e.g. /en/guides/markdown-content).
// frontmatter - All frontmatter from the Markdown or MDX document.
// frontmatter.file - The same as the top-level file property.
// frontmatter.url - The same as the top-level url property.
// headings - A list of headings (h1 -> h6) in the Markdown or MDX document with associated metadata. This list follows the type: { depth: number; slug: string; text: string }[].
// rawContent() - A function that returns the raw Markdown document as a string.
// compiledContent() - An async function that returns the Markdown document compiled to an HTML string.
---

<Layout post={post}>
  <div class="flex min-h-screen flex-col">
    <Header />
    <main class="z-10 mx-auto max-w-7xl flex-grow">
      <Prose>
        <slot />
      </Prose>
    </main>
    <Footer />
  </div>
</Layout>
