---
import '@assets/styles/theme.css';

import Breakpoints from '@components/development/Breakpoints.astro';
import Head from '@components/Head.astro';
import SchemaWebSite from '@components/schema/WebSite.astro';

const {
  post,
  extraHtmlClasses = '',
  extraBodyClasses = '',
  frontmatter,
} = Astro.props;

// html classes
const htmlClasses = [
  'scroll-smooth',
  'bg-zinc-50 dark:bg-zinc-950',
  'h-full',
  extraHtmlClasses,
]
  .filter(Boolean)
  .join(' ');

// body classes
const bodyClasses = [
  'min-h-screen',
  'overflow-y-scroll', // always show scrollbar to prevent layout shift
  'bg-zinc-50 dark:bg-zinc-950',
  extraBodyClasses,
]
  .filter(Boolean)
  .join(' ');

const IS_DEV = import.meta.env.DEV;
---

<!doctype html>
<html
  lang="en"
  class={htmlClasses}
>
  <head>
    <Head
      post={post}
      frontmatter={frontmatter}
    />
  </head>
  <body class={bodyClasses}>
    <slot />
    <Breakpoints />
    {
      import.meta.env.DEV && (
        <link
          rel="stylesheet"
          href="/src/assets/styles/audit.css"
        />
      )
    }
    <SchemaWebSite />
    <script is:inline define:vars={{ IS_DEV }}>
      (function () {
        if (typeof window === 'undefined' || IS_DEV) return;

        const _paq = (window._paq = window._paq || []);
        const u = 'https://analytics.dnbhub.xyz/';

        _paq.push(['setSiteId', '1']);
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setCookieDomain', '*.kollitsch.dev']);
        _paq.push(['enableLinkTracking']);

        const g = document.createElement('script');
        g.async = true;
        g.defer = true;
        g.src = u + 'matomo.js';

        const target =
          document.head || document.body || document.documentElement;
        target.appendChild(g);
      })();
    </script>
    <script>
      import '../assets/js/theme.js';
    </script>
  </body>
</html>
