---

import '@styles/global.css';

import Head from '@components/Head.astro';
import Breakpoints from '@components/development/Breakpoints.astro';

const { post, extraHtmlClasses = '', extraBodyClasses = '' } = Astro.props;

// html classes
const htmlClasses = [
  'scheme-light',
  'dark:scheme-dark',
  'scroll-smooth',
  'bg-white dark:bg-zinc-950',
  'h-full',
  extraHtmlClasses,
]
  .filter(Boolean)
  .join(' ');

// body classes
const bodyClasses = [
  'min-h-screen',
  'overflow-y-scroll',
  'bg-white dark:bg-zinc-950',
  'h-full',
  extraBodyClasses,
]
  .filter(Boolean)
  .join(' ');
---

<!doctype html>
<html lang="en" class={htmlClasses}>
  <head>
    <Head post={post} />
  </head>
  <body class={bodyClasses}>
    <slot />
    <Breakpoints />
  </body>
</html>
