---

import '@styles/global.css';
import Head from '@components/Head.astro';

// Add a full="true" prop to control full height for the page
// @todo consider adding that as default class to the layout
const { full = false, class: extraClasses = '' } = Astro.props;

// html classes
const htmlClasses = [
  'scheme-light',
  'dark:scheme-dark',
  'scroll-smooth',
  full && 'h-full',
  extraClasses
].filter(Boolean).join(' ');

// body classes
const bodyClasses = [
  'min-h-screen',
  'overflow-y-scroll',
  'bg-orange-50 dark:bg-slate-950',
  full && 'h-full'
].filter(Boolean).join(' ');

---

<!DOCTYPE html>
<html lang="en" class={htmlClasses}>
  <head>
    <Head />
  </head>
  <body class={bodyClasses}>
    <slot />
  </body>
</html>
