---
import '@assets/styles/global.css';

import Breakpoints from '@components/development/Breakpoints.astro';
import Head from '@components/Head.astro';
import SchemaWebSite from '@components/schema/WebSite.astro';

const {
  post,
  extraHtmlClasses = '',
  extraBodyClasses = '',
  frontmatter,
} = Astro.props;

// html classes
const htmlClasses = [
  'scroll-smooth',
  'bg-zinc-50 dark:bg-zinc-950',
  'h-full',
  extraHtmlClasses,
]
  .filter(Boolean)
  .join(' ');

// body classes
const bodyClasses = [
  'min-h-screen',
  'overflow-y-scroll', // always show scrollbar to prevent layout shift
  'bg-zinc-50 dark:bg-zinc-950',
  extraBodyClasses,
]
  .filter(Boolean)
  .join(' ');
---

<!doctype html>
<html
  lang="en"
  class={htmlClasses}
>
  <head>
    <Head
      post={post}
      frontmatter={frontmatter}
    />
  </head>
  <body class={bodyClasses}>
    <slot />
    <Breakpoints />
    {
      import.meta.env.DEV && (
        <link
          rel="stylesheet"
          href="/src/assets/styles/audit.css"
        />
      )
    }
    <SchemaWebSite />
  </body>
</html>
