---
import Site from '@layouts/Site.astro';
import setup from '@data/setup.json';

const { post } = Astro.props;
---

<Site
  post={post}
  bodyClass="min-h-full h-full"
>
  <main class={`${setup.classes.containers.main} min-h-full h-full`}>
    <slot />
  </main>
</Site>
