{{- $value := fmt.Printf "%s" .value | transform.HTMLUnescape }}
{{- $short := strings.Substr $value 0 300 -}}
{{- $length := len $value -}}
{{- if (compare.Eq $value $short) -}}
  {{- fmt.Printf "%s" .value | transform.HTMLUnescape -}}
{{- else -}}
  <strong>Abridged: ({{ $length }} chars): </strong> {{- $short -}} &hellip;<br />
  {{- $id := partials.Include "func/getRandomString.html" . -}}
  <a href="#" data-bs-toggle="collapse" data-bs-target="#a{{- $id -}}"
      aria-expanded="false" aria-controls="a{{- $id -}}">
      <span class="if-collapsed">Show full value</span>
      <span class="if-not-collapsed">Hide full value</span>
  </a>
  <div class="collapse" id="a{{- $id -}}">
    <div class="card card-body">
      {{- fmt.Printf "%s" .value | transform.Highlight -}}
    </div>
  </div>
{{- end -}}
