/* Webfont: TomkinNarrow-ThinItalic */@font-face {
    font-family: 'TomkinNarrowThin';
    src: url('TomkinNarrow-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('TomkinNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TomkinNarrow-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('TomkinNarrow-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TomkinNarrow-ThinItalic.svg#TomkinNarrow-ThinItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

