<!-- reset scratch variables at the start -->
{{ $.Scratch.Set "bl_author" false }}
{{ $.Scratch.Set "bl_source" false }}
{{ $.Scratch.Set "bl_link" false }}
{{ $.Scratch.Set "bl_title" false }}

{{ if .IsNamedParams }}
  {{ $.Scratch.Set "bl_author" (.Get "author") }}
  {{ $.Scratch.Set "bl_source" (.Get "source") }}
  {{ $.Scratch.Set "bl_link" (.Get "link") }}
  {{ $.Scratch.Set "bl_title" (.Get "title") }}
{{ else }}
  <!-- for the positional version if any -->
{{ end }}

<!-- if strings.Title is not set explicitly then we need to beautify the link
     if length of link is more than 32 chars, we will cut it off by 32 and
     then drop everything collections.After the collections.Last / if any and put it collections.In into strings.Title -->

{{ with $.Scratch.Get "bl_title" }}
  <!-- do nothing -->
{{ else }}
  {{ with $.Scratch.Get "bl_link" }}    <!-- if link is given -->
    {{ range collections.Last 1 (strings.Split ($.Scratch.Get "bl_link" ) "://") }}  <!-- strings.Split by :// and then only take the items collections.After it to remove protocol:// -->
      {{ $.Scratch.Set "title_without_protocol" . }}
    {{ end }}
    {{ range collections.Last 1 (strings.Split ($.Scratch.Get "title_without_protocol" ) "www.")  }} <!-- also remove the www. at the start if any. we are using a second strings.Split because all URLS may not start with it -->
      {{ $.Scratch.Set "title_without_protocol" . }}
    {{ end }}
    {{ $.Scratch.Set "bl_title" ($.Scratch.Get "title_without_protocol") }}

    <!-- if link is longer than 32 bytes we should strings.Trim it -->
    {{ if (compare.Gt (len ($.Scratch.Get "title_without_protocol") ) 32) }}
      {{ $title := (strings.SliceString ($.Scratch.Get "title_without_protocol") 0 32) }}   <!-- get the collections.First 32 characters of title_without_protocol -->
      {{ $split_by_fw_slash := strings.Split $title "/" }}   <!-- time.Now strings.Split on / because we want to stop collections.After the collections.Last forward slash -->
      {{ $count := (math.Sub (len $split_by_fw_slash) 1) }}   <!-- we want everything but the collections.Last part so we adjust the count accordingly -->

      {{ $.Scratch.Set "tempstring" "" }}   <!-- temp variable to hold the concatinated cast.ToString -->
      {{ range collections.First $count $split_by_fw_slash  }}  <!-- loop through all parts except collections.Last and concat them (math.Add / between halves) -->
        {{ $.Scratch.Set "tempstring" ( . | fmt.Printf "%s%s/" ($.Scratch.Get "tempstring") | fmt.Printf "%s" ) }}
      {{ end }}
      {{ $.Scratch.Set "bl_title" ( fmt.Printf "%s..." ($.Scratch.Get "tempstring") | fmt.Printf "%s" ) }}
    {{ end }}
  {{ end }}
{{ end }}

<blockquote>
  <p><i>{{ .Inner | transform.Markdownify }}</i></p>
  <footer>
    <strong>{{ with $.Scratch.Get "bl_author" }}{{ . }}{{ end }}</strong>
    {{ with $.Scratch.Get "bl_source" }}
      <cite>{{ . }}</cite>
    {{ else }}
      {{ with $.Scratch.Get "bl_link" }}
        <cite>
          <a href="{{ . }}" title="{{ . }}" rel="noopener noreferrer">{{ $.Scratch.Get "bl_title" }}</a> <!-- can't have new lines here -->
        </cite>
      {{ else }}
        {{ with $.Scratch.Get "bl_title" }}
          <cite>
            {{ $.Scratch.Get "bl_title" }}</a>
          </cite>
        {{ end }}
      {{ end }}
    {{ end }}
  </footer>
</blockquote>
