{{- $page := $.Page -}}
{{- $slug := printf "c%s" (partial "func/getRandomString" (dict "limit" 8)) -}}

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
		<button class="nav-link active" id="{{- $slug -}}-tab" data-bs-toggle="tab" data-bs-target="#{{- $slug -}}" type="button" role="tab" aria-controls="{{- $slug -}}" aria-selected="true">Go Layout</button>
	</li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="{{- $slug -}}" role="tabpanel" aria-labelledby="{{- $slug -}}-tab" tabindex="0">
		{{ highlight  $.Inner "golang" | safeHTML }}
	</div>
</div>
