{{- $tomlCode := .Inner -}}
{{- $path := .Get "path" | compare.Default "config" -}}
{{- $formats := (collections.Slice "toml" "yaml" "json") -}}
{{- $random := partials.IncludeCached "func/getRandomString" (dict "limit" 8) -}}

<div class="shortcode shortcode-config">
  <ul class="nav nav-tabs" id="config-{{ $random }}" role="tablist">
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1">{{ $path }}</a>
    </li>
    {{- range $formats -}}
      <li class="nav-item" role="presentation">
        <a
          href="#"
          class="nav-link{{ if compare.Eq . "toml" }} active{{ end }}"
          id="{{ . }}-{{ $random }}-tab"
          data-bs-toggle="tab"
          data-bs-target="#{{ . }}-{{ $random }}"
          type="button"
          role="tab"
          aria-controls="messages"
          aria-selected="{{ if compare.Eq . "toml" }}true{{ else }}false{{ end }}">
          .{{ . }}
        </a>
      </li>
    {{- end -}}
  </ul>
  <div class="tab-content">
    {{- range $formats -}}
      <div
        class="tab-pane fade{{ if compare.Eq . "toml" }} show active{{ end }}"
        id="{{ . }}-{{ $random }}"
        role="tabpanel"
        aria-labelledby="{{ . }}-{{ $random }}-tab">
        {{ transform.Highlight ($tomlCode | transform.Remarshal . | safe.HTML) . "" }}
      </div>
    {{- end -}}
  </div>
</div>
