{{- $config := .Get "config" | compare.Default "full" -}}
{{- $config = strings.Split $config "." -}}
{{- $options := site.Data.dnb.kollitsch.config -}}
{{- if compare.Ne "full" $config -}}
  {{- $options = collections.Index site.Data.dnb.kollitsch.config $config -}}
{{- end -}}

<style>
#configsearch {
  position:sticky;
  top: 55px;
}
#configcontainer {
 max-height: 100%;
}
</style>

<div id="configcontainer">
  <div id="configsearch" class="input-group mb-3">
    <input type="text" class="form-control form-control-lg" id="searchInput"
      placeholder="Search for configuration items">
    <button class="btn btn-secondary" type="button" onclick="scrollToRow()">Search</button>
  </div>
  <div id="configuration">
    {{ partials.Include "inline/table.html" (collections.Dictionary "value" $options) }}
  </div>
</div>

{{ define "partials/inline/table.html" }}
  <table>
    {{- range $key, $value := .value -}}
      <tr>
        <td>{{- $key -}}</td>
        {{ if reflect.IsMap $value }}
          <td>
            {{ partials.Include "inline/table.html" (collections.Dictionary "value" $value) }}
          </td>
        {{ else if reflect.IsSlice $value}}
          <td>
            {{ range $value }}
              {{ partials.Include "inline/table.html" (collections.Dictionary "value" $value) }}
            {{ end }}
          </td>
        {{ else }}
          <td>
            {{ $value }}
          </td>
        {{ end }}
      </tr>
    {{- end -}}
  </table>
{{ end }}

<script>
document.getElementById('searchInput').addEventListener('keyup', function(event) {
  scrollToRow();
});
function scrollToRow() {
  const searchTerm = document.getElementById('searchInput').value.toLowerCase();
  const rows = document.querySelectorAll('#configuration tr');
  rows.forEach(row => row.classList.remove('table-info'));
  for (const row of rows) {
    if (row.innerText.toLowerCase().includes(searchTerm)) {
      row.classList.add('table-info');
      row.scrollIntoView({ behavior: 'smooth', block: 'center' });
      break;
    }
  }
}
</script>
