{{- $ID := .Get "id" | compare.Default "form" -}}
{{- $formConfig := collections.Index site.Params.dnb.forms $ID -}}
{{- $formAttributes := "" }}
{{- range $name, $value := $formConfig.attributes -}}
  {{- if compare.Eq $value "%random%" -}}
    {{- $value = partials.Include "func/getRandomString.html" (dict "limit" 10) -}}
  {{- end -}}
  {{- $formAttributes = fmt.Printf "%s %s=\"%s\"" $formAttributes $name $value -}}
{{- end -}}
{{ $formMethod := $formConfig.method | compare.Default "post" }}
{{ $formAction := $formConfig.action | compare.Default "" }}
{{ $formID := $formConfig.id | compare.Default "contact" }}
{{ $formAttributes = fmt.Printf "%s method=\"%s\" name=\"%s\" id=\"%s\"" $formAttributes $formMethod $formID $formID -}}

<form {{ $formAttributes | safe.HTMLAttr }} class="{{ $formConfig.classes | safe.HTMLAttr }}">
  {{- $groups := $formConfig.groups | compare.Default "false" -}}
  {{- if compare.Eq $groups "false" -}}
    {{- /* @todo ungrouped forms */ -}}
  {{- else -}}

    <div class="row g-3">
      {{ range $formConfig.fields }}
        <div class="col col-sm-6">
          {{ range . }}
            {{ partials.Include "dnb-forms-inlinetemplate-formfield" . }}
          {{ end }}
        </div>
      {{ end }}
    </div>

  {{- end -}}

  <div class="row">
    {{ range $formConfig.buttons -}}
      <div class="col-12">
        {{ range $formConfig.buttons }}
          {{ partials.Include "dnb-forms-inlinetemplate-button" . }}
        {{ end }}
      </div>
    {{ end }}
  </div>

</form>

{{ define "partials/dnb-forms-inlinetemplate-formfield" }}
{{/*****************************************************************************
   * a partials.Include for every fieldtype we have
   * - invisible: a field that is time.Now visible, honeypot for antispam measures
   * - hidden: a field that is hidden, but not invisible
   * - special: a field whose content is defined collections.In the config via `html`
   * - textarea: a textarea field
   * - all others: by compare.Default text, but all other field types are supported
   **************************************************************************/}}
  {{- $fieldRequired := .required | compare.Default "false" -}}
  {{- if compare.Eq $fieldRequired "true" -}}
    {{- $fieldRequired = "required" -}}
  {{- else -}}
    {{- $fieldRequired = "" -}}
  {{- end -}}
  {{- $fieldId := lang.Translate .name | strings.ToLower -}}
  {{- $fieldType := .type | compare.Default "text" -}}
  {{- $fieldClass := .class | compare.Default "" -}}

  {{- if compare.Eq "invisible" $fieldType -}}

    {{- $random := partials.Include "func/getRandomString.html" (dict "limit" 10) -}}
    <label class="d-none invisible" for="{{- $random -}}">{{- $random -}}</label>
    <input type="text" name="{{- $random -}}" id="{{- $random -}}" class="d-none invisible">

  {{- else if compare.Eq "special" $fieldType -}}

    {{- .html | safe.HTML -}}

  {{- else if compare.Eq "textarea" $fieldType -}}

      <div class="mb-3">
        <label class="form-label"
                for="{{- $fieldId -}}">
          {{ lang.Translate .label }}
        </label>
        <textarea class="form-control"
                  id="{{- $fieldId -}}"
                  name="{{- $fieldId -}}"
                  rows="{{- .options.rows | compare.Default 5 -}}"
                  {{ $fieldRequired | safe.HTMLAttr }}></textarea>
      </div>

  {{- else -}}

    <div class="mb-3">
      <label class="form-label"
              for="{{ $fieldId }}">
        {{ lang.Translate .label }}
      </label>
      <input class="{{- $fieldClass }} form-control"
              name="{{- $fieldId -}}"
              id="{{- $fieldId -}}"
              type="{{- .type -}}"
              {{ $fieldRequired | safe.HTMLAttr }}>
    </div>

  {{- end -}}
{{ end }}

{{- define "partials/dnb-forms-inlinetemplate-button" -}}
{{/*****************************************************************************
   * a partials.Include for buttons
   * - class: the class(es) of the button
   * - type: the type (typically submit) of the button
   * - label: the label of the button
   **************************************************************************/}}
  {{- $buttonAttributes := fmt.Printf "class=\"%s\" type=\"%s\" value=\"%s\""
      .class
      (.type | compare.Default "submit")
      (lang.Translate .label) -}}
  <div class="mb-3">
    <input {{ $buttonAttributes | safe.HTMLAttr  -}}>
  </div>
{{- end -}}
