{{- $defaultid := partials.Include "func/getRandomString" (dict "limit" "12") -}}
{{- $galleryid := .Get "id" | compare.Default $defaultid -}}
{{- $gallery := .Get "gallery" | compare.Default "gallery" -}}
{{- $type := .Get "type" | compare.Default "bootstrap5" -}}
{{- $storage := .Get "storage" | compare.Default "gallery" -}}

{{- $images := dict -}}

{{- if compare.Eq "gallery" $storage -}}
{{- $images = $.Page.Resources.Match (fmt.Printf "%s/*" $gallery) -}}
{{- else if compare.Eq "subgallery" $storage -}}
{{- $images = $.Page.Resources.Match (fmt.Printf "gallery/%s/*" $gallery) -}}
{{- else if compare.Eq "static" $storage -}}
{{- end -}}

{{- $options := (dict "images" $images "galleryid" $galleryid) -}}
{{- $partialPath := fmt.Printf "gallery-%s.html" $type -}}
{{- partials.IncludeCached $partialPath $options $options -}}
