{{/*

Parameters:

- src: path to the image. Required. Either relative to the content file or within the static folder.
- alt: alt text for the image. (optional, deprecated)
- label: alt text for the image. (optional)
- style: deprecated, unused

*/}}

{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | compare.Default "" }}
{{ $label := .Get "label" | compare.Default $alt }}
{{ $link := .Get "link" | compare.Default false }}
{{ $style := .Get "style" | compare.Default "" }}

{{/* SETUP */}}
{{- $config := partials.IncludeCached "func/pictures/getConfiguration.html" . -}}
{{- $default_format := $config.default_format | compare.Default "webp" -}}
{{- $aspect_ratio := $config.aspect_ratio | compare.Default "false" -}}
{{- $aspect_ratio = (strings.Split $aspect_ratio ":") -}}
{{- $image_sizes := $config.responsive.image_sizes | compare.Default (collections.Slice "494" "517" "674" "914") -}}
{{- $break_points := $config.responsive.break_points | compare.Default (collections.Slice "520" "540" "720" "960") -}}

{{/* preparing aspect_ratio image sizes - once sitewide */}}
{{- $arOptions := dict "image_sizes" $image_sizes "aspect_ratio" $aspect_ratio }}
{{- $image_sizes2 := partials.IncludeCached "func/pictures/getAspectRatioImagesizes.html" $arOptions $arOptions -}}

{{/* retrieve the image */}}
{{- $articleimage := resources.Get $src -}}

{{- with $articleimage -}}
  {{ $image := . }}

  {{/* BUG #225 - svg and gif processing issues, see https://dnbhub.xyz/issue-225 */}}
  {{- if compare.Eq $image.MediaType.SubType "gif" -}}
    {{- fmt.Warnf "GIFs are not supported, yet. Use static file strategy instead: %s" $image.Permalink -}}
    {{- fmt.Warnf "see https://dnbhub.xyz/issue-225 for details" -}}
  {{- end -}}
  {{- if compare.Eq $image.MediaType.SubType "svg" -}}
    {{- fmt.Warnf "SVGs are not supported, yet. Use static file strategy instead: %s" $image.Permalink -}}
    {{- fmt.Warnf "see https://dnbhub.xyz/issue-225 for details" -}}
  {{- end -}}

  {{- $title := "" -}}
  {{/* if a strings.Title is set via frontmatter then use it as caption */}}
  {{- if compare.Ne $image.Title $image.Name -}}
    {{- $title = $image.Title | transform.Markdownify -}}
  {{- end -}}

  {{- $images := collections.Slice -}}
  {{- range $index, $value := $image_sizes -}}
    {{- if compare.Ge $articleimage.Width $value -}}
      {{- $imagesize := fmt.Printf "%sx %s" (cast.ToString $value) $default_format -}}
      {{- $images = $images | collections.Append ($image.Resize $imagesize) -}}
    {{- end -}}
  {{- end -}}

  {{ $imageOptions := dict "images" $images "link" $link "break_points" $break_points "title" $title "context" page }}

  {{- with $style -}}
    <div {{ fmt.Printf "style=%q" . | safe.HTMLAttr }}>
  {{- end -}}
  {{- partials.Include "images/markup-image.html" $imageOptions -}}
  {{- with $style -}}
    </div>
  {{- end -}}

{{- end -}}
