<table>
  <thead>
    <tr>
      <th scope="col">{{ lang.Translate "shortcode.keycombinations.label" }}</th>
      <th scope="col">{{ lang.Translate "shortcode.keycombinations.action" }}</th>
    </tr>
  </thead>
  <tbody>
    {{ range page.Params.keycombinations }}
      <tr>
        <td>
          {{- $combinations := strings.Split .combination " + " -}}
          {{- range $index, $combination := $combinations -}}
            {{- if $index }} + {{ end -}}
            <kbd>{{- . -}}</kbd>
          {{- end -}}
        </td>
        <td>
          {{- .action | transform.Markdownify -}}
        </td>
      </tr>
    {{- end -}}
  </tbody>
</table>
