{{- $caption := .Get "caption" | compare.Default (i18n "shortcode.options.caption") -}}

<table class="table-options">
  <caption>{{- $caption -}}</caption>
  <thead>
    <tr>
      <th>{{ i18n "shortcode.options.option" }}</th>
      <th>{{ i18n "shortcode.options.type" }}</th>
      <th>{{ i18n "shortcode.options.default" }}</th>
      <th>{{ i18n "shortcode.options.description" }}</th>
    </tr>
  </thead>
  <tbody>
    {{- $table := .Inner -}}
    {{- $table = strings.Split $table "\n" -}}
    {{- range $table -}}
      <tr>
      {{- $row := strings.Split . "|" -}}
      {{- range $index, $item := $row -}}
        {{- if compare.Eq $index 0 -}}
          {{- continue -}}
        {{- end -}}
        {{- if compare.Eq $index 5 -}}
          {{- continue -}}
        {{- end -}}
        {{- if compare.Eq $index 4 -}}
          {{- $item = $item | transform.Markdownify -}}
        {{- end -}}
        <td>{{- $item -}}</td>
      {{- end -}}
      </tr>
    {{- end -}}
  </tbody>
</table>
