<blockquote class="blockquote">
	{{.Inner}}
    {{ if .Get "source" }}
    <footer class="blockquote-footer">
		<cite title="Quelle: {{ with .Get "source"}}{{.}}{{ end }}">
            {{ with .Get "src"}}
                Weiterlesen auf
                <a href="{{.}}" target="_blank" rel="noopener noreferrer">
            {{ end }}
            {{ with .Get "source" }}{{.}}{{ end }}
            {{ with .Get "src"}}
                </a>
            {{ end }}
		</cite>
	</footer>
    {{ end }}
</blockquote>
