{{- $numerals := collections.Dictionary
    "M" 1000
    "CM" 900
    "D" 500
    "CD" 400
    "C" 100
    "XC" 90
    "L" 50
    "XL" 40
    "X" 10
    "IX" 9
    "V" 5
    "IV" 4
    "I" 1
    -}}
{{ $numerals = collections.Sort $numerals "value" "desc" }}
{{- $number := cast.ToInt (.Get 0) -}}
{{- $romanOutput := "" -}}
{{ range $roman, $value := $numerals }}

{{ $roman }} {{ $value}}

  {{ $amount := math.Floor (math.Div $number (cast.ToInt $value) ) }}
  {{ $number = math.Sub $number (math.Mul $amount (cast.ToInt $value) ) }}
  {{ $romanOutput = fmt.Printf "%s%s" $romanOutput (strings.Repeat $amount $roman ) }}

{{ end }}

{{ $romanOutput }}
