<script src="/search/pagefind-ui.js" type="text/javascript"></script>
{{- $config := site.Params.dnb.shortcodes.pagefind -}}
{{- $configPrepared := dict
      "baseUrl" ($config.baseurl | default "/")
      "element" ($config.element | default "#pagefind")
      "resetStyles" ($config.resetstyles | default false)
      "bundlePath" ($config.bundlepath | default "/search/")
      "debounceTimeoutMs" ($config.debouncetimeoutms | default 500)
      "pageSize" ($config.pagesize | default 9)
      "highlightParam" ($config.highlightparam | default "highlight")
      "showImages" ($config.showimages | default true)
      "autofocus" ($config.autofocus | default true)
}}
<div id="pagefind"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({{ $configPrepared | jsonify | safeJS }});
  });
</script>
