<div class="audit">
  <div class="block brand">
    <div class="swatch"></div>
    <span>Brand</span>
  </div>
  <div class="block text1">
    <div class="swatch"></div>
    <span>Text 1</span>
  </div>
  <div class="block text2">
    <div class="swatch"></div>
    <span>Text 2</span>
  </div>
  <div class="block surface1">
    <div class="swatch"></div>
    <span>Surface 1</span>
  </div>
  <div class="block surface2">
    <div class="swatch"></div>
    <span>Surface 2</span>
  </div>
  <div class="block surface3">
    <div class="swatch"></div>
    <span>Surface 3</span>
  </div>
  <div class="block surface4">
    <div class="swatch"></div>
    <span>Surface 4</span>
  </div>
</div>
<style>
.audit {background: var(--bg-page); padding:1rem;}
.brand .swatch { background: var(--brand) }
.text1 .swatch { background: var(--text1) }
.text2 .swatch { background: var(--text2) }
.surface1 .swatch { background: var(--surface1) }
.surface2 .swatch { background: var(--surface2) }
.surface3 .swatch { background: var(--surface3) }
.surface4 .swatch { background: var(--surface4) }
.block {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  display: block;
}
.swatch {
  inline-size: 3ch;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsl(0 0% 50% / 25%);
  float:left;
  margin-right:1rem;
}
</style>
