<div class="audit">
  <div class="block brand">
    <div class="swatch"></div>
    <span>Brand</span>
  </div>
  <div class="block text1">
    <div class="swatch"></div>
    <span>Text 1</span>
  </div>
  <div class="block text2">
    <div class="swatch"></div>
    <span>Text 2</span>
  </div>
  <div class="block surface1">
    <div class="swatch"></div>
    <span>Surface 1</span>
  </div>
  <div class="block surface2">
    <div class="swatch"></div>
    <span>Surface 2</span>
  </div>
  <div class="block surface3">
    <div class="swatch"></div>
    <span>Surface 3</span>
  </div>
  <div class="block surface4">
    <div class="swatch"></div>
    <span>Surface 4</span>
  </div>
</div>
