.widget.social-media {

	a:link,
	a:hover {
		text-decoration: none;

		svg {
			width: 36px;
			height: 36px;

			@extend .p-0;
			@extend .m-0;
		}

		@extend .px-3;
	}
}

.widget--web-vitals {
	strong {
		@extend .d-inline;
		@extend .me-3;
	}

	.is-good {
		@extend .text-success;
	}

	.is-bad {
		@extend .text-danger;
	}

	dl {
		>div {
			@extend .d-inline;
		}

		dt,
		dd {
			@extend .d-inline;
			@extend .me-3;
		}

		@extend .text-warning;
		@extend .d-inline;
	}

	@extend .text-center;
}

#footer {
	bottom: 0;
	left: 0;
	color: var(--bs-tertiary-color);
	background-color: var(--bs-tertiary-bg);
	padding-top: 100vh;

	a {
		// color: $base2;
		text-decoration: none;

		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}

	@extend .z-2;
	@extend .position-sticky;
	@extend .w-100;
	@extend .h-100;
	@extend .mb-0;

	#hb,
	#ht {
		@extend .d-flex;
		@extend .justify-content-center;
	}

	#hb {
		height: 200px;
		margin-left: -100px;
		margin-top: -13px;
		opacity: 0.6;
	}

	#ht {
		height: 400px;
		opacity: 0.2;
	}
}
