.widget.social-media {
	a:link,
	a:hover {
		text-decoration: none;

		svg {
			width: 36px;
			height: 36px;

			@extend .p-0;
			@extend .m-0;
		}

		@extend .px-3;
	}
}

.widget--web-vitals {
	strong {
		@extend .d-inline;
		@extend .me-3;
	}

	.is-good {
		@extend .text-success;
	}

	.is-bad {
		@extend .text-danger;
	}

	dl {
		>div {
			@extend .d-inline;
		}

		dt,
		dd {
			@extend .d-inline;
			@extend .me-3;
		}

		@extend .text-warning;
		@extend .d-inline;
	}

	@extend .text-center;
}

#footer {
	padding: 250px 0 1rem;
	color: var(--bs-tertiary-color);
	background-color: var(--bs-tertiary-bg);

	a {
		text-decoration: none;

		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}

	.site-title {
		font-size: 2.5rem;
	}

	@extend .mb-0;

}