/*******************************************************************************
 * full bleed grid layout
 * @see https://ryanmulligan.dev/blog/layout-breakouts/
 * @see https://css-tricks.com/full-bleed/
 * @see https://css-tricks.com/almanac/properties/g/grid-template-columns/
 * @todo properly implement inside of a bootstrap container (fluid)
 ******************************************************************************/

/*******************************************************************************
 * content area
 ******************************************************************************/
main {
	padding-top: $heading-height + 30px;
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: var(--bs-body-bg);

	@extend .min-vh-100;
	@extend .mb-0;
}