.site-title {
	font-family: BahnPro, sans-serif;
	font-size: 17vw;

	animation: colorRotate 6s linear 0s infinite;

	// @todo clamp it
	// @see https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
	@include media-breakpoint-up(sm) {
		font-size: 12vw;
	}

	@include media-breakpoint-up(xl) {
		font-size: 125px;
	}

	font-weight: 700;
	line-height: 0.5;
	margin-bottom: 0;
	margin-top: 2rem;

	@extend .text-center;
	@extend .text-primary;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
			animation: colorRotate 6s linear 0s infinite;
		}
	}
}

#htt img {
	width: 300px;
	position: absolute;
	left: 0;
	opacity: 0.3;
}
