{{- $config := site.Params.dnb.head.styles -}}
{{- if eq "external" ($config.method | default "postcss") -}}
  {{- $entrypoint := $config.entrypoint | default "scss/style.scss" -}}
  {{- $styles := resources.Get $entrypoint -}}
  {{- $styles = $styles | resources.ToCSS $config.options -}}
  {{- $styles = $styles | resources.PostCSS -}}
  {{- $styles = $styles | minify -}}
  {{- $styles = $styles | fingerprint "sha512" -}}
  <link
    rel="stylesheet"
    media="all"
    integrity="{{- $styles.Data.Integrity -}}"
    href="{{- $styles.Permalink -}}" />
{{- end -}}
