{{- /*
# preventing Firefox FOUC warning

Firefox tends to have FOUC and a message in the console: "Layout was forced
before the page was fully loaded. If stylesheets are not yet loaded this
may cause a flash of unstyled content." This disappears funnily enough by
adding this simple fix right before the closing header tags.

see https://bugzilla.mozilla.org/show_bug.cgi?id=1404468
*/ -}}
<script>
const FF_FOUC_FIX = true;
</script>
<script data-no-cookie async data-api="/_hive" src="/bee.js"></script>
