{{ if in .context.Params.tags "100DaysToOffload" }}
  {{- $tag100 := (index site.Taxonomies.tags "100daystooffload") -}}
  {{- $allPosts := $tag100.Pages -}}
  {{- $amount := len $allPosts -}}
  <div class="alert alert-selenized mb-3" role="alert">
    <p class="alert-heading">
      This post is part of <a href="/blog/2022/100-days-to-offload/" class="alert-link">#100DaysToOffload</a> (total posts: {{- $amount -}})
    </p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Status"
            style="width: {{- $amount -}}%" aria-valuenow="{{- $amount -}}"
            aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
{{ end }}

