<section class="section--content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info d-flex align-items-center" role="alert">
          {{ partialCached "bsicon.html" "tags-fill" "tags-fill" -}}
          <div>
            I am taking part in the <a href="/blog/2022/100-days-to-offload/">#100Days<wbr>To<wbr>Offload</a> project... 100 posts within a year. <a href="/tags/100daystooffload/">Read the posts</a>...
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
