<section class="section--content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-warning" role="alert">
          {{ "Does this loo*k* weird t*o* you? It does. I am working on it. The site is current*l*y in a state of f*l*ux. I am *i*tera*t*ing on the de*s*ign and implementing a new theme in dark and light mode while fighting my inner *c*ritic. 🐻 Bear with me in t*h*ese hard times." | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>
