---
import '@styles/theme.css';
import Layout from '@layouts/DefaultPage.astro';
import Section from '@components/fragments/Section.astro';
import Heading from '@components/Heading.astro';
import Button from '@components/Button.astro';
---

<Layout>
  <Heading>Buttons</Heading>
  <Section>
    <Heading level={3}>Color Variants</Heading>
    <Button>Primary (implicit)</Button>
    <Button theme="primary">Primary (explicit)</Button>
    <Button theme="secondary">Secondary</Button>
    <Button theme="contrast">Contrast</Button>
  </Section>

  <Section>
    <Heading level={3}>Button Variants outlines</Heading>
    <Button outline>Primary (implicit)</Button>
    <Button
      theme="primary"
      outline
      >Primary (explicit)</Button
    >
    <Button
      theme="secondary"
      outline
      >Secondary</Button
    >
    <Button
      theme="contrast"
      outline
      >Contrast</Button
    >
  </Section>

  <Section>
    <Heading level={3}>Button Sizes</Heading>
    <Button size="xs">Extra small</Button>
    <Button size="sm">Small</Button>
    <Button size="base">Base (explicit)</Button>
    <Button>Base (implicit)</Button>
    <Button size="lg">Large</Button>
    <Button size="xl">Extra large</Button>
  </Section>

  <Section>
    <Heading level={3}>Disabled Button</Heading>
    <Button disabled>Disabled primary</Button>
  </Section>

  <Section>
    <Heading level={3}>Block Button</Heading>
    <div class="flex flex-col">
      <Button block>Block</Button>
    </div>
  </Section>
</Layout>
