<h1 class="navbar-brand">
  {{- if site.Params.dnb.theme.logo -}}
  <a href="{{- site.BaseURL | relLangURL -}}">
    <img class="rounded-circle" src="{{- site.Params.dnb.theme.logo | absURL -}}" alt="Logo of {{ site.Title -}}"
         height="{{- site.Params.dnb.theme.logo_height -}}" width="{{- site.Params.dnb.theme.logo_width -}}">
    {{- if site.Params.dnb.theme.show_title -}}
    {{- site.Title -}}
    {{- end -}}
  </a>
  {{- else -}}
  <a href="{{- site.BaseURL | relLangURL -}}">
    {{- site.Title -}}
  </a>
  {{- end -}}
</h1>
