---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="underconstruction"><span>{text}</span></div>

<style>
  @reference "@styles/theme.css";

  .underconstruction {
    background: repeating-linear-gradient(
      45deg,
      var(--color-gray-950),
      var(--color-gray-950) 20px,
      oklch(85.2% 0.199 91.936) 20px,
      oklch(85.2% 0.199 91.936) 40px
    );
    color: var(--color-gray-50);
    text-align: center;
    font-size: 24px;
    text-shadow:
      2px 2px 0 var(--color-gray-950),
      -2px 2px 0 var(--color-gray-950),
      2px -2px 0 var(--color-gray-950),
      -2px -2px 0 var(--color-gray-950);

    span {
      background-color: rgba(var(--color-gray-950), 0.75);
      border-radius: 100%;
    }
  }
</style>
