{{- $post := . -}}
{{- $last_modified := $post.Lastmod.Format "Monday, January 2, 2006 at 15:04 MST" -}}
{{- $githash := partialCached "func/getGitHash.html" $post $post -}}
{{- $hashlink := "" -}}
{{- with $githash }}
  {{- $hashlink = (printf "[<a href=\"https://github.com/davidsneighbour/kollitsch.dev/commit/%s\">%s</a>]"
                          $post.GitInfo.Hash
                          $githash)
  -}}
{{- end -}}
<div class="gap-2 d-flex fontsize-1">
	<div>
		{{- partialCached "bsicon.html" "github" "github" }}
	</div>
	<div>
		<span>Last Modified: {{ $last_modified -}}</span>
		{{ with $hashlink }}
			<span>{{- . | safeHTML }}</span>
			<span>
				{{- partialCached "bsicon.html" "binoculars-fill" "binoculars-fill" }}
				<a href="https://github.com/davidsneighbour/kollitsch.dev/blame/main/content/{{ $post.File.Path }}"
					target="_blank" rel="nofollow,noreferrer">View history
				</a>
			</span>
		{{ end }}
	</div>
</div>
