name: Update Netlify configuration
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    name: Update Netlify configuration
    runs-on: ubuntu-latest
    steps:
      - id: gohugohugo
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: "gohugoio/hugo"
          excludes: "prerelease,draft"
      - uses: actions/checkout@v2
      - name: Edit Hugo Version
        uses: ciiiii/toml-editor@1.0.0
        with:
          file: "netlify.toml"
          key: "context.production.environment.HUGO_VERSION"
          value: "${{ steps.gohugohugo.outputs.release }}"
      - name: Create Pull Request
        id: createpr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: "chore(config): update Netlify configuration"
          signoff: true
          branch: config/netlify
          title: "Update GoHugo version in netlify.toml"
          body: "Update netlify.toml with current latest GoHugo version number"
          assignees: "davidsneighbour"
          reviewers: "davidsneighbour"
      - name: Auto approve
        if: steps.createpr.outputs.pull-request-operation == 'created'
        uses: juliangruber/approve-pull-request-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.cpr.outputs.pull-request-number }}
