---
// @todo refactor and comment
import type { CollectionEntry } from "astro:content";
import Heading from "@components/content/typography/Heading.astro";
import Github from "@components/content/metadata/Github.astro";
import PublishData from "@components/content/metadata/PublishData.astro";
import Share from "@components/content/metadata/Share.astro";
import Tags from "@components/content/metadata/Tags.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post }: Props = Astro.props;
---

<Heading level={2}>Meta Information</Heading>
<div class="flex flex-col">
  <PublishData post={post} />
  <Github post={post} />
  <Tags post={post} />
  <Share post={post} />
</div>
