---
// @todo refactor and comment
import type { CollectionEntry } from "astro:content";
import IconLink from "@components/shared/links/IconLink.astro";
import { formatDate, getVSCodeUrlById } from "@utils/content.ts";
import { Icon } from "astro-icon/components";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post }: Props = Astro.props;
const vscodeURL = getVSCodeUrlById(post.id);
const isDev = import.meta.env.DEV;
const date = new Date(post.data.date);
const formattedPublishDate = formatDate(date);
const metaDate = "date:" + formatDate(date, "YYYY-MM-DD");
---

<div
  class="flex flex-row items-center justify-start gap-2"
  data-pagefind-meta={metaDate}
>
  <div class="w-6 flex-none">
    <Icon name="calendar3" />
  </div>
  <div class="flex flex-row flex-wrap items-center justify-start gap-2">
    <span>Published: {formattedPublishDate}</span>
    {
      post.data.lastModified && (
        <span>(Last Modified: {post.data.lastModified})</span>
      )
    }
    {
      isDev && (
        <IconLink
          href={vscodeURL}
          icon="pencil"
        />
      )
    }
  </div>
</div>
