---
// @todo refactor and comment
import type { NormalizedTag } from "@utils/tags.ts";
import { tagUrl } from "@utils/tags.ts";

export interface Props {
  tags: NormalizedTag[];
}

const { tags }: Props = Astro.props;
---

<ul class="flex flex-wrap gap-2">
  {
    tags.map(t => (
      <li>
        <a
          href={tagUrl(t.id)}
          class="inline-flex items-center rounded-2xl bg-neutral-200 px-3 py-1 text-sm hover:opacity-80 dark:bg-neutral-800"
          aria-label={`#${t.label}`}
        >
          <span
            class="mr-1"
            aria-hidden="true"
          >
            #
          </span>
          {t.label}
        </a>
      </li>
    ))
  }
</ul>
